@mixin donut-widget-component-base() {
    .widget-panel-content.donut-widget {

    }
}

@mixin donut-widget-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);

    .widget-panel-content.donut-widget {
        
    }

}