<div fxFlexLayout="column" fxFlexFill>
  <!--<app-dboard-header *ngIf="!viewEditMode" fxFlex="1 1 50px" (addWidget)="addNewWidget()"></app-dboard-header>-->
  <app-dboard-content fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="stretch stretch" (widgetsLayoutUpdate)="widgetsLayoutUpdate($event)" [rerender]="rerender" [widgets]="widgets$ | async" [viewEditMode]="viewEditMode"></app-dboard-content>
</div>
<ng-template #dashboardNavbarTmpl>
    <a mat-button class="navbar-item" routerLink="dashboard">
        <span class="dashboard-name">[[ Dashboard name ]]</span>
    </a>
    <span class="flex-spacer"></span>
    <span class="navbar-item nav-add-new-widget" *ngIf="!(viewEditMode)">
        <button mat-raised-button class="mat-elevation-z0" (click)="addNewWidget()">
            <mat-icon fontSet="denali" fontIcon="d-add" color="primary"></mat-icon>
            <span>Add Widget</span>
        </button>
    </span>

    <span class="navbar-item nav-add-new-widget">
        <time-picker (timeSelected)="timeUpdated($event)" xPosition="before"></time-picker>
        <theme-picker mat-button></theme-picker>
    </span>
    
    <!--<span class="navbar-item nav-close-edit-view" *ngIf="viewEditMode$ | async">
        <button mat-raised-button (click)="closeViewEditMode()">
          <mat-icon>reply</mat-icon>
        </button>
      </span>-->
</ng-template>
