<div fxFlexLayout="column" fxFlexFill>
  <!--<app-dboard-header *ngIf="!viewEditMode" fxFlex="1 1 50px" (addWidget)="addNewWidget()"></app-dboard-header>-->
  <app-dboard-content fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="stretch stretch" (widgetsLayoutUpdate)="widgetsLayoutUpdate($event)" [rerender]="rerender" [widgets]="widgets$ | async" [dashboardMode]="dashboardMode$ | async"></app-dboard-content>
</div>
<ng-template #dashboardNavbarTmpl>
    <!-- <a mat-button class="navbar-item" routerLink="dashboard">     
        <span class="dashboard-name">[[ Dashboard name ]]</span>
    </a> -->

    <inline-editable class="navbar-item" [fieldValue]="'Dashboard Name'" [minLength]="3" [maxLength]="25" (updatedValue)="eventTriggered($event)">
    </inline-editable>

    <span class="flex-spacer"></span>
    <span class="navbar-item nav-add-new-widget" *ngIf="!(viewEditMode)">
        <button mat-raised-button class="mat-elevation-z0" [matMenuTriggerFor]="dashboardAvailableWidgetsMenu">
            <mat-icon fontSet="denali" fontIcon="d-add"></mat-icon>
            <span>Add Widget</span>
        </button>
        <mat-menu #dashboardAvailableWidgetsMenu="matMenu" [xPosition]="menuXAlignValue" [overlapTrigger]="false" class="nav-bar-dropmenu dashboard-available-widgets-menu" xPosition="before">
            <ng-template matMenuContent>
                <div class="available-widget-output">
                    <div class="widget-types">
                        <button mat-raised-button class="widget-type-selector mat-elevation-z0"  
                        *ngFor="let wtype of availableWidgetTypes"
                        (click)="addNewWidget(wtype)">
                            <span class="widget-type-icon {{ wtype.iconClass }}"></span>
                            <span class="widget-type-label">{{ wtype.label }}</span>
                        </button>
                    </div>
                </div>
            </ng-template>
        </mat-menu>
    </span>

    <!-- <color-picker (newColor)="eventTriggered($event)" [color]="'#000001'"> </color-picker> -->

    <time-picker class="navbar-item nav-date-time-picker" (timeSelected)="eventTriggered($event)" [xPosition]="menuXAlignValue"></time-picker>

    <!--<simple-time-picker xPosition="before"></simple-time-picker>-->
    <span class="navbar-item nav-dashboard-actions">
        <button mat-raised-button class="mat-elevation-z0" [matMenuTriggerFor]="dashboardActionMenu">
            <span>Dashboard Actions</span>
            <mat-icon fontSet="denali" fontIcon="d-arrow-down"></mat-icon>
        </button>
        <mat-menu #dashboardActionMenu="matMenu" [overlapTrigger]="false" class="nav-bar-dropmenu dashboard-actions-menu" xPosition="before">
            <ng-template matMenuContent>
                <button mat-menu-item (click)="click_cloneDashboard($event)">
                    <mat-icon fontSet="denali" fontIcon="d-duplicate"></mat-icon>
                    <span>Clone</span>
                </button>
                <button mat-menu-item (click)="click_shareDashboard($event)">
                    <mat-icon fontSet="denali" fontIcon="d-share"></mat-icon>
                    <span>Share</span>
                </button>
                <button mat-menu-item (click)="click_deleteDashboard($event)">
                    <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
                    <span>Delete</span>
                </button>
            </ng-template>
        </mat-menu>
    </span>

    <span class="navbar-item nav-theme-picker">
        <theme-picker mat-button></theme-picker>
    </span>
    
</ng-template>
