/* DASHBOARD CONTAINER COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)

@mixin dashboard-component-base() {
    .app-dashboard {
        display: flex;
        flex: 1 1 100%;
    }

    // NAVBAR PORTAL ITEMS 
    .nav-close-edit-view {
        .mat-raised-button {
            ///@include mat-elevation-transition;
            @include transition-property(background-color);
            @include transition-duration(.3s);
            @include mat-elevation(0);
            padding: 0;
            min-width: 32px;

            &,
            .mat-icon {
                width: 32px;
                height: 32px;
            }
        }
    }
}

@mixin dashboard-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);

    .app-dashboard { }

    // 
    .nav-close-edit-view {
        .mat-raised-button:hover {
            background-color: map-get($accent, A200);
        }
    }
}
