<a routerLink="/d/{{dashboard.id}}{{dashboard.fullPath}}" (click)="menuAction('navigateTo')"class="dnav-dashboard-link flex-spacer">
    <mat-icon class="dnav-dashboard-icon" fontSet="denali" fontIcon="d-dashboard-tile"></mat-icon>
    <span class="dnav-dashboard-label">{{dashboard.name}}</span>
</a>
<span class="dnav-dashboard-menu">
    <button mat-icon-button (click)="clickMore($event)">
        <mat-icon fontSet="denali" fontIcon="d-more-vertical"></mat-icon>
    </button>
</span>
<span class="dnav-menu-trigger"
    [matMenuTriggerFor]="dnavDashboardItemMenu" 
    (menuOpened)="menuState(true)"
    (menuClosed)="menuState(false)"
    #dashboardMenuTrigger></span>
<span class="dnav-menu-trigger last-child"
    [matMenuTriggerFor]="dnavMiniNavigator" 
    (menuOpened)="menuState(true); miniNav.menuOpen = true;"
    (menuClosed)="menuState(false); miniNav.menuOpen = false;"
    #dashboardMiniNavTrigger></span>
<mat-menu class="dnav-cdk-dashboard-menu" xPosition="after" #dnavDashboardItemMenu="matMenu" style="transform: translate3d(30px,-32px,0);">
    <button mat-menu-item (click)="menuAction('openNewTab')">
        <mat-icon fontSet="denali" fontIcon="d-external"></mat-icon>
        <span>Open in new tab</span>
    </button>
    
    <button mat-menu-item (click)="menuAction('moveDashboard')">
        <mat-icon fontSet="denali" fontIcon="d-folder-merge"></mat-icon>
        <span>Move Dashboard</span>
    </button>
    <!-- Hiding for now
    <button mat-menu-item>
        <mat-icon fontSet="denali" fontIcon="d-duplicate"></mat-icon>
        <span>Copy</span>
    </button>-->
    <button mat-menu-item (click)="menuAction('deleteDashboard')">
        <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
        <span>Move to trash</span>
    </button>
</mat-menu>
<mat-menu class="dnav-cdk-mini-navigator" xPosition="after" #dnavMiniNavigator="matMenu" style="transform: translate3d(30px, -31px, 0);">
    <div mat-menu-item (click)="$event.stopPropagation();" [disableRipple]="true">
        <mini-navigator mode="move" type="dashboard" [path]="dashboard.fullPath" 
            (navigationCancel)="miniNavTrigger.closeMenu()"
            (directorySelected)="miniNavAction($event)"
            #miniNav></mini-navigator>
    </div>
</mat-menu>
