<mat-card class="alert-configuration-wrapper mat-elevation-z0">
    <mat-card-header>
        <mat-toolbar color="primary">
            <span>
                <button mat-icon-button mat-dialog-close>
                    <mat-icon fontSet="denali" fontIcon="d-share-arrow"></mat-icon>
                </button>
            </span>
            <span class="flex-spacer"></span>
            <span>
                <!-- time controls -->
            </span>
        </mat-toolbar>
    </mat-card-header>
    <mat-card-content>
        <div class="preview-wrapper">
            <div class="graph-wrapper">
                <div class="graph-output">
                        <div #dygraph class="chart"
                        dygraphsChart
                        [chartType]="'line'"
                        [data]="chartData"
                        [size]="size"
                        [options]="options">
                    </div>
                    <div class="dygraph-legend" #graphLegend></div>
                </div>
            <div class="loader" *ngIf="nQueryDataLoading > 0"></div>
            <div class="error" *ngIf="error" (click)="showError()">
                <mat-icon>error</mat-icon>
            </div>
            </div>
            <!--<div class="legend-wrapper">
                legend
            </div>-->
        </div>
        <div class="controls-wrapper">
            <mat-toolbar class="config-toolbar">
                <div class="toolbar-item alert-name-detail">
                    <span class="namespace">Namespace: {{data.namespace}}</span>
                    <span class="alert-name">{{data.alertName}}</span>
                </div>
            </mat-toolbar>
            <div class="alert-control-steps">
                <div class="step-section queries-section">
                    <div class="step-section-label">
                        <span class="step-section-label-text">1. Queries</span>
                    </div>
                    <div class="step-section-content">
                        <!-- LOOP OF QUERY ITEMS 
                             NOTE: this component has INPUTS... just none now while developing -->
                        <query-editor-proto [label]="'Q1'" [query]="query" (queryOutput)="updateQuery($event);"></query-editor-proto> 
                    </div>
                </div>
                <div class="step-section threshold-section">
                    <div class="step-section-label">
                        <span class="step-section-label-text">2. Threshold</span>
                    </div>
                    <div class="step-section-content">
                        <!-- this might change to radio buttons -->
                        <div class="form-group select-threshold-type">
                            <div class="form-label">Select threshold type</div>
                            <nav mat-tab-nav-bar class="threshold-type-toggle-options sliding-button-group">
                                <a mat-tab-link
                                    [active]="selectedThresholdType === 'simple'"
                                    (click)="changeThresholdType('simple')">
                                    Simple
                                </a>
                                <a mat-tab-link
                                    [active]="selectedThresholdType === 'composite'"
                                    (click)="changeThresholdType('composite')">
                                    Composite
                                </a>
                                <a mat-tab-link
                                    [active]="selectedThresholdType === 'pop'"
                                    (click)="changeThresholdType('pop')">
                                    Period/Period
                                </a>
                            </nav>
                            
                        </div>
                        <div>This is a definition of simple thresholds. Lorem ipsum dolor sit amet, consectetur adipiscing elit sedio.</div>
                        <!-- select query -->
                        <div class="form-group select-query">
                            <div class="form-label">Select Query</div>
                            <mat-form-field appearance="fill">
                                <mat-label></mat-label>
                                <mat-select placeholder="Select" disableOptionCentering>
                                    <mat-option value="option">Option</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-group sliding-window">
                            <div class="form-label">Sliding Window</div>
                            <!-- sentence-like form -->
                            <div class="sentence-chain-form">
                                <div class="sentence-item">
                                    <span>Trigger when the metric is</span>
                                </div>
                                <div class="sentence-item">
                                    <mat-form-field appearance="fill">
                                        <mat-label></mat-label>
                                        <mat-select placeholder="Select" disableOptionCentering>
                                            <mat-option value="option">Option</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="sentence-item">
                                    <span>the threshold</span>
                                </div>
                                <div class="sentence-item">
                                    <mat-form-field appearance="fill">
                                        <mat-label></mat-label>
                                        <mat-select placeholder="Select" disableOptionCentering>
                                            <mat-option value="option">Option</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="sentence-item">
                                    <span>during the last</span>
                                </div>
                                <div class="sentence-item">
                                    <mat-form-field appearance="fill">
                                        <mat-label></mat-label>
                                        <mat-select placeholder="Select" disableOptionCentering>
                                            <mat-option value="option">Option</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="form-group bad-threshold-setting">
                            <div class="form-label">Bad</div>
                            <mat-form-field appearance="fill">
                                <mat-label></mat-label>
                                <input matInput placeholder="Enter value">
                            </mat-form-field>
                        </div>
                        <div class="form-group warning-threshold-setting">
                            <div class="form-label">Warning</div>
                            <mat-form-field appearance="fill">
                                <mat-label></mat-label>
                                <input matInput placeholder="Enter value">
                            </mat-form-field>
                        </div>
                        <div class="form-group recovery-threshold-setting">
                            <div class="form-label">Recovery</div>
                            <mat-form-field appearance="fill">
                                <mat-label></mat-label>
                                <input matInput placeholder="Enter value">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="step-section notification-section">
                    <div class="step-section-label">
                        <span class="step-section-label-text">3. Notification</span>
                    </div>
                    <div class="step-section-content">
                        <div class="form-group alert-message">
                            <div class="form-label">Alert recipients</div>
                            <!-- <mat-form-field appearance="fill"> -->
                                <mat-label></mat-label>
                                <alert-configuration-contacts></alert-configuration-contacts>
                            <!-- </mat-form-field> -->
                            
                        </div>
                        <div class="form-group alert-message">
                            <div class="form-label">Alert message</div>
                            <mat-form-field appearance="fill">
                                <mat-label></mat-label>
                                <textarea matInput placeholder="Enter alert message"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="form-group alert-message">
                            <div class="form-label">Grouping rules</div>
                            <mat-form-field appearance="fill">
                                <mat-label></mat-label>
                                <input matInput placeholder="select tag keys">
                            </mat-form-field>
                        </div>
                        <div class="form-group alert-message">
                            <div class="form-label">Labels</div>
                            <mat-form-field appearance="fill">
                                <mat-label></mat-label>
                                <input matInput placeholder="Enter labels">
                            </mat-form-field>
                        </div>
                        <div class="form-group alert-message">
                            <div class="form-label">Runbook ID</div>
                            <mat-form-field appearance="fill">
                                <mat-label></mat-label>
                                <input matInput placeholder="Enter runbook id">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary">Save Alert</button>
        <button mat-stroked-button mat-dialog-close color="primary">Cancel</button>
    </mat-card-actions>
</mat-card>
