@mixin alert-configuration-dialog-component-base() {

    .alert-configuration-dialog-component {
        display: flex;
        flex: 1;
        height: 100%;
        max-height: 100%;

        // top level wrapper - basically .mat-card
        .alert-configuration-wrapper {
            border-radius: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            flex: 1;
            height: 100%;
            max-height: 100%;

            .mat-card-header {
                &,
                .mat-toolbar {
                    height: 48px;
                }
            }

            .mat-card-header-text {
                display: none;
            }

            .mat-card-content {
                padding: 0;
                flex: 1;
                margin-bottom: 0;
            }

            .mat-card-actions {
                padding: 0 16px;
                max-width: 100%;
                width: 100%;
                height: 60px;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
                display: flex;
                align-items: center;

                &:last-child {
                    margin-bottom: 0;
                }

                .mat-button,
                .mat-flat-button,
                .mat-stroked-button {
                    &:not(:last-child) {
                        margin-right: 6px;
                    }
                }
            }
        }

        // content area wrapper 
        .mat-card-content {
            display: flex;
            flex-direction: column;
        }

        // preview area - graph and legend
        .preview-wrapper {
            padding: 8px 16px;
            min-height: 180px;
            display: flex;

            .graph-wrapper,
            .legend-wrapper {
                flex: 1;
                display: flex;
            }

            .graph-wrapper {
                .graph-output {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .legend-wrapper {
                margin-left: 16px;
            }
        }

        // config toolbar
        .config-toolbar.mat-toolbar {
            background: transparent;

            .toolbar-item {
                display: flex;
            }

            .alert-name-detail {
                flex-direction: column;
                .namespace {
                    font-size: 10px;
                }
            }
        }

        // configuration area - config controls
        .controls-wrapper {
            padding: 0;
            flex: 1;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            .alert-control-steps {
                padding: 8px 0 0;
                flex: 1;
                overflow: auto;
            }

            .step-section {
                margin-bottom: 8px;

                .step-section-label {
                    border-top: 1px solid #E0E0E0;
                    
                    .step-section-label-text {
                        display: inline-block;
                        padding: 2px 24px 2px 8px;
                        background-color: #E0E0E0;
                        border-bottom-right-radius: 20px 24px;
                    }
                }

                .step-section-content {
                    padding: 8px;
                }
            }

            // form stuff
            .form-group {
                display: flex;
                align-items: flex-start;

                &:not(:last-child),
                &:not(.select-threshold-type) {
                    margin-bottom: 24px;
                }
                
                .form-label,
                .toggle-wrap {
                    height: 32px;
                    width: 180px;
                    margin-right: 16px;
                    line-height: 1.2;
                    text-align: right;
                    font-size: 12px;

                    &.vertical-center {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                    }

                    .indicator-square {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        margin-right: 6px;
                    }
                }

                &.sliding-window {
                    display: flex;
                    flex: 1;

                    .sentence-item {
                        display: inline-flex;
                        align-items: center;
                        height: 36px;

                        &:not(:last-child) {
                            margin-right: 8px;
                        }
                    }
                }

                &.alert-message {
                    .message-subject-body {
                        flex: 1;
                        display: flex;
                        flex-direction: column;

                        .mat-form-field {
                            width: 80%;
                            min-width: 320px;

                            &:not(:last-child) {
                                margin-bottom: 8px;
                            }

                            textarea {
                                min-height: 100px;
                            }
                        }
                    }
                }

                &.alert-grouping-rules,
                &.alert-recipients,
                &.alert-labels {
                    .mat-form-field {
                        width: 100%;
                        max-width: 60%;
                    }
                }

                &.alert-grouping-rules {
                    margin-top: 24px
                }
            }
        }

        .threshold-type-toggle-options {
            a.mat-tab-link:not(:last-of-type) {
                margin-right: 10px;
            }

        }

        .threshold-type-options {
            display: flex;
            flex-direction: column;

            .mat-hint {
                margin-top: 8px;
            }
        }

        .recovery-options {
            .recovery-option {
                display: flex;
                align-items: center;

                &:not(:last-child) {
                    margin-bottom: 8px;
                }

                .mat-form-field {
                    margin-left: 16px;
                }

                .info-hint {
                    margin-left: 8px;
                }
                
            }
        }

        .notify-when-options {
            display: flex;
            padding-top: 0;

            .mat-list-option.mat-list-option {
                height: 32px;

                .mat-list-item-content {
                    flex-direction: row;
                    height: 32px;

                    .mat-list-text {
                        padding-left: 10px;
                        padding-right: 0;
                        white-space: nowrap;
                    }
                }
            }

            .mat-pseudo-checkbox-checked::after {
                top: calc(50% - 3.6px);
                left: calc(50% - 5px);
                width: 10px;
                height: 5px;
            }
        }

        

        .show-advanced-threshold-toggle {
            width: 100%;
            display: flex;
            flex-direction: column;

            a.toggle-action {
                height: 32px;
                display: inline-flex;
                align-self: flex-start;
                align-items: center;
                font-size: 12px;
                cursor: pointer;

                .mat-icon {
                    font-size: 18px;
                    width: 18px;
                    height: 18px;
                }

                .mat-icon:first-child {
                    margin-right: 8px;
                }
            }

            .form-group {
                display: none;
            }

            &.is-open {
                .form-group {
                    display: flex;
                }
            }

            .info-hint {
                margin-left: 8px;
            }

        }

        .info-hint {
            height: 32px;
            display: inline-flex;
            align-items: center;
            font-size: 10px;

            .mat-icon {
                font-size: 16px;
                width: 16px;
                height: 16px;

                &:first-child {
                    margin-right: 6px;
                }
            }
        }

        


    }



    // CDK ITEMS
    .alert-configuration-dialog-panel {
        //background-color: pink;
        
        .mat-dialog-container {
            display: flex;
            padding: 0;
            border-radius: 0;
        }
    }
}

@mixin alert-configuration-dialog-component-theme($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $widget: map-get($theme-config, widgets);
    $status: map-get($theme-config, status);
    $is-dark: map-get($theme-config, is-dark);

    $link-color: map-get($foreground, link);
    $divider-color: map-get($foreground, divider);

    .alert-configuration-dialog-component {

        .alert-configuration-wrapper {

            .mat-card-actions {
                border-top: 1px solid $divider-color;
            }
        }

        .preview-wrapper {
            .graph-wrapper {
                .graph-output {
                    background: $divider-color;
                }
            }
        }

        .config-toolbar.mat-toolbar {
            background: transparent;
            border-bottom: 1px solid $divider-color;
        }

        .controls-wrapper {
            .form-group {
                .form-label {
                    .indicator-square {
                        &.is-bad {
                            background-color: map-get($status, error);
                        }
                        &.is-warning {
                            background-color: map-get($status, warning);
                        }
                        &.is-good {
                            background-color: map-get($status, success);
                        }
                    }
                }
            }
        }

        .threshold-type-toggle-options {

            &.mat-tab-nav-bar {
                a.mat-tab-link.mat-tab-label-active {
                    color: #ffffff;
                }

                .mat-ink-bar {
                    background-color: $link-color;
                }
            }

        }

        .show-advanced-threshold-toggle {
            
            a.toggle-action {
                color: $link-color;

                .mat-icon {
                    color: $link-color;
                }
            }

            .form-group:first-of-type {
                margin-top: 16px;
            }
        }

        .notify-when-options {
            .mat-pseudo-checkbox {
                color: map-get($primary, default);
            }

            .mat-pseudo-checkbox-checked {
                background: map-get($primary, default);
            }
        }
    }

}