@mixin alert-configuration-dialog-component-base() {

    .alert-configuration-dialog-component {
        display: flex;
        flex: 1;
        height: 100%;
        max-height: 100%;

        // top level wrapper - basically .mat-card
        .alert-configuration-wrapper {
            border-radius: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            flex: 1;
            height: 100%;
            max-height: 100%;

            .mat-card-header {
                &,
                .mat-toolbar {
                    height: 48px;
                }
            }

            .mat-card-header-text {
                display: none;
            }

            .mat-card-content {
                padding: 0;
                flex: 1;
                margin-bottom: 0;
            }

            .mat-card-actions {
                padding: 0 16px;
                max-width: 100%;
                width: 100%;
                height: 60px;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
                display: flex;
                align-items: center;

                &:last-child {
                    margin-bottom: 0;
                }

                .mat-button,
                .mat-flat-button,
                .mat-stroked-button {
                    &:not(:last-child) {
                        margin-right: 6px;
                    }
                }
            }
        }

        // content area wrapper 
        .mat-card-content {
            display: flex;
            flex-direction: column;
        }

        // preview area - graph and legend
        .preview-wrapper {
            padding: 8px 16px;
            min-height: 180px;
            display: flex;

            .graph-wrapper,
            .legend-wrapper {
                flex: 1;
                display: flex;
            }

            .graph-wrapper {
                .graph-output {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .chart {
                        display: flex;
                        flex: 1;
                    }
                }
                .loader{
                    position: absolute;
                    left: 10px;
                    top: 50px;
                    z-index: 1;
                    width: 24px;
                    height: 24px;
                    background-image: url(/assets/denali-loader.svg);
                    background-color: transparent;
                }
    
                .error{
                    position: absolute;
                    left: 10px;
                    top: 50px;
                    z-index: 1;
                    width: 30px;
                    height: 30px;
                    color: red;
                }
            }

            .legend-wrapper {
                margin-left: 16px;
            }
        }

        // config toolbar
        .config-toolbar.mat-toolbar {
            background: transparent;

            .toolbar-item {
                display: flex;
            }

            .alert-name-detail {
                flex-direction: column;
                .namespace {
                    font-size: 10px;
                }
            }
        }

        // configuration area - config controls
        .controls-wrapper {
            padding: 0;
            flex: 1;
            overflow: hidden;
            display: flex;
            flex-direction: column;

            .alert-control-steps {
                padding: 8px 0 0;
                flex: 1;
                overflow: auto;

                .contacts {
                    .contacts-form {
                        width: 1000px;
                    }

                    .contacts-title {
                        font-weight: 600;
                        margin-bottom: 10px;
                    }

                    .indent {
                        padding-left: 5px;
                    }

                    .contacts-create-form {
                        display: flex;
                        // padding: 10px;
                        // padding-top: 15px;
                        flex-direction: row;
                    }

                    .text-field {
                        background:  #084b4e;
                    }

                    .labels {
                        text-align: right
                    }
            
                    .label {
                        height: 31px;
                        margin-bottom: 5px;
                        padding-right: 10px;
                    }
            
                    .selector {
                        height: 31px;
                        margin-bottom: 5px;
                    }

                   
                }
            }

            .step-section {
                margin-bottom: 8px;

                .step-section-label {
                    border-top: 1px solid #E0E0E0;
                    
                    .step-section-label-text {
                        display: inline-block;
                        padding: 2px 24px 2px 8px;
                        background-color: #E0E0E0;
                        border-bottom-right-radius: 20px 24px;
                    }
                }

                .step-section-content {
                    padding: 8px;
                }
            }

            // form stuff
            .form-group {
                display: flex;

                &:not(:last-child),
                &:not(.select-threshold-type) {
                    margin-bottom: 16px;
                }
                
                .form-label {
                    font-weight: bold;
                    width: 150px;
                    margin-right: 16px;
                }

                &.sliding-window {
                    display: flex;
                    flex: 1;

                    .sentence-item {
                        display: inline-flex;
                        align-items: center;
                        height: 36px;

                        &:not(:last-child) {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }

        .threshold-type-toggle-options {
            a.mat-tab-link:not(:last-of-type) {
                margin-right: 10px;
            }

        }


    }



    // CDK ITEMS
    .alert-configuration-dialog-panel {
        //background-color: pink;
        
        .mat-dialog-container {
            display: flex;
            padding: 0;
            border-radius: 0;
        }
    }
}

@mixin alert-configuration-dialog-component-theme($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $widget: map-get($theme-config, widgets);
    $is-dark: map-get($theme-config, is-dark);

    .alert-configuration-dialog-component {

        .alert-configuration-wrapper {

            .mat-card-actions {
                border-top: 1px solid map-get($foreground, divider);
            }
        }

        .preview-wrapper {
            .graph-wrapper {
                .graph-output {
                    // background: map-get($foreground, divider);
                }
            }
        }

        .config-toolbar.mat-toolbar {
            background: transparent;
            border-bottom: 1px solid map-get($foreground, divider);
        }

        .threshold-type-toggle-options {

            &.mat-tab-nav-bar {
                a.mat-tab-link.mat-tab-label-active {
                    color: #ffffff;
                }

                .mat-ink-bar {
                    background-color: map-get($foreground, link);
                }
            }

        }
    }

}