<mat-card class="alert-configuration-wrapper mat-elevation-z0" [formGroup]="alertForm">
    <mat-card-header>
        <mat-toolbar color="brand">
            <span class="flex-spacer"></span>
            <!-- NEED DATA MODEL TO WIRE THESE UP
            <time-picker class="navbar-item nav-date-time-picker" (timeSelected)="setDateRange($event)" [timezone]="dbTime.zone" [startTime]="dbTime.start" [endTime]="dbTime.end" [xPosition]="menuXAlignValue"></time-picker>
            <span class="navbar-item nav-timezone-toggle">
                <navbar-timezone-toggle [timezone]="dbTime.zone" (change)="setTimezone($event);"></navbar-timezone-toggle>
            </span>
            -->
            <span class="close-dialog-wrapper">
                <button class="close-dialog" mat-icon-button mat-dialog-close>
                    <mat-icon fontSet="denali" fontIcon="d-close"></mat-icon>
                </button>
            </span>
        </mat-toolbar>
    </mat-card-header>
    <mat-card-content>
        <div class="preview-wrapper">
            <div class="graph-wrapper">
                <div class="graph-output" #graphOutput>
                    <div #dygraph class="chart"
                        dygraphsChart
                        [chartType]="'line'"
                        [data]="chartData"
                        [size]="size"
                        [options]="options">
                    </div>
                    <div class="dygraph-legend" #graphLegend></div>
                </div>
                <div class="loader" *ngIf="nQueryDataLoading > 0"></div>
                <div class="error" *ngIf="error" (click)="showError()">
                    <mat-icon>error</mat-icon>
                </div>
            </div>
            <!--<div class="legend-wrapper">
                legend
            </div>-->
        </div>
        <div class="controls-wrapper">
            <mat-toolbar class="config-toolbar">
                <div class="toolbar-item alert-name-detail">
                    <span class="namespace">Namespace: {{data.namespace}}</span>
                    <div class="alert-name">
                        <inline-editable class="navbar-item" 
                            [fieldValue]="data.name"
                            [minLength]="3"
                            [maxLength]="100"
                            (updatedValue)="setAlertName($event)">
                        </inline-editable>
                        <!--<button mat-icon-button color="primary">
                            <mat-icon fontSet="denali" fontIcon="d-pencil"></mat-icon>
                        </button>-->
                    </div>
                </div>
            </mat-toolbar>
            <div class="alert-control-steps">
                <div class="error" *ngIf="data.error"> {{ data.error.message }} </div>
                <div class="step-section queries-section is-visible">
                    <div class="step-section-label">
                        <span class="step-section-label-text">1. Queries</span>
                    </div>
                    <div class="step-section-content">
                        <!-- LOOP OF QUERY ITEMS -->
                        <query-editor-proto [label]="'Q1'" [query]="queries[0]" [options]="{toggleMetric: false}" (queryOutput)="updateQuery($event);"></query-editor-proto> 
                    </div>
                </div>
                <div class="step-section threshold-section" formGroupName="threshold" [ngClass]="{'is-visible': queries && queries[0] && queries[0].metrics.length > 0}">
                <!--<div class="step-section threshold-section" formGroupName="threshold" [hidden]=" !data.id && !showDetail ">-->
                        <div class="step-section-label">
                            <span class="step-section-label-text">2. Threshold</span>
                        </div>
                        <div class="step-section-content">
                            <!-- this might change to radio buttons -->
                            <div class="form-group select-threshold-type">
                                <div class="form-label vertical-center"><strong>Select threshold type</strong></div>
                                <div class="threshold-type-options">
                                    <mat-radio-group formControlName="subType">
                                        <mat-radio-button value="singleMetric">Single</mat-radio-button>
                                        <mat-radio-button value="composite" disabled>Composite</mat-radio-button>
                                        <mat-radio-button value="periodOverPeriod" disabled>Period / Period</mat-radio-button>
                                    </mat-radio-group>
                                    <mat-hint>One metric with one or more static thresholds.</mat-hint>
                                </div>                                
                            </div>

                                    <!-- select query -->
                                    <div class="form-group select-query" formGroupName="singleMetric">
                                        <div class="form-label vertical-center"><strong>Select Metric</strong></div>
                                        <mat-form-field appearance="fill">
                                            <mat-select placeholder="Select Metric" formControlName="metricId" disableOptionCentering>
                                                <mat-option>None</mat-option>
                                                <mat-optgroup  *ngFor="let query of queries; let qindex=index" label="Q{{qindex + 1}}">
                                                    <mat-option *ngFor="let metric of query.metrics; let mindex = index" [value]="qindex + ':' + mindex">{{ metric.name || getExpressionLabel(qindex, mindex)}}</mat-option>
                                                </mat-optgroup>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-error *ngIf="alertForm.touched && thresholdSingleMetricControls.metricId.errors && thresholdSingleMetricControls.metricId.errors.required">Please select a metric</mat-error>
                                    </div>
                                    <div class="form-group sliding-window" formGroupName="singleMetric">
                                            <div class="form-label vertical-center"><strong>Sliding Window</strong></div>
                                            <!-- sentence-like form -->
                                            <div class="sentence-chain-form">
                                                <div class="sentence-item">
                                                    <span>Trigger when the metric is</span>
                                                </div>
                                                <div class="sentence-item">
                                                    <mat-form-field appearance="fill">
                                                        <mat-label></mat-label>
                                                        <mat-select placeholder="Select" formControlName="comparisonOperator" disableOptionCentering>
                                                            <mat-option value="above">above</mat-option>
                                                            <mat-option value="below">below</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="sentence-item">
                                                    <span>the threshold</span>
                                                </div>
                                                <div class="sentence-item">
                                                    <mat-form-field appearance="fill">
                                                        <mat-label></mat-label>
                                                        <mat-select placeholder="Select" formControlName="timeSampler" disableOptionCentering>
                                                            <mat-option value='at_least_once'>at least once</mat-option>
                                                            <mat-option value='all_of_the_times'>at all times</mat-option>
                                                            <mat-option value='on_avg'>on average</mat-option>
                                                            <mat-option value='in_total'>in total</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="sentence-item">
                                                    <span>during the last</span>
                                                </div>
                                                <div class="sentence-item">
                                                    <mat-form-field appearance="fill" floatLabel="never">
                                                        <mat-select placeholder="Select" formControlName="slidingWindow" disableOptionCentering>
                                                            <mat-option value=60>1 min</mat-option>
                                                            <mat-option value=300>5 min</mat-option>
                                                            <mat-option value=600>10 min</mat-option>
                                                            <mat-option value=900>15 min</mat-option>
                                                            <mat-option value=1800>30 min</mat-option>
                                                            <mat-option value=3600>1 hr</mat-option>
                                                            <mat-option value=21600>6 hr</mat-option>
                                                            <mat-option value=43200>12 hr</mat-option>
                                                            <mat-option value=86400>24 hr</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="form-group bad-threshold-setting" formGroupName="singleMetric">
                                            <div class="form-label"><span class="indicator-square is-bad"></span> <strong>Bad state</strong> when metric is {{alertStateDirection}} or equal to</div>
                                            <mat-form-field appearance="fill" floatLabel="never">
                                                <input matInput type="number" autocomplete="off" placeholder="Enter value" formControlName="badThreshold">
                                            </mat-form-field>
                                            <mat-error *ngIf="alertForm['controls'].threshold.errors && alertForm['controls'].threshold.errors.required">Bad or Warning state should not be empty</mat-error>
                                    </div>
                                    <div class="form-group warning-threshold-setting" formGroupName="singleMetric">
                                            <div class="form-label"><span class="indicator-square is-warning"></span> <strong>Warning state</strong> when metric is {{alertStateDirection}} or equal to</div>
                                            <mat-form-field appearance="fill" floatLabel="never">
                                                <input matInput type="number" autocomplete="off" placeholder="Enter value" formControlName="warnThreshold">
                                            </mat-form-field>
                                            <mat-error *ngIf="thresholdSingleMetricControls['warnThreshold'].errors && thresholdSingleMetricControls['warnThreshold'].errors.invalid">Warning state value should be {{ alertStateDirection=== 'above' ? 'less' : 'greater'}} than the Bad state value</mat-error>
                                        </div>
                                    

                                <div class="form-group recovery-threshold-setting" formGroupName="singleMetric">
                                        <div class="form-label"><span class="indicator-square is-good"></span> <strong>Alert will recover</strong> when metric is {{recoveryStateDirection}} or equal to</div>
                                        <div class="recovery-options">
                                            <div class="recovery-option">
                                                <mat-radio-button 
                                                    name="recoveryType"
                                                    value="minimum"
                                                    [checked]="thresholdRecoveryType === 'minimum'"
                                                    (change)="recoveryTypeChange($event)">configured threshold</mat-radio-button>
                                                <mat-hint class="info-hint">
                                                    <mat-icon fontSet="denali" fontIcon="d-information-circle"></mat-icon>
                                                    <span>Within 0.0001% of bad threshold (or warning threshold if specified).</span>
                                                </mat-hint>
                                            </div>
                                            <div class="recovery-option">
                                                <mat-radio-button
                                                    name="recoveryType"
                                                    value="specific"
                                                    [checked]="thresholdRecoveryType === 'specific'"
                                                    (change)="recoveryTypeChange($event)">reaches a value</mat-radio-button>
                                                <mat-form-field appearance="fill" floatLabel="never" style="margin-left: 16px;">
                                                    <input matInput type="number" autocomplete="off" placeholder="Enter value" formControlName="recoveryThreshold">
                                                </mat-form-field>
                                                <mat-error *ngIf="thresholdSingleMetricControls.recoveryThreshold.errors && thresholdSingleMetricControls.recoveryThreshold.errors.required">Recovery should not be empty</mat-error>
                                                <mat-error *ngIf="thresholdSingleMetricControls.recoveryThreshold.errors && thresholdSingleMetricControls.recoveryThreshold.errors.invalid">Recovery state value should be {{ alertStateDirection=== 'above' ? 'less' : 'greater'}} than the {{ thresholdSingleMetricControls.warnThreshold.value !== '' ? 'Warning' : 'Bad' }} state value</mat-error>

                                            </div>
                                        </div>
                                    </div>
                                
                            <div class="show-advanced-threshold-toggle" [ngClass]="{'is-open': showThresholdAdvanced}">
                                <div class="toggle-wrap">
                                    <a class="toggle-action" (click)="showThresholdAdvanced = !showThresholdAdvanced;">
                                        <mat-icon fontSet="denali" [fontIcon]="showThresholdAdvanced ? 'd-arrowhead-up' : 'd-arrowhead-down'"></mat-icon>
                                        <span>{{showThresholdAdvanced ? 'Hide' : 'Show'}} advanced options</span>
                                    </a>
                                </div>

                                <div class="form-group alert-nag-interval">
                                        <div class="form-label vertical-center"><strong>Nag interval</strong></div>
                                        <div class="nag-interval-item">
                                            <mat-form-field appearance="fill" floatLabel="never">
                                                <mat-select placeholder="Select" formControlName="nagInterval" disableOptionCentering>
                                                    <mat-option value="0">Disabled</mat-option>
                                                    <mat-option value="300">5 min</mat-option>
                                                    <mat-option value="600">10 min</mat-option>
                                                    <mat-option value="900">15 min</mat-option>
                                                    <mat-option value="1800">30 min</mat-option>
                                                    <mat-option value="3600">1 hr</mat-option>
                                                    <mat-option value="21600">6 hr</mat-option>
                                                    <mat-option value="43200">12 hr</mat-option>
                                                    <mat-option value="86400">24 hr</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-hint class="info-hint">
                                                    <mat-icon fontSet="denali" fontIcon="d-information-circle"></mat-icon>
                                                    <span>How often an alert is fired when state persists.</span>
                                            </mat-hint>
                                        </div>
                                </div>
                                <div class="form-group alert-nag-interval">
                                        <div class="form-label vertical-center"><strong>Missing data</strong></div>
                                        <div class="missing-data-item">
                                            <mat-form-field appearance="fill" floatLabel="never">
                                                <mat-select placeholder="Select" formControlName="notifyOnMissing" disableOptionCentering>
                                                    <mat-option value="false">Do not notify</mat-option>
                                                    <mat-option value="true">Notify</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-hint class="info-hint">
                                                <mat-icon fontSet="denali" fontIcon="d-information-circle"></mat-icon>
                                                <span>Receive separate notification if there is no data.</span>
                                            </mat-hint>
                                        </div>
                                </div>
                                <div class="form-group delay-evaluation">
                                    <div class="form-label vertical-center"><strong>Delay evaluation by</strong></div>
                                    <mat-form-field appearance="fill" floatLabel="never">
                                        <input matInput type="number" autocomplete="off" placeholder="Enter value" formControlName="delayEvaluation">
                                    </mat-form-field>
                                    <mat-hint class="info-hint">seconds</mat-hint>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="step-section notification-section" formGroupName="notification" [ngClass]="{'is-visible': queries && queries[0] && queries[0].metrics.length > 0}">
                <!--<div class="step-section notification-section" formGroupName="notification" [hidden]=" !data.id && !showDetail">-->
                    <div class="step-section-label">
                        <span class="step-section-label-text">3. Notification</span>
                    </div>
                    <div class="step-section-content">
                        <div class="form-group alert-notify-when">
                            <div class="form-label"><strong>Notify</strong> when state transitions from</div>
                            <mat-selection-list class="notify-when-options" formControlName="transitionsToNotify">
                                <mat-list-option value="goodToBad" [disabled]="thresholdSingleMetricControls.badThreshold.value === null">Good to Bad</mat-list-option>
                                <mat-list-option value="warnToBad" [disabled]="thresholdSingleMetricControls.badThreshold.value===null || thresholdSingleMetricControls.warnThreshold.value===null">Warn to Bad</mat-list-option>
                                <mat-list-option value="warnToGood" [disabled]="thresholdSingleMetricControls.warnThreshold.value===null">Warn to Good</mat-list-option>
                                <mat-list-option value="badToGood" [disabled]="thresholdSingleMetricControls.badThreshold.value===null">Bad to Good</mat-list-option>
                                <mat-list-option value="goodToWarn" [disabled]="thresholdSingleMetricControls.warnThreshold.value===null">Good to Warn</mat-list-option>
                                <mat-list-option value="badToWarn" [disabled]="thresholdSingleMetricControls.badThreshold.value===null || thresholdSingleMetricControls.warnThreshold.value===null">Bad to Warn</mat-list-option>
                            </mat-selection-list>
                            <mat-error *ngIf="alertForm.get('notification').get('transitionsToNotify').errors && alertForm.get('notification').get('transitionsToNotify').errors.required">Please select the state transitions</mat-error>
                        </div>
                        <!-- TODO: add the grouping rules control here -->
                        <div class="form-group alert-grouping-rules">
                            <div class="form-label vertical-center"><strong>Send one notification per</strong></div>
                                <div class="alert-metric-tag-dropdown-wrapper">
                                    <dropdown-metric-tags
                                        [namespace]="getSelectedMetricQueryIndex() ? queries[getSelectedMetricQueryIndex()].namespace : '' "
                                        [metric]="getSelectedMetric()"
                                        [selected]="alertForm.get('alertGroupingRules').value"
                                        [tags]="getSelectedMetricTags()"
                                        [all]="false"
                                        (change)="setQueryGroupRules($event)"></dropdown-metric-tags>
                                </div>
                            </div>
                        <div class="form-group alert-recipients">
                            <div class="form-label vertical-center"><strong>Alert recipients</strong></div>
                            <!--<mat-form-field appearance="fill" floatLabel="never">
                                <input matInput autocomplete="off" placeholder="Zack is building this... go bug Zack">
                            </mat-form-field>-->
                            <!--<alert-configuration-contacts [alertRecipients]="notificationRecipients.value" style="width: 100%" (updatedAlertRecipients)="alertRecipientsUpdate($event)"></alert-configuration-contacts>-->
                            <recipients-manager (updatedAlertRecipients)="alertRecipientsUpdate($event)" [selectedAlertRecipients]="notificationRecipients.value"></recipients-manager>
                            <mat-error *ngIf="notificationRecipients.errors && notificationRecipients.errors.required">Please select the recipients</mat-error>
                        </div>
                        
                        <div class="form-group alert-message">
                            <div class="form-label vertical-center"><strong>Alert message</strong></div>
                            <div class="message-subject-body">
                                <mat-form-field appearance="fill" floatLabel="never">
                                    <input matInput autocomplete="off" formControlName="subject" placeholder="Enter a subject">
                                </mat-form-field>
                                <mat-error *ngIf="alertForm['controls'].notification.get('subject').errors && alertForm['controls'].notification.get('subject').errors.required">Please enter the subject</mat-error>

                                <mat-form-field appearance="fill" floatLabel="never">
                                    <textarea matInput autocomplete="off" formControlName="body" placeholder="Enter a message"></textarea>
                                </mat-form-field>
                                <mat-error *ngIf="alertForm['controls'].notification.get('body').errors && alertForm['controls'].notification.get('body').errors.required">Please enter the message</mat-error>
                            </div>   
                        </div>

                        <div class="form-group alert-labels">
                            <div class="form-label vertical-center"><strong>Labels</strong></div>
                            <!--<mat-form-field appearance="fill">
                                <mat-label></mat-label>
                                <input matInput formControlName="labels" placeholder="Enter labels">
                            </mat-form-field>-->
                            <mat-form-field appearance="fill" color="primary" floatLabel="never">
                                <mat-chip-list class="filter-values-list" #labelChipList>
                                    <mat-chip
                                        *ngFor="let val of notificationLabelValues['controls']; let n=index"
                                        (removed)="removeNotificationLabelValue(n)">
                                        <span>{{val.value}}</span>
                                        <mat-icon matChipRemove fontSet="denali" fontIcon="d-close"></mat-icon>
                                    </mat-chip>
                                    <input
                                        placeholder="Enter value(s) seperated by commas"
                                        #notificationLabelValueInput
                                        [matChipInputFor]="labelChipList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="true"
                                        (matChipInputTokenEnd)="addNotificationLabelValue($event)"
                                        autocomplete="off">
                                </mat-chip-list>
                            </mat-form-field>
                        </div>
                        <div class="oc-specific-fields" *ngIf="notificationRecipientsValue && notificationRecipientsValue.oc">
                            <mat-divider></mat-divider>
                            <div class="form-group">
                                <div class="form-label vertical-center"><strong>OC Contact Settings</strong></div>
                            </div>
                            <div class="form-group alert-oc-runbookid">
                                <div class="form-label vertical-center"><strong>Runbook ID</strong></div>
                                <mat-form-field appearance="fill" floatLabel="never">
                                    <input matInput autocomplete="off" formControlName="runbookId" placeholder="Enter runbook id">
                                </mat-form-field>
                            </div>
                            <div class="form-group alert-oc-severity">
                                <div class="form-label vertical-center"><strong>Severity</strong></div>
                                <div class="severity-type-options">
                                    <mat-radio-group formControlName="ocSeverity">
                                        <mat-radio-button *ngFor="let option of ocSeverityOptions" value="{{option.value}}">{{option.label}}</mat-radio-button>
                                    </mat-radio-group>
                                </div>                                
                            </div>
                        </div>
                        <div class="ops-genie-specific-fields" *ngIf="notificationRecipientsValue && notificationRecipientsValue.opsgenie">
                            <mat-divider></mat-divider>
                            <div class="form-group">
                                <div class="form-label vertical-center"><strong>Ops Genie Settings</strong></div>
                            </div>
                            <div class="form-group alert-oc-severity">
                                <div class="form-label vertical-center"><strong>Priority</strong></div>
                                <div class="priority-type-options">
                                    <mat-radio-group formControlName="opsgeniePriority">
                                        <mat-radio-button *ngFor="let option of opsGeniePriorityOptions" value="{{option.value}}">{{option.label}}</mat-radio-button>
                                    </mat-radio-group>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" type="submit" (click)="validate()">Save Alert</button>
        <button mat-stroked-button mat-dialog-close color="primary">Cancel</button>
    </mat-card-actions>
</mat-card>
