<div class="widget-output-container" fxLayout="column">
    <div class="widget-title" *ngIf="editMode" fxLayout="row" fxFlex="1 0 30px">
        <span fxFlex="1 1 100%">{{ widget.settings.title }}</span>
        <span>
            <button mat-button color="primary" class="close-edit-view-btn" (click)="closeViewEditMode()">
                <mat-icon fontSet="denali" fontIcon="d-close"></mat-icon>
            </button>
        </span>
    </div>
    <div class="widget-output" #widgetoutput
        [ngClass]="{
            'display-legend-top': widget.settings.legend.display && widget.settings.legend.position=='top',
            'display-legend-right': widget.settings.legend.display && widget.settings.legend.position=='right',
            'display-legend-bottom': widget.settings.legend.display && widget.settings.legend.position=='bottom',
            'display-legend-left': widget.settings.legend.display && widget.settings.legend.position=='left'
        }">
        <div #dygraph class="graph-chart"
            dygraphsChart
            [chartType]="chartType"
            [data]="data"
            [size]="size"
            [options]="options">
        </div>
        <div class="dygraph-legend" #graphLegend></div>
        <div class="graph-legend">
            <ng-container *ngIf="widget.settings.legend.position=='left' || widget.settings.legend.position=='right'">
                <table mat-table [dataSource]="options.labels.slice(1)">
                    <ng-container matColumnDef="series">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let index"><div class="line-series"  [style.backgroundColor]= "options.series[index].color"></div></td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let index" [style.textDecoration]="options.visibility[index-1]===true? 'none': 'line-through'" > {{ getSeriesLabel(index) }} </td>
                    </ng-container>
                    <ng-container *ngIf="legendDisplayColumns.indexOf('min')!==-1" matColumnDef="min">
                            <th mat-header-cell *matHeaderCellDef>Min</th>
                            <td mat-cell *matCellDef="let index"> {{ getSeriesAggregate(index, 'min') }} </td>
                    </ng-container>
                    <ng-container *ngIf="legendDisplayColumns.indexOf('max')!==-1" matColumnDef="max">
                            <th mat-header-cell *matHeaderCellDef>Max</th>
                            <td mat-cell *matCellDef="let index"> {{ getSeriesAggregate(index, 'max') }} </td>
                    </ng-container>
                    <ng-container >
                        <tr mat-header-row *matHeaderRowDef="legendDisplayColumns;sticky: true" [style.display]="legendDisplayColumns.length>2?'table-row':'none'"></tr>
                    </ng-container>
                    <tr mat-row *matRowDef="let row; columns: legendDisplayColumns" (click)="toggleChartSeries(row)"></tr>
                </table>
            </ng-container>
            <ng-container *ngIf="widget.settings.legend.position=='top' || widget.settings.legend.position=='bottom'">
                <li *ngFor="let index of options.labels.slice(1)" (click)="toggleChartSeries(index)">
                    <div class="line-series" [style.textDecoration]="options.visibility[index-1]===true? 'none': 'line-through'" [style.backgroundColor]= "options.series[index].color"></div>
                    <div [style.textDecoration]="options.visibility[index-1]===true? 'none': 'line-through'">{{ options.series[index].metric }}</div> 
                </li>
            </ng-container>
        </div>
    </div>
</div>
<!-- NOTE: This needs to move to other component -->
<div class="widget-controls-container" *ngIf="editMode">
    <!-- tabs with config content -->
    <mat-tab-group class="widget-configs" color="primary" [@.disabled]="'true'">
        <mat-tab label="Queries" class="test">
            <!-- ng-template is to lazy-load tab content (see: https://material.angular.io/components/tabs/overview#lazy-loading ) -->
            <ng-template matTabContent>
                <widget-config-metric-queries [widget]="widget" (widgetChange)="updateConfig($event);"></widget-config-metric-queries>
            </ng-template>
        </mat-tab>
        <mat-tab label="Time Configuration">
            <ng-template matTabContent>
                <widget-config-time [widget]="widget" (widgetChange)="updateConfig($event);"></widget-config-time>
            </ng-template>
        </mat-tab>
        <mat-tab label="Axes">
            <ng-template matTabContent>
                <widget-config-axes [widget]="widget" (widgetChange)="updateConfig($event);"></widget-config-axes>
            </ng-template>
        </mat-tab>
        <mat-tab label="Visual Appearance">
            <ng-template matTabContent>
                <widget-config-visual-appearance [widget]="widget" (widgetChange)="updateConfig($event);"></widget-config-visual-appearance>
            </ng-template>
        </mat-tab>
        <!--<mat-tab label="Alerts">
            <ng-template matTabContent>
                <widget-config-alerts [widget]="widget" (widgetChange)="updateConfig($event);"></widget-config-alerts>
            </ng-template>
        </mat-tab>-->
        <mat-tab label="Legend">
                <ng-template matTabContent>
                    <widget-config-legend [widget]="widget" (widgetChange)="updateConfig($event);"></widget-config-legend>
                </ng-template>
        </mat-tab>
        <mat-tab label="Meta Data">
                <ng-template matTabContent>
                    <widget-config-general [widget]="widget" (widgetChange)="updateConfig($event);"></widget-config-general>
                </ng-template>
            </mat-tab>
        <mat-tab>
            <!-- custom tab label. (see: https://material.angular.io/components/tabs/overview#labels) -->
            <!-- <ng-template mat-tab-label>
                &lt;/&gt; Query Editor
            </ng-template> -->
            <ng-template matTabContent>
                <widget-config-query-inspector [widget]="widget"></widget-config-query-inspector>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
    <div class="widget-actions"  *ngIf="showAction">
        <!-- controls to save/cancel -->
        <button mat-raised-button color="primary" class="mat-elevation-z0" (click)="applyConfig()">Apply</button>
        <button mat-stroked-button color="primary" class="mat-elevation-z0" (click)="closeViewEditMode()">Cancel</button>
    </div>
</div>
