<mat-form-field appearance="standard" floatLabel="never" style="width: 200px !important;" [ngClass]="{'readonly-mode': !isEdit}" >
  <div matPrefix>{{fx.fxCall}}</div>
  <input matInput [formControl]="inputVal" (keyup.enter)="saveInput()" (click)="editInput()" [readonly]="!isEdit" 
    (blur)="saveInput()" autocomplete="off">
  <mat-icon matSuffix fontSet="denali" fontIcon="d-close" (click)="delFx(fx.id)"></mat-icon>
  <!--<mat-hint *ngIf="isEdit">number(s|m|h|d)</mat-hint>-->
</mat-form-field>
