<div class="info-island-container"
    [ngStyle]="{'width.px': options.width, 'height.px': options.height}"
    [@infoIslandAnimation]="animationState"
    (@infoIslandAnimation.done)="animationDone()"
    cdkDrag
    #islandContainer>
    <mat-card>
        <mat-card-header cdkDragHandle #dragHandle>
            <mat-card-title fxLayout="row">
                <div class="title">{{options.title || 'Info Island'}}</div>
                <div class="close" *ngIf="options?.closable">
                    <button mat-icon-button class="close-button" (click)="animateClose()">
                        <i class="material-icons">close</i>
                    </button>   
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <ng-template [cdkPortalOutlet]="portalRef"></ng-template>
        </mat-card-content>
        <mat-card-actions *ngIf="options.showActions">
            <button mat-button (click)="animateClose()">Close</button>
        </mat-card-actions>
    </mat-card>
    <!-- COMMENTING OUT FOR NOW TILL MATERIAL UPGRADE CAN HAPPEN
    <div class='resizers'>
        <div class='resizer top-left' #resizerEl cdkDrag (cdkDragStarted)="dragResizeStart($event)" (cdkDragMoved)="dragResizeMove($event)" (cdkDragEnded)="dragResizeRelease($event)"></div>
        <div class='resizer top-right' #resizerEl cdkDrag (cdkDragStarted)="dragResizeStart($event)" (cdkDragMoved)="dragResizeMove($event)" (cdkDragEnded)="dragResizeRelease($event)"></div>
        <div class='resizer bottom-left' #resizerEl cdkDrag (cdkDragStarted)="dragResizeStart($event)" (cdkDragMoved)="dragResizeMove($event)" (cdkDragEnded)="dragResizeRelease($event)"></div>
        <div class='resizer bottom-right' #resizerEl cdkDrag (cdkDragStarted)="dragResizeStart($event)" (cdkDragMoved)="dragResizeMove($event)" (cdkDragEnded)="dragResizeRelease($event)"></div>
    </div>
    -->
</div>