<div class="info-island-container" [@infoIslandAnimation]="animationState" (@infoIslandAnimation.done)="animationDone()" cdkDrag #islandContainer>
    <mat-card>
        <mat-card-header cdkDragHandle #dragHandle>
            <mat-card-title fxLayout="row">
                <div class="title">Info Island</div>
                <div class="close" *ngIf="options?.closable">
                    <button mat-icon-button class="close-button" (click)="animateClose()">
                        <i class="material-icons">close</i>
                    </button>   
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
        content for the island
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
    <div class='resizers'>
        <div class='resizer top-left' #resizerEl cdkDrag (cdkDragStarted)="dragResizeStart($event)" (cdkDragMoved)="dragResizeMove($event)" (cdkDragEnded)="dragResizeRelease($event)"></div>
        <div class='resizer top-right' #resizerEl cdkDrag (cdkDragStarted)="dragResizeStart($event)" (cdkDragMoved)="dragResizeMove($event)" (cdkDragEnded)="dragResizeRelease($event)"></div>
        <div class='resizer bottom-left' #resizerEl cdkDrag (cdkDragStarted)="dragResizeStart($event)" (cdkDragMoved)="dragResizeMove($event)" (cdkDragEnded)="dragResizeRelease($event)"></div>
        <div class='resizer bottom-right' #resizerEl cdkDrag (cdkDragStarted)="dragResizeStart($event)" (cdkDragMoved)="dragResizeMove($event)" (cdkDragEnded)="dragResizeRelease($event)"></div>
    </div>
</div>