@mixin theme-picker-theme($theme, $name) {
    /* --- THEME PICKER THEME [ #{$name} ] -- */
    // NOTE: See steps for this in app/styles/themes/component-themes.scss

    // MIXIN VARIABLES
    $is-dark-theme: map-get($theme, 'is-dark');
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    $ripple-base: map-get($accent, 200);
    $ripple-opacity: .25;

    // THEME STYLES FOR COMPONENT
    .app-themepicker {
        //@include debug-map($accent);

        color: mat-color($primary, default-contrast);

        &:hover {
            background-color: rgba(mat-color($primary, 50), .10);
        }

        // buttons
        .mat-button {
            color: white;

            .mat-button-focus-overlay {
                background-color: rgba(mat-color($primary, 50), .10);
            }

            .mat-ripple-element {
                background-color: rgba($ripple-base, $ripple-opacity);
             }
        }


    }
}
