<!-- Navbar Theme -->
<mat-toolbar fxFlex="1 1 100%">
    <mat-toolbar-row fxLayout fxLayoutAlign="start stretch">
        <a mat-button routerLink="dashboard" class="app-home-link">
            <img src="/assets/yamas-logo-icon-only.png"  class="app-yamas-logo"/>
        </a>
        <a mat-button
            *ngFor="let routeLink of routeLinks"
            routerLink="{{routeLink.link}}" class="navbar-item">
            {{routeLink.label}}
        </a>
        <span class="flex-spacer"></span>
        <ng-container [cdkPortalOutlet]="cdkService.addNewDashboardPanelPortal$ | async"></ng-container>
        <theme-picker mat-button></theme-picker>
        <ng-container [cdkPortalOutlet]="cdkService.editViewModePortal$ | async"></ng-container>
    </mat-toolbar-row>
</mat-toolbar>
