/* NAVBAR COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)
// core (aka structure)
@mixin navbar-component-base() {
    .app-navbar {
        @include mat-elevation(2);
        z-index: 2;

        .app-home-link {
            min-width: auto;
        }

        .app-yamas-logo {
            height: 26px;
            margin: 0 4px 3px 0;
            vertical-align: middle;
        }

        .mat-toolbar {
            .mat-toolbar-row {
                padding-left: initial;
            }
        }

        .mat-toolbar-multiple-rows,
        .mat-toolbar-single-row {
            min-height: 48px !important;
            height: 48px;
        }

        .mat-button {
            align-items: center;
            justify-content: center;
            display: inline-flex;
        }

    }
}
// theme (aka look-n-feel)
@mixin navbar-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark-theme: map-get($theme-config, is-dark);

    // navbar specific
    $navbar: map-get($theme-config, navbar);

    .app-navbar {

        .mat-toolbar {
            background: map-get($navbar, background);
            color: map-get($navbar, text);

            .mat-icon-button {
                .mat-icon {
                    color: map-get($navbar, icons)
                }
            }
        }

    }
}
