<!-- Navbar Theme -->
<mat-toolbar>
    <mat-toolbar-row fxLayout fxLayoutAlign="start stretch">
        <a mat-button routerLink="ks" class="app-home-link">
            <img src="/assets/yamas-logo-icon-only.png"  class="app-yamas-logo"/>
        </a>
        <a mat-button
            *ngFor="let routeLink of routeLinks"
            routerLink="{{routeLink.link}}">
            {{routeLink.label}}
        </a>
        <span class="flex-spacer"></span>
        <theme-picker mat-button></theme-picker>
    </mat-toolbar-row>
</mat-toolbar>
