<div fxLayout="row" fxFlex="1 1 100%" [formGroup]="gForms">
    <div fxLayout="row" fxFlex="1 1 100%" formArrayName="0">
        <div fxLayout="column" fxFlex="1 1 100%" class="metric-column">
            <mat-toolbar class="config-toolbar time-series-toolbar">
                <div class="toolbar-item">
                    <button mat-stroked-button color="primary" class="mat-elevation-z0" (click)="openTimeSeriesMetricDialog()">
                        <mat-icon fontSet="denali" fontIcon="d-add"></mat-icon>
                        <span>Add Query</span>
                    </button>
                </div>
                <div class="toolbar-item">
                    <button mat-stroked-button color="primary" class="mat-elevation-z0" (click)="openMetricExpressionDialog();">
                        <mat-icon fontSet="denali" fontIcon="d-add"></mat-icon>
                        <span>Add Expression</span>
                    </button>
                </div>
                <div class="toolbar-item">
                    <button mat-stroked-button color="primary" class="mat-elevation-z0" (click)="openCustomValueDialog()">
                        <mat-icon fontSet="denali" fontIcon="d-add"></mat-icon>
                        <span>Add Custom Value</span>
                    </button>
                </div>
            </mat-toolbar>
            <div class="query-metrics-section" *ngIf="widget.query.groups.length!==0">
                <mat-list>
                    <ng-container *ngFor="let query of widget.query.groups[0].queries;let index=index">
                        <mat-list-item class="query-metric-item" [formGroupName]="index">
                            <mat-toolbar class="query-metric-toolbar">
                                <strong>
                                    {{query.metric}}
                                </strong>
                                <span class="flex-spacer"></span>
                                <div class="action-icons">
                                    <button mat-icon-button color="primary" (click)="toggle_queryItemVisibility(query, $event)">
                                        <mat-icon fontSet="denali" fontIcon="d-eye-open" *ngIf="query.settings.visual.visible"></mat-icon>
                                        <mat-icon fontSet="denali" fontIcon="d-eye-close" *ngIf="!query.settings.visual.visible"></mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary" (click)="clone_queryItem(query, $event)">
                                        <mat-icon fontSet="denali" fontIcon="d-duplicate" class="mat-icon-rtl-mirror"></mat-icon>
                                    </button>
                                    <button mat-icon-button color="primary" (click)="delete_queryItem(query, $event)">
                                        <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
                                    </button>
                                </div>
                            </mat-toolbar>
                            <div class="modifier-row">
                                <div class="modifier-item metric-visual">
                                    <strong>Slice</strong>
                                    <div class="color" [style.backgroundColor]="query.settings.visual.color"></div>
                                    <div class="label"> {{ query.settings.visual.stackLabel }}    </div> 
                                </div>
                                <div class="modifier-item metric-aggregator" *ngIf="gForms.controls['0']['controls'][index]">
                                    <strong>Value:</strong>
                                    <dropdown-aggregators [formControl]="gForms.controls['0']['controls'][index]['controls'].aggregator"></dropdown-aggregators>
                                </div>
                                
                            </div>
                            <div class="tags-row">
                                <strong>Tags</strong>
                                <mat-chip-list>
                                    <mat-basic-chip *ngFor="let tag of query.filters">
                                        <span>{{ tag.tagk }}:</span> <strong>{{ tag.filter }}</strong>
                                    </mat-basic-chip>
                                    <!-- TODO: add mechanism to add a tag filter -->
                                    <mat-basic-chip class="add-tag-filter-button">
                                        <button mat-icon-button color="primary">
                                            <mat-icon fontSet="denali" fontIcon="d-add-square"></mat-icon>
                                        </button>
                                    </mat-basic-chip>
                                </mat-chip-list>
                            </div>
                            <!--<div>
                                    {{ query | json }}
                            </div>-->
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </ng-container>
                </mat-list>
            </div>
        </div>
        <div fxLayout="column" fxFlex="1 1 300px" class="legend-column">
            <mat-toolbar class="config-toolbar legend-toolbar">
                <div class="toolbar-item">
                    <strong>Legend</strong>
                </div>
            </mat-toolbar>
            <div class="query-legend-section" *ngIf="widget.query.groups.length!==0">
                <mat-list dense>
                    <mat-list-item class="query-legend-item" *ngFor="let query of widget.query.groups[0].queries; let index=index">
                        <div class="query-legend-item-color" [style.backgroundColor]="query.settings.visual.color" (click)="openColorPopup(index)"></div>
                        <mat-form-field class="query-legend-item-label yamas-mat-form-field" appearance="fill" [formGroupName]="index" floatLabel="never">
                            <input matInput placeholder="Alias" type="text" formControlName="stackLabel">
                        </mat-form-field>
                        <color-picker pickerMode="dropDownNoButton" [isOpen]="index===showColorPickerIndex" (newColor)="selectColor(index, $event)" [color]="query.settings.visual.color"></color-picker>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
</div>

<!-- OLD 
<mat-toolbar class="config-toolbar time-series-toolbar">
    <mat-toolbar-row>
        <div class="toolbar-item">
            <button mat-stroked-button color="primary" class="mat-elevation-z0" (click)="openTimeSeriesMetricDialog()">
                <mat-icon fontSet="denali" fontIcon="d-add"></mat-icon>
                <span>Add Query</span>
            </button>
        </div>
        <div class="toolbar-item">
            <button mat-stroked-button color="primary" class="mat-elevation-z0" (click)="openMetricExpressionDialog();">
                <mat-icon fontSet="denali" fontIcon="d-add"></mat-icon>
                <span>Add Expression</span>
            </button>
        </div>
        <div class="toolbar-item">
            <button mat-stroked-button color="primary" class="mat-elevation-z0" (click)="openCustomValueDialog()">
                <mat-icon fontSet="denali" fontIcon="d-add"></mat-icon>
                <span>Add Custom Value</span>
            </button>
        </div>
        <span class="flex-spacer"></span>
        <div class="toolbar-item legend-label"></div>
    </mat-toolbar-row>
</mat-toolbar>
<form [formGroup]="gForms">
<div class="query-metrics-section" *ngIf="widget.query.groups.length!==0" formArrayName="0">
        <div class="query-metrics-wrap">
            <mat-accordion class="query-group-list mat-elevation-z0" [ngClass]="{'items-selected': selectAllToggle !== 'none'}" displayMode="flat" [multi]="true" [hideToggle]="false">
                <mat-expansion-panel class="query-group-item mat-elevation-z0" [hideToggle]="true" [expanded]="true" *ngFor="let group of widget.query.groups ">
                    <div class="query-metric-row" *ngFor="let query of group.queries;let index=index">
                        <div class="query-metric-item" [formGroupName]="index">
                            <div class="metric-detail">
                                <div class="metric-name">{{ query.metric }}</div>
                                <div class="metric-visual">
                                        <div class="color" [style.backgroundColor]="query.settings.visual.color"></div>
                                        <div class="label"> {{ query.settings.visual.stackLabel }}    </div>                                       
                                        <div class="aggregator" *ngIf="gForms.controls['0']['controls'][index]"><strong>Value:</strong> <dropdown-aggregators [formControl]="gForms.controls['0']['controls'][index]['controls'].aggregator"></dropdown-aggregators></div>
                                </div>
                                <div class="metric-tags">
                                        <strong>Tags:</strong>
                                        <mat-chip-list>
                                            <mat-basic-chip *ngFor="let tag of query.filters"><span>{{ tag.tagk }}:</span> <strong>{{ tag.filter }}</strong></mat-basic-chip>
                                        </mat-chip-list>
                                </div>
                            </div>
                            <div class="metric-action">
                                    <span class="action-icons">
                                            <button mat-icon-button color="primary" (click)="toggle_queryItemVisibility(query, $event)">
                                                <mat-icon fontSet="denali" fontIcon="d-eye-open" *ngIf="query.settings.visual.visible"></mat-icon>
                                                <mat-icon fontSet="denali" fontIcon="d-eye-close" *ngIf="!query.settings.visual.visible"></mat-icon>
                                            </button>
                                            <button mat-icon-button color="primary" (click)="clone_queryItem(query, $event)">
                                                <mat-icon fontSet="denali" fontIcon="d-duplicate" class="mat-icon-rtl-mirror"></mat-icon>
                                            </button>
                                            <button mat-icon-button color="primary" (click)="delete_queryItem(query, $event)">
                                                <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
                                            </button>
                                        </span>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="query-legend-section">
            <div>Legend</div>
            
            <div class="query-legend-item" *ngFor="let query of widget.query.groups[0].queries; let index=index">
                <div class="query-legend-item-color" [style.backgroundColor]="query.settings.visual.color" (click)="openColorPopup(index)"></div>
                <div class="query-legend-item-label" [formGroupName]="index">
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Alias" formControlName="stackLabel">
                    </mat-form-field>
                </div>

                <color-picker pickerMode="dropDownNoButton" [isOpen]="index===showColorPickerIndex" (newColor)="selectColor(index, $event)" [color]="query.settings.visual.color"></color-picker>
            </div>
        </div>
</div>
</form>-->