/* APP COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)
// core (aka structure)
@mixin app-root-base() {
    .app-root {
        display: flex;
        flex: 1 1 100%;
        flex-direction: column;
        //overflow-x: hidden;
        overflow: hidden;

        .app-navigation {
            z-index: 2;
        }
    }

    /*router-outlet + * {
        width: 100%;
        overflow: auto;
    }*/
}
// theme (aka look-n-feel)
@mixin app-root-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark: map-get($theme-config, is-dark);

    // App background on body
    &.mat-app-background {
        background-color: map-get($background, background);
    }

    // Application scrollbars
    *::-webkit-scrollbar {
        width: 10px;
    }

    *::-webkit-scrollbar-track {
        //background-color: $track-color;
        background-color: transparent;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 0;
        padding: 2px;
    }

    *::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: slategrey;
        display: block;
    }

    // Component namespace
    .app-root {

    }

    // MATERIAL2 OVERRIDES
    
    // CDK items are outside of component namespace class - be sure to give them very unique names
    .mat-menu-panel {
        background-color: map-get($background, menu);

        .mat-menu-item.is-active {
            .mat-icon {
                color: map-get($accent, default);
            }
        }
    }

    .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background: map-get($background, ink-bar);
    }


}
