/* APP COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)
// core (aka structure)
@mixin app-root-base() {
    $scrollbar-size: 10px;
    $scrollbar-radius: $scrollbar-size/2;

    .app-root {
        display: flex;
        flex: 1 1 100%;
        flex-direction: column;
        //overflow-x: hidden;
        overflow: hidden;

        .app-navigation {
            z-index: 2;
        }
    }

}
// theme (aka look-n-feel)
@mixin app-root-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark: map-get($theme-config, is-dark);

    @include app-scrollbar($theme-config);
    @include mat-typography-level-to-styles(map-get($app-fontface-config, sans), body-1);

    // App background on body
    &.mat-app-background {
        background-color: map-get($background, background);
    }

    /* Scrollbar */
    /**::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    *::-webkit-scrollbar-track {
        //background-color: $track-color;
        background-color: transparent;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        //border-radius: 0;
        //padding: 2px;
    }

    *::-webkit-scrollbar-thumb {
        //border-radius: 4px;
        background-color: slategrey;
        //display: block;
    }*/

    // Component namespace
    // .app-root { }

    // MATERIAL2 OVERRIDES
    
    // CDK items are outside of component namespace class - be sure to give them very unique names
    .mat-menu-panel {
        background-color: map-get($background, menu);

        .mat-menu-item.is-active {
            .mat-icon {
                color: map-get($accent, default);
            }
        }
    }

    .mat-tab-group.mat-primary .mat-ink-bar,
    .mat-tab-nav-bar.mat-primary .mat-ink-bar {
        background: map-get($background, ink-bar);
    }

    .mat-datepicker-content {
        border: 1px solid map-get($accent, default);
        background-color: map-get($background, menu); 
    }


}

@mixin app-scrollbar($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark: map-get($theme-config, is-dark);

    /* Scrollbar config parts */
    $scrollbar-size: 5px;
    $scrollbar-radius: 0;

    // STYLE ALL THE SCROLLBARS
    * {
        // background of the bar itself
        &::-webkit-scrollbar {
            background-color: transparent;
            &:vertical {
                width: $scrollbar-size;
            }
            &:horizontal {
                height: $scrollbar-size;
            }
        }
        //  directional buttons on the scrollbar
        /*&::-webkit-scrollbar-button {
            background: purple;
            width: $scrollbar-size - 2;
            height: $scrollbar-size - 2;
        }*/
        // empty space “below” the progress bar
        &::-webkit-scrollbar-track {
            background-color: transparent;
            border: 0;
            padding: 2px;
        }
        // top-most layer of the the progress bar not covered by the thumb
        &::-webkit-scrollbar-track-piece {
            //background: cyan;

            &:start {
                background-color: map-get($foreground, divider);
            }
            &:end {
                background-color: map-get($foreground, divider);
            }
        }
        // draggable scrolling element resizes depending on the size of the scrollable element
        &::-webkit-scrollbar-thumb {
            background-color: map-get($background, ink-bar);
            border-radius: $scrollbar-radius;
        }
        // bottom corner of the scrollable element, where two scrollbar meet
        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }
        // draggable resizing handle that appears above the scrollbar-corner at the bottom corner of some elements
        /*&::-webkit-resizer {
            background-color: transparent;
        }*/
    }
}
