<!--<div fxLayout="column" fxFlexFill>
    <header fxFlex="1 1 48px" fxLayout="row" fxLayoutAlign="stretch stretch" class="app-navigation">
        <app-navbar fxFill fxLayout fxLayoutAlign="stretch stretch"></app-navbar>
    </header>
    <div fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="stretch stretch" class="router-outlet">
        <router-outlet></router-outlet>
    </main>
</div>-->

<div class="app-root-wrap" fxLayout="column" fxFlexFill>
    <app-navbar fxFlex="1 1 48px" fxLayout fxLayoutAlign="stretch stretch" fxFlexFill (sidenavToggle)="toggleSidenav()"></app-navbar>
    <!--<div fxLayout fxLayoutAlign="stretch stretch" fxFlexFill fxFlex="1 1 100%">
        <side-navbar></side-navbar>
        <div class="router-outlet" fxFlex="1 1 100%" fxLayout fxLayoutAlign="stretch stretch">
            <router-outlet></router-outlet>
        </div>
    </div>-->
    <mat-sidenav-container class="example-container" fxFlex="1 1 100%" hasBackdrop="false">
        <mat-sidenav #sidenav mode="over" class="sidenav"
            [fixedInViewport]="true" 
            [fixedTopGap]="48"
            (mouseover)="sidenavMouseover($event)"
            (mouseout)="sidenavMouseout($event)"
            (mousemove)="sidenavMousemove($event)">
            <mat-nav-list>
                <a mat-list-item>
                    <mat-icon fontSet="denali" fontIcon="d-dashboard-tile"></mat-icon>
                    <!--<span>Dashboards</span>-->
                </a>
                <a mat-list-item>
                    <mat-icon fontSet="denali" fontIcon="d-chart-line"></mat-icon>
                    <!--<span>Metric Explorer</span>-->
                </a>
                <a mat-list-item>
                    <mat-icon fontSet="denali" fontIcon="d-notification"></mat-icon>
                    <!--<span>Alerts</span>-->
                </a>
                <a mat-list-item>
                    <mat-icon fontSet="denali" fontIcon="d-heart-health"></mat-icon>
                    <!--<span>Status</span>-->
                </a>
                <a mat-list-item>
                    <mat-icon fontSet="denali" fontIcon="d-flag"></mat-icon>
                    <!--<span>Annotations</span>-->
                </a>
                <a mat-list-item>
                    <mat-icon fontSet="denali" fontIcon="d-user-secure"></mat-icon>
                    <!--<span>Admin?</span>-->
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="router-outlet" fxFlex="1 1 100%" fxLayout fxLayoutAlign="stretch stretch">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
