<div class="event-details"> 
    
    <mat-accordion>
        <mat-expansion-panel *ngFor="let bucket of buckets; let i = index" 
            [expanded]="i === expandedBucketIndex"
            (opened)="openExpansion(i)"
            (closed)="collapseExpansion(i)">

            <mat-expansion-panel-header id="bucket-header">
                <mat-panel-title >
                    <span *ngIf="bucket.events.length > 1"> {{util.buildDisplayTime(bucket.endTime, startTime, endTime, false, timezone)}} ({{bucket.events.length}} Events)</span> 
                    <span *ngIf="bucket.events.length === 1">{{util.buildDisplayTime(bucket.events[0].timestamp, startTime, endTime, bucket.width <= 1000 * 60, timezone)}}</span>

                </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngFor="let event of bucket.events" class="event">
                <div class="event-header">
                    <span class="event-source">{{event.source}}</span>
                    <span *ngIf="bucket.events.length > 1" class="event-time">{{util.buildDisplayTime(event.timestamp, startTime, endTime, bucket.width <= 1000 * 60, timezone)}}</span>
                </div>
                <div class="event-description"> {{event.title}}  </div>

                <div class="namespace">
                    Namespace: <b>{{event.namespace}}</b>
                </div>

                <div class="optionals">
                    <div class="priority" *ngIf="event.priority">
                        Priority: <b>{{event.priority}}</b>
                    </div>

                    <!-- event tags -->
                    <div *ngIf="event.tags">
                        <span class="tag" *ngFor="let tag of util.transformTagMapToArray(event.tags)">
                            <span class="tag-key">{{ tag.key }}:</span>
                            <strong class="tag-value">{{ tag.value }}</strong>
                        </span>
                    </div>
    
                    <!-- additional properties -->
                    <div *ngIf="event.additionalProps">
                        <span class="tag" *ngFor="let tag of util.transformTagMapToArray(event.additionalProps)">
                            <span class="tag-key">{{ tag.key }}:</span>
                            <strong class="tag-value">{{ tag.value }}</strong>
                        </span>
                    </div>
    
                    <!-- event details -->
                    <mat-expansion-panel 
                            *ngIf="event.message"
                            class="details"
                           [expanded]="event.eventId === expandedEventId"
                           (opened)="openDetails(event.eventId)"
                           (closed)="closeDetails(event.eventId)">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{event.eventId === expandedEventId ? 'Hide' : 'Show'}} Details
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        {{event.message}}
                    </mat-expansion-panel>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

</div>