<div class="event-stream-list" [ngClass]="{'not-ready': !displayReady}"> 
    <mat-accordion class="event-accordion" displayMode="flat" #eventAccordion>
        <ng-container *ngFor="let bucket of buckets; let i = index">
            <mat-expansion-panel class="event-panel" expanded="{{expandedBucketIndex === i}}" (afterExpand)="openExpansion(i)" (afterCollapse)="collapseExpansion(i)" #eventPanel>
                <mat-expansion-panel-header collapsedHeight="32px" expandedHeight="32px" >
                    <mat-panel-title>
                        <span>
                            <span class="event-time">{{bucket.displayTime}}</span>
                            <span class="event-count">{{bucket.events.length}} {{(bucket.events.length > 1) ? 'Events' : 'Event'}}</span>
                        </span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngIf="expandedBucketIndex === i">
                    <div *ngFor="let event of bucket.events; let j = index">
                        <div *ngIf="j < maxEventsShown" class="event-summary">
                            <div class="event-header">
                                <strong class="event-source">{{event.source}}</strong>
                                <span class="event-time">{{event.displayTime || 'BROKETIME'}}</span>
                            </div>
                            <div class="event-description">
                                <span>{{event.title}}</span>
                            </div>
                            <div class="event-namespace">
                                <span>Namespace:</span> <strong>{{event.namespace}}</strong>
                            </div>
                            <div class="event-optionals">
                                <div class="event-priority" *ngIf="event.priority">
                                    <span>Priority:</span> <strong>{{event.priority}}</strong>
                                </div>
            
                                <div *ngIf="event.tags" class="event-tags">
                                    <span class="event-tag" *ngFor="let tag of util.transformTagMapToArray(event.tags); let last = last">
                                        <span class="tag-key">{{ tag.key }}:</span>
                                        <strong class="tag-value">{{ tag.value }}{{last?'':','}}</strong>
                                    </span>
                                </div>
                
                                <div *ngIf="event.additionalProps" class="event-tags">
                                    <span class="event-tag" *ngFor="let tag of util.transformTagMapToArray(event.additionalProps); let last = last">
                                        <span class="tag-key">{{ tag.key }}:</span>
                                        <strong class="tag-value">{{ tag.value }}{{last?'':','}}</strong>
                                    </span>
                                </div>
    
                                <div class="event-details-wrapper">
                                    <button mat-button color="primary" (click)="event.showDetails = !event.showDetails;">
                                        <span>{{event.showDetails ? 'Hide' : 'Show'}} Details</span>
                                        <mat-icon fontSet="denali" [fontIcon]="(event.showDetails) ? 'd-arrowhead-up' : 'd-arrowhead-down'"></mat-icon>
                                    </button>
                                    <div class="event-details" *ngIf="event.showDetails">
                                        {{event.message}}   
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="j === maxEventsShown" class="max-error-message">
                            First {{maxEventsShown}} shown. Narrow your Search.
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </ng-container>
    </mat-accordion>
</div>