<div class="container">

    <div class="labels-container" *ngIf="widget.query.settings.visual">
        <div class="text-title"> Labels </div>

        <div class="prefix-container"> 
            <span class="label-label">Prefix</span>
            <mat-form-field floatLabel="never">
                <input matInput #prefixBox placeholder="Enter Prefix" value="{{widget.query.settings.visual.prefix}}" (keyup)="KeyedOnPrefixInputBox(prefixBox.value)">
            </mat-form-field>
            <mat-button-toggle-group #prefixSizeGroup="matButtonToggleGroup" 
                [value]="widget.query.settings.visual.prefixSize" 
                (change)="selectedPrefixSize(prefixSizeGroup.value)">
                <mat-button-toggle value="s" [disabled]="!widget.query.settings.visual.prefix">sm</mat-button-toggle>
                <mat-button-toggle value="m" [disabled]="!widget.query.settings.visual.prefix">md</mat-button-toggle>
                <mat-button-toggle value="l" [disabled]="!widget.query.settings.visual.prefix">lg</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group #prefixAlignmentGroup="matButtonToggleGroup" 
                [value]="widget.query.settings.visual.prefixAlignment" 
                (change)="selectedPrefixAlignment(prefixAlignmentGroup.value)">
                <mat-button-toggle value="bottom" [disabled]="!widget.query.settings.visual.prefix"><mat-icon fontSet="denali" fontIcon="d-download"></mat-icon></mat-button-toggle>
                <mat-button-toggle value="middle" [disabled]="!widget.query.settings.visual.prefix"><mat-icon fontSet="denali" fontIcon="d-collapse-vertical"></mat-icon></mat-button-toggle>
                <mat-button-toggle value="top"    [disabled]="!widget.query.settings.visual.prefix"><mat-icon fontSet="denali" fontIcon="d-page-top"></mat-icon></mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    
        <div class="postfix-container"> 
            <span class="label-label">Postfix</span>
            <mat-form-field floatLabel="never">
                <input matInput #postfixBox placeholder="Enter Postfix" value="{{widget.query.settings.visual.postfix}}" (keyup)="KeyedOnPostfixInputBox(postfixBox.value)">
            </mat-form-field>
            <mat-button-toggle-group #postfixSizeGroup="matButtonToggleGroup" [value]="widget.query.settings.visual.postfixSize" (change)="selectedPostfixSize(postfixSizeGroup.value)">
                <mat-button-toggle value="s" [disabled]="!widget.query.settings.visual.postfix">sm</mat-button-toggle>
                <mat-button-toggle value="m" [disabled]="!widget.query.settings.visual.postfix">md</mat-button-toggle>
                <mat-button-toggle value="l" [disabled]="!widget.query.settings.visual.postfix">lg</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group #postfixAlignmentGroup="matButtonToggleGroup" [value]="widget.query.settings.visual.postfixAlignment" (change)="selectedPostfixAlignment(postfixAlignmentGroup.value)">
                <mat-button-toggle value="bottom" [disabled]="!widget.query.settings.visual.postfix"><mat-icon fontSet="denali" fontIcon="d-download"></mat-icon></mat-button-toggle>
                <mat-button-toggle value="middle" [disabled]="!widget.query.settings.visual.postfix"><mat-icon fontSet="denali" fontIcon="d-collapse-vertical"></mat-icon></mat-button-toggle>
                <mat-button-toggle value="top"    [disabled]="!widget.query.settings.visual.postfix"><mat-icon fontSet="denali" fontIcon="d-page-top"></mat-icon></mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    
        <div class="unit-container"> 
            <span class="label-label">Unit</span>
            <mat-form-field floatLabel="never">
                <input matInput #unitBox placeholder="Enter Unit" [matMenuTriggerFor]="menu" value="{{widget.query.settings.visual.unit}}" (keyup)="KeyedOnUnitInputBox(unitBox.value)" (click)="onMenuOpen()">
            </mat-form-field>

            <mat-menu #menu="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="time">Time</button>
                <button mat-menu-item [matMenuTriggerFor]="binaryData">Data (Binary)</button>
                <button mat-menu-item [matMenuTriggerFor]="decimalData">Data (Decimal)</button>
                <button mat-menu-item [matMenuTriggerFor]="dataRate">Data Rate</button>
                <button mat-menu-item [matMenuTriggerFor]="throughput">Throughput</button>
                <button mat-menu-item [matMenuTriggerFor]="currency">Currency</button>
                <button mat-menu-item (click)="KeyedOnUnitInputBox('auto')">Auto</button>
                <button mat-menu-item class="custom-unit-menu-item" (click)="stopPropagation($event)" >
                    <input matInput #customUnit class="custom-unit-input" id="custom-unit" placeholder="Custom Unit" (keyup)="KeyedOnUnitInputBox(customUnit.value)" (keyup.enter)="customUnitEntered()">
                </button>

                <mat-menu #time="matMenu">
                    <button mat-menu-item *ngFor="let unit of timeUnits" (click)="KeyedOnUnitInputBox(unit)">
                        {{unit}}
                    </button>
                </mat-menu>
                <mat-menu #binaryData="matMenu">
                    <button mat-menu-item *ngFor="let unit of binaryDataUnits" (click)="KeyedOnUnitInputBox(unit)">
                        {{unit}}
                    </button>
                </mat-menu>
                <mat-menu #decimalData="matMenu">
                    <button mat-menu-item *ngFor="let unit of decimalDataUnits" (click)="KeyedOnUnitInputBox(unit)">
                        {{unit}}
                    </button>
                </mat-menu>
                <mat-menu #dataRate="matMenu">
                    <button mat-menu-item *ngFor="let unit of dataRateUnits" (click)="KeyedOnUnitInputBox(unit)">
                        {{unit}}
                    </button>
                </mat-menu>
                <mat-menu #throughput="matMenu">
                    <button mat-menu-item *ngFor="let unit of throughputUnits" (click)="KeyedOnUnitInputBox(unit)">
                        {{unit}}
                    </button>
                </mat-menu>
                <mat-menu #currency="matMenu">
                    <button mat-menu-item *ngFor="let unit of currencyUnits" (click)="KeyedOnUnitInputBox(unit)">
                        {{unit}}
                    </button>
                </mat-menu>
            </mat-menu>

            <mat-button-toggle-group #unitSizeGroup="matButtonToggleGroup" [value]="widget.query.settings.visual.unitSize" (change)="selectedUnitSize(unitSizeGroup.value)">
                <mat-button-toggle value="s" [disabled]="!widget.query.settings.visual.unit">sm</mat-button-toggle>
                <mat-button-toggle value="m" [disabled]="!widget.query.settings.visual.unit">md</mat-button-toggle>
                <mat-button-toggle value="l" [disabled]="!widget.query.settings.visual.unit">lg</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group #unitAlignmentGroup="matButtonToggleGroup" [value]="widget.query.settings.visual.unitAlignment" (change)="selectedUnitAlignment(unitAlignmentGroup.value)">
                <mat-button-toggle value="bottom" [disabled]="!widget.query.settings.visual.unit"><mat-icon fontSet="denali" fontIcon="d-download"></mat-icon></mat-button-toggle>
                <mat-button-toggle value="middle" [disabled]="!widget.query.settings.visual.unit"><mat-icon fontSet="denali" fontIcon="d-collapse-vertical"></mat-icon></mat-button-toggle>
                <mat-button-toggle value="top"    [disabled]="!widget.query.settings.visual.unit"><mat-icon fontSet="denali" fontIcon="d-page-top"></mat-icon></mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        
        <div class="caption-container">
            <span class="label-label">Caption</span> 
            <mat-form-field floatLabel="never">
                <input matInput #captionBox placeholder="{{captionPlaceholder}}" value="{{widget.query.settings.visual.caption}}" (keyup)="KeyedOnCaptionInputBox(captionBox.value)">
            </mat-form-field>
        </div>

        <div class="precision-container">
            <span class="label-label">Precision</span> 
            <mat-form-field floatLabel="never">
                <input matInput #precisionBox placeholder="Enter Precision [0-9]" [value]="widget.query.settings.visual.precision" (keyup)="KeyedOnPrecisionInputBox(precisionBox.value)">
            </mat-form-field>
        </div>

    </div>

    <div class="color-container" *ngIf="widget.query.settings.visual">
        <div class="text-title"> Color Family </div>
        <div class="color-picker-container">
            <mat-button-toggle-group #colorGroup="matButtonToggleGroup" [value]="colorType" (change)="selectedColorType(colorGroup.value)">
                <mat-button-toggle id="text" mat-button value="text">Text</mat-button-toggle>    
                <mat-button-toggle id="backgroud" mat-button value="background">Background</mat-button-toggle>
            </mat-button-toggle-group>
            <div>
                <color-picker *ngIf="colorType === 'text'"       [pickerMode]="'embedded'" (newColor)="colorChanged($event)" [color]="widget.query.settings.visual.textColor"></color-picker>
                <color-picker *ngIf="colorType === 'background'" [pickerMode]="'embedded'" (newColor)="colorChanged($event)" [color]="widget.query.settings.visual.backgroundColor"></color-picker>
            </div>
        </div>
    </div>

    <div class="options-container" *ngIf="widget.query.settings.visual">
        <div class="text-title"> Options </div>
        <!-- <div>
            <mat-slide-toggle><span class="mat-caption">Sparkline</span></mat-slide-toggle>
        </div> -->
        <div>
            <mat-slide-toggle (change)="indicatorToggleChange()" [checked]="widget.query.settings.visual.changedIndicatorEnabled"><span class="mat-caption">Change Indicator</span></mat-slide-toggle>
        </div>
    </div>
</div>

