<div fxLayout="row" fxFlex="1 1 100%" fxFlexFill>
    <div fxFlex="1 1 100%" fxLayout="column" fxFlexFill>
        <simple-dashboard-list fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="stretch stretch"></simple-dashboard-list>
    </div>
</div>

<!-- navbar portal items for landing page -->
<ng-template #landingpageNavbarTmpl>
    <div class="navbar-item">
        <span class="dashboard-name">Horizon Landing Page</span>
    </div>
    
    <span class="flex-spacer"></span>

    <span class="navbar-item navbar-icon-item nav-search-toggle">
        <navbar-search-toggle mat-button></navbar-search-toggle>
    </span>

    <!-- Hiding unused icons for now
    <span class="navbar-item navbar-icon-item nav-info-menu">
        <navbar-info-menu mat-button></navbar-info-menu>
    </span>

    <span class="navbar-item navbar-icon-item nav-theme-picker">
        <theme-picker mat-button></theme-picker>
    </span>

    <span class="navbar-item navbar-icon-item nav-user-menu">
        <navbar-user-menu mat-button></navbar-user-menu>
    </span>-->
</ng-template>