<div class="event-details" *ngIf="show"> 
    <div class="top-header">
        <span class="title"> Event Details </span>
        <button mat-button class="close" (click)="hide()"> x </button>
    </div>

    <mat-accordion>
        <mat-expansion-panel *ngFor="let bucket of buckets; let i = index" 
            [expanded]="bucketPanelState[i]"
            (opened)="updateExpansion(i, true)"
            (closed)="updateExpansion(i, false)">

            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{util.buildDisplayTime(bucket.endTime, startTime, endTime, false, timezone)}}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngFor="let event of bucket.events">
                <div class="event-description"> {{event.title}}</div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    
    <!-- <div class="event-groups">
      <div *ngFor="let groupInterval of groupedEvents">
        <b> {{groupInterval.timeInterval}} </b>
          <div *ngIf="groupInterval.comments">
              <div class="group-type-heading">Comments</div>
              <div *ngFor="let thread of groupInterval.comments"> 
                <div *ngFor="let comment of thread" class="event-description" [ngClass]="{'comment-reply': !comment.originalComment}">
                  {{comment.user}}:  {{comment.message}} 
                </div>
              </div>
          </div>

          <div *ngIf="groupInterval.sdJobs">
              <div class="group-type-heading">Screwdriver Jobs</div>
              <div *ngFor="let sdJob of groupInterval.sdJobs" class="event-description"> 
                SD Job {{sdJob.jobNumber}}: {{sdJob.status}}. Triggered by {{sdJob.executor}}. 
              </div>
          </div>
      </div>
    </div> -->
</div>