<div class="event-details" *ngIf="show"> 
    <div class="top-header">
        <span></span>
        <button mat-button class="close" (click)="hide()"> x </button>
    </div>

    <mat-accordion>
        <mat-expansion-panel *ngFor="let bucket of buckets; let i = index" 
            [expanded]="bucketPanelState[i]"
            (opened)="updateExpansion(i, true)"
            (closed)="updateExpansion(i, false)">

            <mat-expansion-panel-header id="bucket-header">
                <mat-panel-title >
                    <span> {{util.buildDisplayTime(bucket.endTime, startTime, endTime, false, timezone)}}</span> 
                    <span *ngIf="bucket.events.length > 1"> - {{bucket.events.length}} </span> 
                    <span *ngIf="bucket.events.length > 1"> Events</span>
                </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngFor="let event of bucket.events" class="event">
                <div class="event-header">
                    <span class="event-source">{{event.source}}</span>
                    <span class="event-time">{{util.buildDisplayTime(event.startTime, startTime, endTime, bucket.width <= 1000 * 60, timezone)}}</span>
                </div>
                <div class="event-description"> {{event.title}}  </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

</div>