<mat-toolbar class="panel-toolbar" [ngClass]="{'is-master-panel': currentPanelIndex === 0}">
    <mat-toolbar-row fxLayout fxLayoutAlign="start stretch">
        <div class="nav-item back-to-master">
            <button mat-icon-button (click)="navtoMasterPanel()">
                <mat-icon fontSet="denali" fontIcon="d-arrowhead-left"></mat-icon>
            </button>
        </div>
        <div class="nav-item panel-label" (click)="navtoMasterPanel()">
            <strong>Dashboards</strong>
        </div>
        <span class="flex-spacer"></span>
        <div class="nav-item">
            <button mat-icon-button (click)="closeDrawer()">
                <mat-icon fontSet="denali" fontIcon="d-close"></mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<navigator-panel #navPanel>
    <ng-container *ngFor="let panel of panels; let i = index;">
        <ng-container *navigatorPanelItem>
            <ng-container *ngIf="i > 0">
                <ng-container *ngTemplateOutlet="pathTree;context:{panels: panels, i: i}"></ng-container>
            </ng-container>
            <!-- root folder -->
            <ng-container *ngIf="panel.folderResource === ':panel-root:'">
                root
                <ng-container *ngTemplateOutlet="rootPanel;context:{panel: (getPanelContext(panel.folderResource)|async), panelIndex: i}"></ng-container>
            </ng-container>
            <!-- default folder -->
            <ng-container *ngIf="!panel.synthetic && !panel.root && !panel.dynamic && !panel.trashFolder">
                default
                <ng-container *ngTemplateOutlet="defaultPanel;context:{panel: (getPanelContext(panel.folderResource)|async), panelIndex: i}"></ng-container>
            </ng-container>
            <!-- trash folder-->
            <ng-container *ngIf="panel.trashFolder">
                trash
                <ng-container *ngTemplateOutlet="trashPanel;context:{panel: (getPanelContext(panel.folderResource)|async), panelIndex: i}"></ng-container>
            </ng-container>
            <!-- dynamic folder-->
            <ng-container *ngIf="panel.dynamic">
                dynamic
                <ng-container *ngTemplateOutlet="dynamicPanel;context:{panel: (getPanelContext(panel.folderResource)|async), panelIndex: i}"></ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</navigator-panel>

<ng-template #panelTest let-panel="panel">
    {{panel|json}}
</ng-template>

<ng-template #rootPanel let-panel="panel" let-panelIndex="panelIndex">
    <ng-container *ngTemplateOutlet="createDashboardButton"></ng-container>
    <div class="dnav-folders">
        <mat-nav-list class="folder-list">
            <mat-list-item *ngFor="let folder of panel.personal; let i = index;" class="folder-nav-item" (click)="gotoFolder(folder.fullPath)">
                <ng-container *ngTemplateOutlet="folderDisplay;context:{folder: folder}"></ng-container>
            </mat-list-item>
        </mat-nav-list>
    </div>
    <div class="block-header folders-header">
        <div class="block-header-label">
            <span class="header-label">Namespaces</span>
        </div>
    </div>
    <div class="dnav-folders">
        <mat-nav-list class="folder-list">
            <mat-list-item *ngFor="let folder of panel.namespaces; let i = index;" class="folder-nav-item" (click)="gotoFolder(folder.fullPath)">
                <ng-container *ngTemplateOutlet="folderDisplay;context:{folder: folder}"></ng-container>
            </mat-list-item>
        </mat-nav-list>
    </div>
</ng-template>

<ng-template #defaultPanel let-panel="panel" let-panelIndex="panelIndex">
    <ng-container *ngTemplateOutlet="createDashboardButton"></ng-container>
    <ng-container *ngTemplateOutlet="folderList;context:{folders: panel.subfolders, panelIndex: panelIndex}"></ng-container>
</ng-template>

<ng-template #trashPanel let-panel="panel" let-panelIndex="panelIndex">
    trash
</ng-template>

<ng-template #dynamicPanel let-panel="panel" let-panelIndex="panelIndex">
    dynamic
</ng-template>

<ng-template #panelLayout let-panel="panel" let-panelIndex="panelIndex">

    <ng-container *ngIf="!panel.trashFolder && (panel.fullPath === ':panel-root:' || panel.ownerType === 'namespace' || panel.ownerType === 'user')">
        <ng-container *ngTemplateOutlet="createDashboardButton"></ng-container>
    </ng-container>

    <ng-container *ngIf="panel.fullPath === ':panel-root:'">
        <div class="dnav-folders">
            <mat-nav-list class="folder-list">
                <mat-list-item *ngFor="let path of panel.personal; let i = index;" class="folder-nav-item" (click)="gotoFolder(path)">
                    <ng-container *ngTemplateOutlet="folderDisplay;context:{folder: folders[path]}"></ng-container>
                </mat-list-item>
            </mat-nav-list>
        </div>
        <div class="block-header folders-header">
            <div class="block-header-label">
                <span class="header-label">Namespaces</span>
            </div>
        </div>
        <div class="dnav-folders">
            <mat-nav-list class="folder-list">
                <mat-list-item *ngFor="let path of panel.namespaces; let i = index;" class="folder-nav-item" (click)="gotoFolder(path)">
                    <ng-container *ngTemplateOutlet="folderDisplay;context:{folder: folders[path]}"></ng-container>
                </mat-list-item>
            </mat-nav-list>
        </div>
    </ng-container>

    <ng-container *ngIf="!panel.synthetic && !panel.root && panel.subfolders && panel.files">
        <div class="block-header folders-header">
            <div class="block-header-label">
                <span class="header-label">folders</span>
            </div>
        </div>
        <div class="dnav-folders">
            <mat-nav-list class="folder-list">
                <mat-list-item *ngFor="let path of panel.subfolders; let i = index;" class="folder-nav-item" (click)="gotoFolder(path)">
                    <ng-container *ngTemplateOutlet="folderDisplay;context:{folder: folders[path]}"></ng-container>
                </mat-list-item>
            </mat-nav-list>
        </div>
        <div class="block-header dashboards-header">
            <span class="header-label">Dashboards</span>
            <span class="counter" *ngIf="panel.files.length > 0">
                <span class="chip-count">{{panel.files.length}}</span>
            </span>
            <span class="flex-spacer"></span>
        </div>
        <mat-nav-list class="dashboard-list">
            <mat-list-item *ngIf="panel.files.length === 0" class="no-item-message">
                <span class="mat-caption no-item-message">There are no dashboards.</span>
            </mat-list-item>
            <mat-list-item *ngFor="let path of panel.files">
                <ng-container *ngTemplateOutlet="fileDisplay;context:{dashboard: files[path]}"></ng-container>
            </mat-list-item>
        </mat-nav-list>
    </ng-container>

</ng-template>

<ng-template #pathTree let-panels="panels", let-i="i">
    <mat-nav-list class="path-tree">
        <ng-container *ngFor="let leaf of panels; let n = index;">
            <mat-list-item class="path-tree-item leaf-{{n}}" 
                *ngIf="leaf.folderResource !== ':panel-root:' && n <= i" 
                [ngClass]="{'is-active': n === i}"
                (click)="navtoSpecificPanel(n, i)">
                <mat-icon class="path-icon" fontSet="denali" [fontIcon]="folders[leaf.folderResource].icon ? folders[leaf.folderResource].icon : 'd-folder'"></mat-icon>
                <span>{{folders[leaf.folderResource].name}}</span>
            </mat-list-item>
        </ng-container>
    </mat-nav-list>
</ng-template>

<ng-template #createDashboardButton>
    <div class="create-dashboard">
        <button mat-flat-button (click)="createDashboard()">
            <mat-icon fontSet="denali" fontIcon="d-dashboard-tile"></mat-icon>
            <span>Create Dashboard</span>
        </button>
    </div>
</ng-template>

<ng-template #folderList let-folders="folders" let-panelIndex="panelIndex">
    <div class="dnav-folders">
        
        <div class="block-header folders-header" [ngClass]="{'has-create-actions': editMode === 'create' && activeMediaQuery !== 'xs', 'has-edit-actions': editMode === 'edit' && activeMediaQuery !== 'xs'}">
            <div class="block-header-label">
                <span class="header-label">{{ (folders.length > 0 || activeMediaQuery === 'xs') ? 'Folders' : 'Add Folder' }}</span>
                <span class="counter" *ngIf="folders.length > 0">
                    <span class="chip-count">{{folders.length}}</span>
                </span>
            </div>
            <div class="edit-actions" *ngIf="activeMediaQuery !== 'xs'">
                <button mat-button class="remove-folders-button" (click)="removeFolders()" [disabled]="foldersToRemove.length === 0" [ngClass]="{'is-active': foldersToRemove.length > 0}">
                    <span>Move to trash</span>
                </button>
            </div>
            <span class="flex-spacer"></span>
            <div class="display-actions" *ngIf="activeMediaQuery !== 'xs'">
                <button mat-icon-button (click)="createFolder()">
                    <mat-icon fontSet="denali" fontIcon="d-folder-add"></mat-icon>
                </button>
                <button mat-icon-button (click)="editFolders()" *ngIf="folders.length > 0">
                    <mat-icon fontSet="denali" fontIcon="d-pencil"></mat-icon>
                </button>
            </div>
            <div class="edit-actions" *ngIf="activeMediaQuery !== 'xs'">
                <button mat-button (click)="doneEdit()">
                    <span>Done</span>
                </button>
            </div>
            <div class="create-actions" *ngIf="activeMediaQuery !== 'xs'">
                <button mat-button (click)="cancelCreate()">
                    <span>Cancel</span>
                </button>
            </div>
        </div>
        
        <mat-nav-list class="folder-list">
            <mat-list-item *ngIf="folders.length === 0 && activeMediaQuery === 'xs'" class="no-item-message">
                <span class="mat-caption">There are no folders.</span>
            </mat-list-item>
            <mat-list-item *ngIf="editMode === 'create' && !bulkEdit && activeMediaQuery !== 'xs'">
                <dnav-folder-item [folder]="{ name: ''}" mode="new" [resourceType]="resourceType" (folderAction)="createFolderAction($event)"></dnav-folder-item>
            </mat-list-item>
            <mat-list-item *ngFor="let folder of folders; let i = index;" class="folder-nav-item" (click)="gotoFolder(folder.fullPath)">
                <dnav-folder-item [folder]="folder" [mode]="folder.name === 'Trash' ? 'display' : bulkEdit ? 'edit' : 'display'" [resourceType]="resourceType" (folderAction)="editFolderAction(folder, $event)"></dnav-folder-item>
            </mat-list-item>
        </mat-nav-list>
    </div>
</ng-template>

<ng-template #fileList let-files="files" let-panelIndex="panelIndex">

</ng-template>

<ng-template #folderDisplay let-folder="folder">
    <div class="dnav-folder-item">
        <div class="list-item">
            <mat-icon class="folder-icon" fontSet="denali" [fontIcon]="folder.icon || 'd-folder'"></mat-icon>
        </div>
        <div class="list-item folder-name flex-spacer">
            <span>{{folder.name || 'BROKEN'}}</span>
        </div>
        <div class="list-item">
            <span class="counter">
                <span class="chip-count">{{((folder.subfolders) ? folder.subfolders.length : 0) + ((folder.files) ? folder.files.length : 0)}}</span>
            </span>
        </div>
        <div class="list-item goto-next-folder">
            <button mat-icon-button >
                <mat-icon fontSet="denali" fontIcon="d-arrowhead-right"></mat-icon>
            </button>
        </div>
    </div>
</ng-template>

<ng-template #fileDisplay let-dashboard="dashboard">
    <div class="dnav-dashboard-item">
        <a routerLink="/d{{dashboard.path}}" (click)="menuAction('navigateTo')" class="dnav-dashboard-link flex-spacer">
            <mat-icon class="dnav-dashboard-icon" fontSet="denali" fontIcon="d-dashboard-tile"></mat-icon>
            <span class="dnav-dashboard-label">{{dashboard.name}}</span>
        </a>
    </div>
</ng-template>