<mat-toolbar mat-dialog-title>
    <!--<span>Add Time Series</span>
    <span class="flex-spacer"></span>
    <button mat-icon-button [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>-->
    <span class="dialog-title">Add Expression</span>
    <span class="flex-spacer"></span>
    <span>
        <button mat-button color="primary" class="close-dialog-btn" [mat-dialog-close]="true">
            <mat-icon fontSet="denali" fontIcon="d-close"></mat-icon>
        </button>
    </span>
</mat-toolbar>
<mat-dialog-content>

    <div class="content-container">
        <div class="chart-expression-form-column">
            <div class="graph-output" fxFlex="1 1 100%" fxLayout="column">
                    <div class="graph-metric-list-title" fxFlex="1 1 30px">
                        <strong>Line Chart Preview</strong>
                    </div>
                    <div id="dygraph_div" dygraphsChart [chartType]="chartType" [data]="data" [size]="size" [options]="options">
                    </div>
            </div>
            <div class="expression-form">
                <form [formGroup]="metricExpressionForm">
                    <mat-form-field appearance="fill">
                        <mat-label>Expression Name</mat-label>
                        <input matInput placeholder="Please enter a name for this expression" maxlength="100" formControlName="expressionName" required>
                        <mat-hint>Max 100 characters</mat-hint>
                        <mat-hint align="end">{{expressionName?.length || 0}}/100</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Expression Value</mat-label>
                        <textarea matInput rows="10" placeholder="Enter an expression value (e.g. [(m1+m2)/2]" formControlName="expressionValue" required></textarea>
                    </mat-form-field>
                    <mat-error *ngIf="metricExpressionForm.controls.expressionValue.errors && metricExpressionForm.controls.expressionValue.errors.invalid">
                            Invalid Expression.
                    </mat-error>
                </form>
            </div>
        </div>
        <div class="query-list-column">
            <div class="column-header">
                <strong class="mat-subheading-1">Available Queries</strong> 
                <button mat-stroked-button color="primary" class="mat-elevation-z0 additional-query-btn" (click)="openTimeSeriesMetricDialog(mgroupId)">
                    <mat-icon fontSet="denali" fontIcon="d-add"></mat-icon>
                    <span>Additional Query</span>
                </button>
            </div>
            <div class="query-list has-scroller">
                <div class="is-scroller">
                    <div class="query-list-item" *ngFor="let k of Object.keys(metrics)">
                        <div class="metric-alias">
                            <span>{{ k }}</span>
                        </div>
                        <div class="metric-detail">
                            <div class="metric-label">{{ metrics[k].metric }}</div>
                            <div class="metric-tags">
                                <div class="metric-tag" *ngFor="let tag of metrics[k].filters">
                                    <span class="tag-key">{{ tag.tagk }}:</span>
                                    <strong class="tag-value">{{ tag.filter }}</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" class="mat-elevation-z0" (click)="onClick_Apply()">APPLY</button>
    <button mat-stroked-button color="primary" class="mat-elevation-z0" (click)="onClick_Cancel()">CANCEL</button>
</mat-dialog-actions>
