/* WIDGET CONFIG COMPONENT */

// TODO: Describe how this is setup & why there are two mixins (at a minimum)
@mixin expression-dialog-component-base() {
    .metric-expression-dialog {
        @include mat-typography-level-to-styles(map-get($app-fontface-config, sans), body-1);
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;

        .mat-dialog-title {
            @include mat-typography-level-to-styles(map-get($app-fontface-config, sans), subheading-2);
            flex: 1 1 48px;
            margin: 0;

            &.mat-toolbar {
                display: flex;
                padding: 0 20px;
            }

            .close-dialog-btn {
                min-width: auto;
                padding: 4px;
                line-height: 12px;
                font-size: 12px;
            }
        }

        .mat-dialog-content {
            max-height: initial;
            flex: 1 1 100%;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .mat-dialog-actions {
            flex: 1 1 65px;
            padding: 12px 24px;
            margin-bottom: initial; // apply/cancel buttons

            .mat-raised-button:not(:last-child) {
                margin-right: 6px;
            }
        }

        .content-container {
            display: flex;
            flex: 1;
            flex-direction: row;
            align-items: stretch;
            justify-content: stretch;
        }


        // CONTENT COLUMNS
        .chart-expression-form-column,
        .query-list-column {
            display:flex;
            flex: 1;
            flex-direction: column;
        }

        .chart-expression-form-column,
        .query-list-column .column-header,
        .query-list-column .is-scroller {
            padding: 10px 20px;
        }
        
        .chart-expression-form-column {
            display: flex;
            flex: 1;
            flex-direction: column;
            .graph-output {
                height: 300px;
            }
            .expression-form {
                flex: 1;
                form {
                    display: flex;
                    flex-direction: column;
                }

                .mat-form-field {
                    margin-bottom: 20px;
                }
            }
        }

        .query-list-column {
            .additional-query-btn {
                font-size: 12px;
                margin-left: 10px;
                line-height: 24px;
                padding-left: 6px;
                
                .mat-icon {
                    font-size: 16px;
                    width: initial;
                    height: initial;
                    padding-right: 3px;
                }
            }

            .query-list {
                flex: 1;
            }

            .query-list-item {
                display: flex;
                width: 100%;
                padding: 8px 0;

                .metric-alias {
                    width: 30px;
                    margin-right: 10px;

                    span {
                        font-size: 10px;
                        padding: 2px 4px;
                        border-radius: 4px;
                        font-weight: bold;
                    }
                }

                .metric-details {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                }

                .metric-tag {
                    font-size: 10px;
                    display: inline-flex;
                    margin-right: 10px;
                    margin-bottom: 8px;

                    .tag-key {
                        margin-right: 2px;
                    }
                }
            }
        }

    }
    
    // CDK ITEMS
    .metric-expression-dialog-panel {
        .mat-dialog-container {
            transform: none;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: stretch;
            padding: 0;
        }
    }
}

@mixin expression-dialog-component-theme($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $success: map-get($theme-config, success);
    $is-dark: map-get($theme-config, is-dark);

    $divider: map-get($background, background);
    $card-background: map-get($background, card);
    $light-gray-background: map-get($background, menu);
    $expanded-header-bg: map-get($primary, default);
    $expanded-header-text: map-get($primary, default-contrast);
    $expanded-body-bg: rgba(map-get($primary, default), 0.05);
    $input-bg: if($is-dark, rgba(map-get($foreground, base), .1), lighten(map-get($primary, 50), 2%));
    $input-bg-focus: if($is-dark, rgba(map-get($foreground, base), .12), map-get($primary, 50));

    $alias-bg: if($is-dark, rgba(255, 255, 255, .2), rgba(0, 0, 0, .2));
    $alias-text: if($is-dark, rgba(255, 255, 255, .5), rgba(0, 0, 0, .5));

    .metric-expression-dialog {
        //background-color: map-get($background, background);
        background-color: $card-background;

        .mat-toolbar {
            background: transparent;
            border-bottom: 2px solid $divider;
        }

        .mat-dialog-actions { 
            border-top: 2px solid $divider;
        }
        .content-container {
            .query-list-column {
                border-left: 2px solid $divider;

                .column-header {
                    background-color: $divider;
                }
            }
        }

        .query-list-column {

            .query-list-item {
                border-bottom: 1px solid $divider;

                .metric-alias span {
                    background-color: $alias-bg;
                    color: $alias-text;
                }

                .metric-tag {
                    color: $alias-text;
                }
            }
        }
    }

    // CDK items
    .cdk-overlay-pane.metric-expression-dialog-panel {
        .mat-dialog-container {
            background: map-get($background, background);
        }
    }

}
