<mat-form-field class="attribute-tag-chip-list" style="width: 100%;">
    <mat-chip-list #tagList>
        <mat-chip
        *ngFor="let tag of tags"
        [selectable]="selectable"
        [removable]="removable"
        (remove)="remove(tag)">
            <span class="key">{{ tag.key }} : </span>
            <span class="value">{{ tag.value }}</span>
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
        placeholder="New tag..."
        #tagInput
        [formControl]="tagCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="tagList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
        />
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let stag of filteredTags | async" [value]="stag">
        {{ stag.key }}: {{ stag.value }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>