
<div class="mat-calendar">
    <div class="dp-day-calendar-container" *ngIf="currentCalendarMode ===  CalendarMode.Day">

        <dp-calendar-nav
            [label]="navLabel"
            [showLeftNav]="showLeftNav"
            [showRightNav]="showRightNav"
            [isLabelClickable]="componentConfig.enableMonthSelector"
            [showGoToCurrent]="_shouldShowCurrent"
            (onLeftNav)="onLeftNavClick()"
            (onRightNav)="onRightNavClick()"
            (onLabelClick)="toggleCalendarMode(CalendarMode.Month)"
            (onGoToCurrent)="goToCurrent()">
        </dp-calendar-nav>

        <div class="mat-calendar-content">
            <table class="mat-calendar-table">
                <thead class="mat-calendar-table-header">
                    <tr>
                        <th class="mat-header-cell" *ngFor="let weekday of weekdays" [innerText]="getWeekdayName(weekday)"></th>
                    </tr>
                    <tr>
                        <th class="mat-calendar-table-header-divider" colspan="7"></th>
                    </tr>
                </thead>
                <tbody class="mat-calendar-body">
                    <tr *ngFor="let week of weeks">
                        <td class="mat-calendar-body-cell" *ngFor="let day of week" [ngClass]="{'mat-calendar-body-disabled': day.disabled, 'mat-calendar-body-not-current': !isDayInCurrentMonth(day), 'mat-calendar-body-active': isDayToday(day)}">
                            <div class="mat-calendar-body-cell-content"
                                [ngClass]="{'mat-calendar-body-today': isDayToday(day), 'mat-calendar-body-selected': day.selected}"
                                (click)="day.disabled ? null : dayClicked(day); wtfIsTheDay(day);">
                                {{getDayBtnText(day)}}
                            </div>
                            <!--<button class="mat-elevation-z0" [disabled]="day.disabled ? '' : null" (click)="day.disabled ? null : dayClicked(day)"
                                [ngClass]="getDayBtnCssClass(day)">
                                <span>{{getDayBtnText(day)}}</span>
                            </button>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <dp-month-calendar *ngIf="currentCalendarMode ===  CalendarMode.Month" 
        [config]="monthCalendarConfig" 
        [displayDate]="_currentDateView"
        (onSelect)="monthSelected($event)"
        (onNavHeaderBtnClick)="toggleCalendarMode(CalendarMode.Day)"
        (onLeftNav)="onMonthCalendarLeftClick($event)"
        (onRightNav)="onMonthCalendarRightClick($event)"
        (onLeftSecondaryNav)="onMonthCalendarSecondaryLeftClick($event)"
        (onRightSecondaryNav)="onMonthCalendarSecondaryRightClick($event)">
    </dp-month-calendar>
</div>
