<form [formGroup]="formGroups">
        <div class="column" *ngFor="let threshold of thresholds; let index=index" [formGroupName]="index">
            <div class="config-control with-enable-label">
                <label>Threshold-{{index+1}}</label>
            </div>
            <div class="config-control inline-controls">
                <label class="fixed-label">Value</label>
                <div class="form-field-group">
                    <mat-form-field appearance="fill" color="primary">
                        <input  matInput formControlName="value">
                    </mat-form-field>
                    <mat-error *ngIf="formGroups.controls[index].controls.value.invalid">
                            Number only.
                    </mat-error>
                </div>
            </div>
            <div class="config-control inline-controls">
                <label class="fixed-label">Color</label>
                <div class="form-field-group">
                    <color-picker  (newColor)="selectColor($event,index)" [color]="threshold.lineColor"></color-picker>
                </div>
            </div>
            <div class="config-control inline-controls">
                <label class="fixed-label">Size</label>
                <div class="form-field-group">
                    <dropdown-line-weight  formControlName="lineWeight"></dropdown-line-weight>
                </div>
            </div>
            <div class="config-control inline-controls">
                <label class="fixed-label">Pattern</label>
                <div class="form-field-group">
                        <dropdown-line-type  formControlName="lineType"></dropdown-line-type>
                </div>
            </div>
        </div>
    </form>