/* NAVBAR COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)
// core (aka structure)
@mixin navbar-component-base() {
    .app-navbar {
        @include mat-elevation(2);
        z-index: 2;

        .app-home-link {
            min-width: auto;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        .app-yamas-logo {
            height: 32px;
            //margin: 0 4px 3px 0;
            vertical-align: middle;
        }

        .dashboard-name {
            @include mat-typography-level-to-styles(map-get($app-fontface-config, sans), title);
        }

        .icon-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .mat-toolbar {
            .mat-toolbar-row {
                padding-left: initial;
            }
        }

        .mat-toolbar-multiple-rows,
        .mat-toolbar-single-row {
            min-height: 48px !important;
            height: 48px;
        }

        .navbar-item {
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }
}
// theme (aka look-n-feel)
@mixin navbar-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark-theme: map-get($theme-config, is-dark);

    .app-navbar {

        .mat-toolbar {
            background: map-get($background, navbar);
            color: map-get($foreground, navbar-text);

            .mat-icon-button {
                .mat-icon {
                    color: map-get($foreground, navbar-icons)
                }
            }
        }
    }
    
}
