<button mat-icon-button [matMenuTriggerFor]="simpleTimepickerMenu">
    <mat-icon aria-label="Simple Date Time Picker">date_range</mat-icon>
</button>
<mat-menu #simpleTimepickerMenu="matMenu" [overlapTrigger]="false" class="nav-bar-dropmenu simple-time-picker-menu">
    <div class="time-picker-container" fxLayout="column">
        <div class="control-title mat-body-2" fxFlex="1 1 24px">SIMPLE DATE/TIME PICKER</div>
        <div class="time-picker-controls" fxFlex="1 1 100%" fxLayout="column">
            <div class="date-presets">
                <span class="mat-caption">presets</span>
                <div class="preset-controls" fxLayout="row">
                    <div class="preset-group" *ngFor="let pgroup of presetOptions.reverse()">
                        <button mat-raised-button
                            class="mat-elevation-z0"
                            *ngFor="let poption of pgroup.options.reverse()"
                            (click)="presetClick_Event(poption, $event)">{{ poption }}</button>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="date-inputs">
                <mat-form-field appearance="fill">
                    <mat-label>Start Date</mat-label>
                    <input matInput 
                        [matDatepicker]="startDatePicker"
                        [formControl]="startTimeControl"
                        (dateInput)="dateInput_Event('startDate','input', $event)"
                        (dateChange)="dateInput_Event('startDate','change', $event)"
                        (click)="$event.stopPropagation()">
                    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker color="accent" class="simple-time-picker-calendar" #startDatePicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="fill" >
                    <mat-label>End Date</mat-label>
                    <input matInput
                        [matDatepicker]="endDatePicker"
                        [formControl]="endTimeControl"
                        (dateInput)="dateInput_Event('endDate','input', $event)"
                        (dateChange)="dateInput_Event('endDate','change', $event)"
                        (click)="$event.stopPropagation()">
                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker color="accent" class="simple-time-picker-calendar" #endDatePicker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>
</mat-menu>
