/* THEME-PICKER COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)

@mixin simple-time-picker-component-base() {
    .nav-simple-time-picker {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .simple-time-picker-menu.mat-menu-panel {
        position: relative;
        overflow: initial;
        max-width: initial;

        &::after {
            bottom: 100%;
            left: calc(100% - 20px);
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-width: 6px;
            margin-left: -6px;
        }

        .time-picker-container {
            padding: 0 12px;
        }

        .date-presets,
        .date-inputs {
            margin: 6px 0;
        }

        .date-presets {

            .mat-raised-button {
                min-width: initial;
                line-height: 20px;
                font-size: 10px;
                padding: 0 8px;
            }

            .mat-raised-button:not(:last-child) {
                margin-right: 4px;
            }

            .preset-group {
                margin-right: 24px;
            }
        }

        .date-inputs {
            .mat-form-field {
                min-width: 298px;
            }

            .mat-form-field-wrapper {
                padding-bottom: 0;
            }

            .mat-form-field-underline {
                bottom: 0;
            }

            .mat-form-field:not(:last-child) {
                margin-right: 8px
            }
        }
    }
}

@mixin simple-time-picker-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $success: map-get($theme-config, success);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark: map-get($theme-config, is-dark);

    //.nav-theme-picker { }
    

    // CDK items are outside of component namespace class - be sure to give them very unique names
    .simple-time-picker-menu.mat-menu-panel {

        .control-title {
            border-bottom: 1px solid map-get($foreground, divider);
        }

        &::after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: map-get($background, menu); // actual color of arrow
        }
    }

}
