<!--
<mat-select [value]="selected && selected.length ? selected : ['all']"  multiple (selectionChange)="setTags($event)" (openedChange)="loadTags($event)">
    <mat-option value='all'>Everything</mat-option>
    <mat-option *ngFor="let option of tagOptions" [value]="option.name">{{ option.name }}</mat-option>
</mat-select>
-->
<button mat-button (click)="loadTags(true)" [disabled]="disableGroupBy">
    <div class="button-label">
        <div>{{   ( selected && selected.length > 0 && selected.indexOf('all') === -1) ? selected.join(', ') : (all ? 'Everything' : 'Select Tags') }}</div>
        <div class="mat-select-arrow-wrapper">
            <div class="mat-select-arrow"></div>
        </div>
    </div>
    <span class="menu-trigger" [matMenuTriggerFor]="tagOptionsMenu" #tagOptionsMenuTrigger></span>
</button>
<mat-menu class="tag-options-cdk-menu" #tagOptionsMenu="matMenu" yPosition="below">

    <div class="tag-options-wrapper" (click)="$event.stopPropagation()">
        <mat-selection-list #tagOptionsList (selectionChange)="onTagSelection($event, tagOptionsList.selectedOptions.selected)">
            <mat-list-option checkboxPosition="before" value='all' [selected]="optionIsSelected('all')" *ngIf="all">Everything</mat-list-option>
            <mat-list-option *ngFor="let option of tagOptions" checkboxPosition="before" [value]="option.name" [selected]="optionIsSelected(option.name)">
                {{option.name}}
            </mat-list-option>
        </mat-selection-list>  
    </div>

</mat-menu>
