<span>
    <mat-form-field appearance="fill">
        <mat-select placeholder="Stack" [value]="value" (selectionChange)="updateValue($event)" >
            <mat-select-trigger>
                <span class="color" [style.backgroundColor]="oStacks[value].color"></span>
                <span>{{ oStacks[value].label }}</span>
            </mat-select-trigger>
            <mat-option *ngFor="let stack of stacks" [value]="stack.id">
                <span class="color" [style.backgroundColor]="stack.color"></span>
                <span>{{ stack.label }}</span>
            </mat-option>
        </mat-select>
    </mat-form-field>
</span>