<div class="mat-label">{{label}}:</div>
<!--
<mat-form-field appearance="fill" floatLabel="never">
    <mat-select placeholder="Select value(s)" formControlName="selectedValues" disableOptionCentering="true" multiple>
        <mat-option *ngFor="let option of variableControl(tpl, 'allowedValues', true)" [value]="option">
            {{option}}
        </mat-option>
    </mat-select>
</mat-form-field>-->
<mat-form-field appearance="fill" color="primary" floatLabel="never">
    <mat-chip-list class="filter-values-list" #chipList>
        <mat-chip
            *ngFor="let val of chipValues; let n=index"
            (removed)="removeValue(n)">
            <span>{{val.value}}</span>
            <mat-icon matChipRemove fontSet="denali" fontIcon="d-close"></mat-icon>
        </mat-chip>
        <input
            placeholder="Enter value(s) seperated by commas"
            #filterValueInputEl
            [formControl]="filterValueInput"
            [matAutocomplete]="filterValueAuto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addValue($event)">
    </mat-chip-list>
    <mat-autocomplete #filterValueAuto="matAutocomplete" (optionSelected)="selectFilterValueOption($event)">
        <mat-option *ngFor="let option of filteredValueOptions | async" [value]="option">
        {{option}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
