@mixin color-picker-component-base() {

  .cp {

    .mat-raised-button { //main button
      padding: 0px;
      width: 186px;
    }

    .btn-picker { //wrapper for button content
      display: flex;
      justify-content: flex-start;
    }

    .color-sample {
      height: 14px;
      width: 14px;
      margin: 0px;
      margin-right: 11px;
      margin-left: 12px;
      margin-top: 12px;
      display: inline-block;
      border-radius: 5px;
    }

    .color-hex { //text
      flex: 1;
      text-align: left;
      font-size: 14px;
    }

    mat-icon { //down arow
      margin-top: 10px;
      font-size: 16px;
    }
      
    .card {
      width: 186px;
    }
    
    .grid-container {
      display: grid;
      grid-template-columns: 18px 18px 18px 18px 18px;
      grid-column-gap: 12px;
      grid-row-gap: 4px;
      padding-left: 20px;
      padding-top: 17px;
    }
  
    .grid-item { 
      width: 24px;
      height: 24px;
      border: 2px solid transparent;
    }
    
    .default-color-button { //the default color buttons
      border-radius: 5px;
      width: 18px;
      height: 18px;
      outline: none;
      margin: 1px;
      min-width: 18px;
      padding: 0px;
    }
    
    .isSelected {
      border-radius: 5px;
    }
    
    .toggle { //between default and custom
      text-align: right;
      margin-top: 5px;
      width: 186px;
      font-family: Helvetica;

      // custom color button
      button {
        padding-right: 22px;
        padding-left: 48px;
      }

      #default-color {
        padding-right: 12px;
        padding-left: 61px;
      }
    }
  }
}

@mixin color-picker-component-theme($theme-config) {

  /* Theme config parts */
  $primary: map-get($theme-config, primary);
  $accent: map-get($theme-config, accent);
  $warn: map-get($theme-config, warn);
  $foreground: map-get($theme-config, foreground);
  $background: map-get($theme-config, background);
  $is-dark: map-get($theme-config, is-dark);

  .cp {

    .mat-raised-button{
      background: #F3F6FE;
    }

    &.card {
      background: map-get($background, menu);
      border-top: 2px solid map-get($primary, default);
    }
  
    .grey-outline { //for white color on palette
      border: 2px solid if($is-dark, transparent, lightgray);
    }
  
    .isSelected {
      border: 2px solid map-get($primary, default);
    }  

    .toggle {
      border-top: 1px solid map-get($foreground, divider);
      color: map-get($primary, default);
    }
  }
}

