<!-- color picker overlay -->
<ng-container *ngIf="overlay">
    <button mat-button class="btn-picker" cdkOverlayOrigin #trigger="cdkOverlayOrigin" (click)="toggle()">
        <div class="color-sample" [style.background]="selectedColor"></div>
        <span>{{colorToName(selectedColor)}}</span>
    </button>

    <ng-template cdkConnectedOverlay 
        cdkConnectedOverlayHasBackdrop 
        cdkConnectedOverlayBackdropClass="mcc-color-picker-backdrop"
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="isOpen" 
        (backdropClick)="backdropClick()">
    
        <ng-template [cdkPortalOutlet]="overlayPanel"></ng-template>

    </ng-template>

</ng-container>
    
    <!-- color picker flat -->
    <ng-template *ngIf="!overlay" [cdkPortalOutlet]="overlayPanel"></ng-template>
    
    <!-- color picker component content -->
    <ng-template cdkPortal #overlayPanel="cdkPortal">

        <mat-card>

            <!-- Default Color Selector -->
            <div *ngIf="!selectingCustomColor" >
                <mat-grid-list cols="5" rowHeight="45px">
                    <mat-grid-tile *ngFor="let color of DefaultColors">
                        <button  
                            mat-button
                            class="default-color-button"
                            [ngClass]="{'isSelected' : color.value==selectedColor}"
                            [style.background-color]="color.value"
                            (click)="colorSelected(color.value)">
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>

            <!-- Custom Color Selector -->
            <div *ngIf="selectingCustomColor">
                <mcc-color-picker-selector  [selectedColor]="selectedColor"
                    (changeSelectedColor)="colorSelected($event)"
                    (enteredColor)="enteredColor($event)">
                </mcc-color-picker-selector>
            </div>

            <div class="toggle">
                <button mat-button *ngIf="selectingCustomColor"  (click)="toggleSelector()"> Default Colors </button>
                <button mat-button *ngIf="!selectingCustomColor" (click)="toggleSelector()"> Custom Colors </button>
            </div>

        </mat-card>
    </ng-template>

