<div #buttonToggle>
    <button class="btn-picker" mat-button (click)="toggle()" > 
         <div class="color-sample" [style.background]="selectedColor"></div>
         <span>{{colorToName(selectedColor)}}</span>
    </button>
</div>

<span [ngClass]= "{invisible: !isOpen}" class="box" #colorPicker>
    <mat-card>
        <mat-card-content>
            <div [ngClass]= "{invisible: selectingCustomColor}" >
                <mat-grid-list cols="5" rowHeight="34px">
                    <mat-grid-tile *ngFor="let color of DefaultColors">
                        <button  
                            mat-button
                            [ngClass]="{'isSelected' : color.value==selectedColor}"
                            [style.background-color]="color.value"
                            (click)="colorSelected(color.value)">
                            {{color.text}}
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
    
            <div [ngClass]="{invisible: !selectingCustomColor}" class="mcc-color-picker-overlay" role="dialog" aria-label="Color picker" >
                    <mcc-color-picker-selector #customColorPicker [selectedColor]="selectedColor" [hideHexForms]="hideHexForms"
                        [height]="colorPickerSelectorHeight" (changeSelectedColor)="colorSelected($event)">
                    </mcc-color-picker-selector>
                    <ng-content></ng-content>
            </div>
        </mat-card-content>
    
        <div #buttonFooter>
            <button [ngClass]= "{invisible: !selectingCustomColor}" mat-button (click)="toggleSelector()"> Custom Color </button>
            <button [ngClass]= "{invisible: selectingCustomColor}"  mat-button (click)="toggleSelector()"> Default Color </button>
        </div>  
    </mat-card>
</span>

