@mixin color-picker-component-base() {

  .color-sample {
    height: 18px;
    width: 18px;
    margin-right: 4px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
  }
  
  .card {
    width: 146px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 22px 22px 22px 22px 22px;
    grid-column-gap: 6px;
    grid-row-gap: 0px;
    padding-left: 2px;
    padding-top: 2px;
  }
  .grid-item {
    width: 28px;
    border: 2px solid transparent;
  }
  
  .default-color-button {
    border-radius: 5px;
    width: 22px;
    height: 22px;
    outline: none;
    border: 2px solid transparent;
    margin: 1px;
  }
  
  .isSelected {
    border-radius: 5px;
  }
  
  .toggle {
    text-align: center;
    margin-top: 5px;
    width: 146px;
    font-family: Helvetica;
  }
  
  .mat-button {
    padding: 0px;
    width: 146px;
  }
}

@mixin color-picker-component-theme($theme-config) {

  /* Theme config parts */
  $primary: map-get($theme-config, primary);
  $accent: map-get($theme-config, accent);
  $warn: map-get($theme-config, warn);
  $foreground: map-get($theme-config, foreground);
  $background: map-get($theme-config, background);
  $is-dark: map-get($theme-config, is-dark);

  .card {
    background: map-get($background, background);
    border-top: 2px solid #275AEB;
    box-shadow: 0 6px 4px -4px if($is-dark, darkgray, lightgray);
  }

  .toggle {
    border-top: 1px solid if($is-dark, darkgray, lightgray);
    color: #2A86E9;
  }

  .grey-outline { //for white color on palette
    border: 2px solid if($is-dark, transparent, lightgray);
  }

  .isSelected {
    border: 2px solid #2885E9;
  }

}

