<!-- dropDown button -->
<ng-container *ngIf="pickerMode === dropDown else contentForOtherModes">
    <button mat-raised-button  cdkOverlayOrigin #trigger="cdkOverlayOrigin" (click)="toggle()">
        <span class="btn-picker">
            <div class="color-sample" [style.background]="color"></div>
            <span class="color-hex">{{colorToName(color)}}</span>
            <mat-icon fontSet="denali" fontIcon="d-arrow-down"></mat-icon>
        </span>
    </button>

    <ng-template cdkConnectedOverlay 
        cdkConnectedOverlayHasBackdrop 
        cdkConnectedOverlayBackdropClass="color-picker-backdrop"
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="isOpen" 
        (backdropClick)="backdropClick()">
    
        <ng-template [cdkPortalOutlet]="overlayPanel"></ng-template>

    </ng-template>

</ng-container>

<!-- trigger color picker content for embeddedView and dropDownNoButton -->
<ng-template 
    #contentForOtherModes
    cdkConnectedOverlay 
    cdkConnectedOverlayHasBackdrop 
    cdkConnectedOverlayBackdropClass="color-picker-backdrop"
    [cdkConnectedOverlayOpen]="isOpen" 
    (backdropClick)="backdropClick()">

    <ng-template [cdkPortalOutlet]="overlayPanel"></ng-template>

</ng-template>

<!-- color picker component content -->
<ng-template cdkPortal #overlayPanel="cdkPortal">

    <div *ngIf="isOpen" class="card cp" [ngClass]="{'mat-elevation-z4' : pickerMode != embedded}" >

        <!-- Default Color Selector -->
        <div *ngIf="!selectingCustomColor" >
            <div class="grid-container">
                <div class="grid-item" *ngFor="let _color of DefaultColors" [ngClass]="{'isSelected' : _color.value==color}">
                    <button
                        mat-button
                        [ngClass]="{'grey-outline' : _color.text=='White'}"
                        class="default-color-button"    
                        [style.background-color]="_color.value"
                        (click)="colorSelected(_color.value)">
                    </button>
                </div>
            </div>
        </div>

        <!-- Custom Color Selector -->
        <div *ngIf="selectingCustomColor">
            <color-picker-selector
                [selectedColor]="color"
                [pickerMode]="pickerMode"
                (changeSelectedColor)="colorSelected($event)"
                (clickedCancel)="backdropClick()"
                [height]="colorPickerSelectorHeight"
            >
            </color-picker-selector>
        </div>

        <div class="toggle">
            <button mat-button *ngIf="!selectingCustomColor" (click)="toggleSelector()"> <mat-icon fontSet="denali" fontIcon="d-palette"></mat-icon> Custom Color </button>
            <button mat-button *ngIf="selectingCustomColor" id="default-color" (click)="toggleSelector()"> <mat-icon fontSet="denali" fontIcon="d-palette"></mat-icon> Default Color </button>
        </div>

    </div>
</ng-template>
