<div class="mcc-color-picker-selector" [ngStyle]="{ 'height.px': selectorHeight }">
    <div #block class="mcc-picker-selector"></div>
    <canvas #blockCanvas [height]="selectorHeight" width="230" id="picker"></canvas>
    <div #blockPointer class="mcc-picker-position" style="top: 0px;left: 220px;"></div>

    <div #stripContainer class="mcc-colors-position" style="background-position-y: 0px;">
        <canvas #strip [height]="stripHeight" width="20" id="colors"></canvas>
    </div>
</div>

<div class="color-sample" [style.background]="selectedColor"></div>

<form [formGroup]="hexForm">
    <mat-form-field class="hex-input">
        <input matInput maxlength="7" formControlName="hexCode" [value]="selectedColor" (keyup.enter)="enterKeyedOnInputBox()"/>
    </mat-form-field>
</form>

       