<div class="widget-output-container" #testing>
  <div class="widget-title" *ngIf="editMode">
      {{ widget.config.title }}
  </div>
  <div class="widget-output">
    <div [style.height]="300"  dygraphsChart 
        [chartType]="chartType" 
        [data]="data" 
        [options]="options">
    </div>
  </div>
</div>
<!-- NOTE: This needs to move to other component -->
<div class="widget-controls-container" *ngIf="editMode">
  <!-- tabs with config content -->
  <mat-tab-group class="widget-configs" [@.disabled]="'true'" [selectedIndex]="0">
      <mat-tab label="Time Series" class="time-series-config">
          <div class="widget-config-tab time-series-config">
              <mat-toolbar class="config-toolbar time-series-toolbar">
                  <a mat-stroked-button color="primary" class="has-icon" style="margin-right: 5px;" (click)="openTimeSeriesMetricDialog()">
                      <mat-icon>add</mat-icon>
                      <span>Add Time Series</span>
                  </a>
                  <a mat-stroked-button color="primary" class="has-icon" (click)="addTimeSeriesExpression()">
                      <mat-icon>add</mat-icon>
                      <span>Add Expression</span>
                  </a>
                  <span class="flex-spacer"></span>
                  <a mat-button color="primary">Query Editor</a>
              </mat-toolbar>
              <!-- list of metric-items -->
              <mat-accordion class="query-item-list" displayMode="flat" [multi]="true" [hideToggle]="false">
                  <mat-expansion-panel class="query-item mat-elevation-z0" [hideToggle]="false" [expanded]="true" *ngFor="let queryItem of fakeMetrics">
                      <mat-expansion-panel-header [collapsedHeight]="30" [expandedHeight]="30">
                          <mat-toolbar class="query-item-toolbar">
                              <span class="toolbar-item query-item-alias">
                                      <i class="graph-bgcolor-{{ queryItem.color }}">{{ queryItem.alias }}</i>
                                  </span>
                                  <span class="toolbar-item query-item-name">
                                      <strong>{{ queryItem.label }}</strong>
                                  </span>
                                  <span class="flex-spacer"></span>
                                  <span class="toolbar-action-icon">
                                      <button mat-icon-button color="primary" (click)="toggleQueryItemVisibility(queryItem, $event)">
                                          <mat-icon *ngIf="queryItem.visible">visibility</mat-icon>
                                          <mat-icon *ngIf="!queryItem.visible">visibility_off</mat-icon>
                                      </button>
                                  </span>
                                  <span class="toolbar-action-icon">
                                      <button mat-icon-button color="primary" (click)="duplicateQueryItem(queryItem, $event)">
                                          <mat-icon class="mat-icon-rtl-mirror">filter_none</mat-icon>
                                      </button>
                                  </span>
                                  <span class="toolbar-action-icon">
                                      <button mat-icon-button color="primary" (click)="deleteQueryItem(queryItem, $event)">
                                          <mat-icon>delete</mat-icon>
                                      </button>
                                  </span>
                          </mat-toolbar>
                      </mat-expansion-panel-header>
                      <!-- panel body start -->
                      <div class="attributes-expression-value" fxLayout="row" *ngIf="queryItem.type === 'expression'">
                          <div fxFlex="1 1 70px" class="label-container">
                              Expression
                          </div>
                          <div fxFlex="1 1 100%" class="attributes-container">
                              <mat-form-field style="width: 100%">
                                  <textarea matInput placeholder="Enter an expression using metric aliases">{{ queryItem.expression }}</textarea>
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="attributes-tags" fxLayout="row" >
                          <div fxFlex="1 1 70px" class="label-container">
                              tags
                          </div>
                          <div fxFlex="1 1 100%" class="attributes-container">
                              <!-- DUE TO THIS USING REF VARIABLES, PROBABLY NEED TO MAKE THIS A COMPONENT -->
                              <!-- <app-config-tags-list [tags]="queryItem.tags"></app-config-tags-list> -->
                              
                          </div>
                      </div>
                      <!-- hide for now 
                      <div class="attributes-functions" fxLayout="row">
                          <div fxFlex="1 1 70px" class="label-container">
                              functions
                          </div>
                          <div fxFlex="1 1 100%" class="attributes-container">
                              values
                          </div>
                      </div>
                      -->
                      <!-- panel body end -->
                  </mat-expansion-panel>
              </mat-accordion>
          </div>
      </mat-tab>
      <mat-tab label="Time Configuration">
          <div class="widget-config-tab">
              <p>Time Configuration tab</p>
          </div>
      </mat-tab>
      <mat-tab label="Visual Appearance">
          <div class="widget-config-tab">
              <p>Visual Appearance tab</p>
          </div>
      </mat-tab>
      <mat-tab label="Legend">
          <div class="widget-config-tab">
              <p>Legend tab</p>
          </div>
      </mat-tab>
      <mat-tab label="Alerts">
          <div class="widget-config-tab">
              <p>Alerts tab</p>
          </div>
      </mat-tab>
      <mat-tab label="Settings">
              <div class="widget-config-tab">
                  <p>settings tab</p>
              </div>
          </mat-tab>
  </mat-tab-group>
  <div class="widget-actions">
      <!-- controls to save/cancel -->
      <button mat-raised-button color="primary" class="mat-elevation-z0">Save</button>
      <button mat-stroked-button color="primary" class="mat-elevation-z0">Cancel</button>
  </div>
</div>
