#container {
    display:inline-block;
    /* 
        this is parent containter(#container) of chartjs canvas.
        position:relative is required on parent container as 
        chartjs-zoom and threshold plugins inserts a canvas on top of chart canvas.
    */ 
    position: relative;
}

canvas {
	width: 100% !important;
	height: 100% !important;
}
