<div class="column">
    <p class="config-control">
        <label class="label">Preset Range</label>
    </p>
    <p class="config-control">
        <label class="label">Custom Range</label>
    </p>
    <p class="config-control">
        <label class="label">Time Over Time</label>
    </p>
</div>
<div class="column">
    <p class="config-control">
        <label class="label">Downsample</label>
    </p>
    <p class="config-control">
            <label class="label">Aggregator</label>
        </p>
</div>
<div class="column">
    <p class="config-control">
        <label class="label">Overide Relative Time</label>
    </p>
    <p class="config-control">
        <label class="label">Add time Shift</label>
    </p>
</div>