<div class="tooltip">
  <button class="button" (click)="toggleOpen()" > 
      <i class="icon is-small"> <span class="dfi dfi-time-clock"></span></i>
      <span > {{startTime}} to {{endTime}}</span>
  </button>
  <span class="tooltiptext" [ngClass]= "{invisible: isOpen}">{{startTimeToolTip}} to {{endTimeToolTip}}</span>
</div>
  
  <div class="box" [ngClass]= "{invisible: !isOpen}">
    <time-range-picker
      (timeSelected)="timeReceived($event)"
      [startTime]="startTime"
      [endTime]="endTime"
      [options]="options"
      >
    </time-range-picker>
  </div>
