<mat-toolbar class="namespace-bar"
    [ngClass]="{'is-expanded': query.namespace || query.metrics.length || query.filters.length}">
    <div class="toolbar-item query-index">
        <span>{{ label }}</span>
    </div>
    <div class="toolbar-item">
        <span class="title"> Namespace </span>
    </div>
    <div class="toolbar-item">
        <span class="namespace-value" *ngIf="!editNamespace" (click)="editNamespace=true;">
            {{ query.namespace }}
        </span>
    </div>
    <div class="toolbar-item">
        <span class="value" *ngIf="editNamespace || !query.namespace.trim() ">
            <namespace-autocomplete [value]="query.namespace" (nschange)="saveNamespace($event)" (blur)="cancelSaveNamespace($event)"></namespace-autocomplete>
        </span>
    </div>
    <span class="flex-spacer"></span>
    <div class="toolbar-item action-icons" *ngIf="!edit.length">
        <button mat-icon-button color="primary" (click)="toggleQuery(); $event.stopPropagation();">
            <mat-icon fontSet="denali" fontIcon="d-eye-open" *ngIf="query.settings.visual.visible"></mat-icon>
            <mat-icon fontSet="denali" fontIcon="d-eye-close" *ngIf="!query.settings.visual.visible"></mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="deleteQuery(); $event.stopPropagation();">
            <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
        </button>
    </div>
</mat-toolbar>
<div class="metric-query-controls"
    [ngClass]="{'is-editing': edit.length > 0}"
    *ngIf="query.namespace || query.metrics.length || query.filters.length">
    <div class="help-text" *ngIf="query.metrics.length === 0 && query.filters.length === 0">
        Start by adding a metric or tag filter and then click apply to save your query.
    </div>
    <div class="query-filters">
        <!-- metric selector -->
        <div class="metric-filters query-filter-block"
            [ngClass]="{'is-active': edit.length && edit.indexOf('metrics') !== -1 }">
            <div class="container">
                <div class="metrics-selected" *ngIf="edit.indexOf('metrics') === -1 && query.metrics.length > 0">
                    <div class="metrics-selected-header">
                        <span><strong>Metrics</strong> ({{ query.metrics.length }})</span>
                    </div>
                    <mat-list class="metric-rows" role="list">
                        <mat-list-item class="metric" role="listitem" *ngFor="let metric of query.metrics" [ngClass]="">
                            <div class="metric-item-detail">
                                <div class="metric-name">{{ metric.name }}</div>
                                <div>Tag aggregator: <tag-aggregator
                                    [value]="metric.tagAggregator"
                                   (change)="setMetricTagAggregator(metric.id, $event)"></tag-aggregator>
                                </div>
                            </div>
                            <span class="shim-spacer"></span>
                            <div class="action-icons">
                                <button mat-icon-button color="primary" (click)="toggleMetricVisibility(metric.id); $event.stopPropagation()">
                                    <mat-icon fontSet="denali" fontIcon="d-eye-open" *ngIf="metric.settings.visual.visible"></mat-icon>
                                    <mat-icon fontSet="denali" fontIcon="d-eye-close" *ngIf="!metric.settings.visual.visible"></mat-icon>
                                </button>
                                <!--<button mat-icon-button color="primary" (click)="editMetric(metric.id); $event.stopPropagation()">
                                                    <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
                                            </button>-->
                                <button mat-icon-button color="primary" (click)="deleteMetric(metric.id); $event.stopPropagation()">
                                    <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
                                </button>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>
                <div class="action-controls query-edit-actions" *ngIf="!edit.length || edit.indexOf('metrics') === -1">
                    <button mat-stroked-button color="primary" (click)="requestEditMode('metrics')">
                        <mat-icon class="mat-12" fontSet="denali" fontIcon="d-add"></mat-icon>
                        <span>{{ query.metrics.length ? 'Edit': 'Add' }} Metrics</span>
                    </button>
                    <button mat-button color="primary" (click)="requestEditMode('expression')" *ngIf="query.metrics.length">
                        <mat-icon class="mat-12" fontSet="denali" fontIcon="d-add"></mat-icon>
                        <span>Add Expression</span>
                    </button>
                </div>
                <!-- if adding some metrics -->
                <div class="metric-search" *ngIf="edit.length && edit.indexOf('metrics') !== -1">
                    <div>
                        <mat-form-field class="metric-search-input-field" appearance="outline" color="primary" floatLabel="never">
                            <input matInput placeholder="Filter metrics" [formControl]="metricSearchControl" #metricSearchInput>
                        </mat-form-field>
                    </div>
                </div>
                <div class="metric-search-result" *ngIf="edit.length && edit.indexOf('metrics') !== -1">
                    <mat-tab-group color="primary" mat-align-tabs="start" [(selectedIndex)]="metricSelectedTabIndex">
                        <mat-tab [label]="'Available(' + metricOptions.length + ')'" [disabled]="isEditExpression">
                            <ng-template matTabContent>
                                <div class="option-list has-scroller">
                                    <div class="is-scroller">
                                        <div class="option-item" *ngFor="let option of metricOptions" [ngClass]="getMetricIndex(option.name) !== -1 ? 'added' : ''"
                                            (click)="(getMetricIndex(option.name) === -1) ? updateMetricSelection(option.name, 'add') : updateMetricSelection(option.name, 'remove');">
                                            <div class="option-cell">
                                                <mat-icon *ngIf="getMetricIndex(option.name) === -1">add_circle_outline</mat-icon>
                                                <mat-icon *ngIf="getMetricIndex(option.name) !== -1">remove_circle_outline</mat-icon>
                                            </div>
                                            <div class="option-cell label">{{ option.name }}</div>
                                        </div>
                                        <div *ngIf="message.metricSearchControl.message" [ngClass]="message.metricSearchControl.type === 'error'? 'error': 'info'">
                                            <mat-icon>error</mat-icon>
                                            <span>{{ message['metricSearchControl']['message'] }}</span>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-tab>
                        <mat-tab [label]="'Selected(' + query.metrics.length + ')'">
                            <ng-template matTabContent>
                                <div class="option-list has-scroller">
                                    <div class="is-scroller" *ngIf="!isEditExpression">
                                        <div class="option-item" *ngFor="let metric of query.metrics; let index=index">
                                            <div class="option-cell">
                                                <mat-icon (click)="removeMetricById(metric.id);">remove_circle_outline</mat-icon>
                                            </div>
                                            <div class="option-cell label">{{ metric.name }}</div>
                                            <div class="option-cell">
                                                <mat-icon fontSet="denali" fontIcon="d-pencil" *ngIf="metric.expression"
                                                    (click)="showExpressionForm(metric.id);"></mat-icon>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="is-scroller" *ngIf="isEditExpression">
                                        <div class="option-item expression" *ngFor="let alias of aliases; let index=index">
                                            <div class="option-cell">
                                                <span>{{ alias.id }}: </span>
                                                <span>{{ alias.displayName }}</span>
                                                <span class="link" *ngIf="alias.isExpression" (click)="toggleExpressionDetail(index)">{{
                                                    alias.expanded? 'Hide Detail' : 'Show Detail'}}</span>
                                            </div>
                                            <div class="option-cell expression-detail" *ngIf="alias.expanded">
                                                {{ alias.expression }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </mat-tab>
                    </mat-tab-group>
                    <button *ngIf="query.metrics.length" class="add-expression" mat-button color="primary" (click)="showExpressionForm()"
                        [disabled]="isEditExpression">+ Add Expression </button>
                </div>
            </div>
        </div>
        <!-- tag selector -->
        <div class="tag-filters query-filter-block"
            *ngIf="!isEditExpression"
            [ngClass]="{'is-active': edit.length && edit.indexOf('filters') !== -1 }">
            <div class="container" style="flex-direction: column;">
                <!-- if there are tags selected -->
                <div class="tags-selected" *ngIf="query.filters.length && edit.indexOf('filters') === -1">
                    <div class="tags-selected-header">
                        <span><strong>Tag Filters</strong> ({{ query.filters.length }})</span>
                        <span class="explicit-match"><mat-checkbox [checked]="query.settings.explicitTagMatch" (change)="toggleExplictTagMatch($event)">Only match selected tag keys</mat-checkbox></span>
                    </div>
                    <mat-list class="tag-filter-rows" role="list">
                        <mat-list-item class="tag" role="listitem" *ngFor="let filter of query.filters; let index=index">
                            <div class="tag-filter-aggregator" *ngIf= "type !== 'BignumberWidgetComponent'">
                                    <tag-groupby [value]="filter.groupBy" 
                                        (change)="setTagGroupBy(index, $event)"></tag-groupby>
                            </div>
                            <div class="tag-filter-detail">
                                <strong>{{ filter.tagk }}:</strong> <span>{{ filter.filter.join(', ') }}</span>
                            </div>
                            <span class="shim-spacer"></span>
                            <div class="action-icons">
                                <button mat-icon-button color="primary" (click)="deleteFilter(index); $event.stopPropagation()">
                                    <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
                                </button>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>
                <div class="action-controls query-edit-actions" *ngIf="!edit.length ||  edit.indexOf('filters') === -1">
                    <button mat-stroked-button color="primary" (click)="requestEditMode('filters')">
                        <mat-icon class="mat-12" fontSet="denali" fontIcon="d-add"></mat-icon>
                        <span>{{ query.filters.length ? 'Edit': 'Add'}} Tag Filters</span>
                    </button>
                </div>
                <!-- if adding/editing tags -->
                <div class="tag-filter-options" *ngIf="edit.length && edit.indexOf('filters') !== -1">
                    <div class="tag-filter-options-column tag-keys">
                        <div class="tag-key-search">
                            <mat-form-field class="metric-search-input-field" appearance="outline" color="primary" floatLabel="never">
                                <input matInput placeholder="Search tag keys" [formControl]="tagSearchControl" #tagSearchInput>
                            </mat-form-field>
                        </div>
                        <div class="tag-keys-count" *ngIf="tagOptions.length > 0">
                            <span class="available-count">{{ tagOptions.length}} tag keys available</span>
                            <span class="explicit-match"><mat-checkbox [checked]="query.settings.explicitTagMatch" (change)="toggleExplictTagMatch($event)">Only match selected tag keys</mat-checkbox></span>
                        </div>
                        <span class="seperator"></span>
                        <div class="tag-key-search-results has-scroller">
                            <div class="is-scroller">
                                <div class="option-item tag-key-option" *ngFor="let option of tagOptions" 
                                    [ngClass]="{'added': getTagIndex(option.name) !== -1, 'selected': option.name === selectedTag }">
                                    <div class="option-cell" (click)="removeTagValues(option.name)" *ngIf="getTagIndex(option.name) !== -1">
                                            <mat-icon (click)="removeTagValues(option.name)">remove_circle_outline</mat-icon>
                                    </div>
                                    <div class="option-cell label" (click)="handlerTagClick(option.name)">{{ option.name }}</div>
                                </div>
                                <div *ngIf="message.tagControl.message" [ngClass]="message.tagControl.type === 'error'? 'error': 'info'">
                                    <mat-icon>error</mat-icon>
                                    <span>{{ message['tagControl']['message'] }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tag-filter-options-column tag-values">
                        <div class="tag-values-search">
                            <div class="tag-values-type">
                                <mat-button-toggle-group [formControl]="tagValueTypeControl" aria-label="Font Style">
                                    <mat-button-toggle value="literalor" (click)="loadTagValues()">Literal</mat-button-toggle>
                                    <mat-button-toggle value="regexp">Regexp</mat-button-toggle>
                                </mat-button-toggle-group>
                            </div>
                            <div class="tag-values-search-input">
                                <mat-form-field appearance="outline" [color]="'primary'" floatLabel="never">
                                    <input #tagValueSearchInput [formControl]="tagValueSearchControl" matInput
                                        placeholder="" (keydown.enter)="addTagValueRegexp()">
                                    <mat-icon matSuffix *ngIf="tagValueTypeControl.value==='regexp'" (click)="addTagValueRegexp()">add_circle_outline</mat-icon>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="tag-values-count" *ngIf="filteredTagValues && filteredTagValues.length > 0">
                                <span class="mat-caption">{{filteredTagValues.length}} <strong>"{{selectedTag}}"</strong> tag {{filteredTagValues.length > 1 ? 'values' : 'value'}} available</span>
                            </div>
                        <span class="seperator"></span>
                        <div class="tag-values-search-results has-scroller" *ngIf="tagValueTypeControl.value==='literalor'">
                            <div class="is-scroller">
                                <div class="option-item" *ngFor="let option of filteredTagValues" [ngClass]="{'added': query.filters[selectedTagIndex] && query.filters[selectedTagIndex].filter.indexOf(option.name) >= 0 }">
                                    <div class="option-cell">
                                        <mat-icon *ngIf="getTagValueIndex(selectedTag, option.name) === -1" (click)="updateTagValueSelection(option.name, 'add');">add_circle_outline</mat-icon>
                                        <mat-icon *ngIf="getTagValueIndex(selectedTag, option.name) !== -1" (click)="updateTagValueSelection(option.name, 'remove')">remove_circle_outline</mat-icon>
                                    </div>
                                    <div class="option-cell label">{{ option.name }}</div>
                                </div>
                                <div *ngIf="message.tagValueControl.message" [ngClass]="message.tagValueControl.type === 'error'? 'error': 'info'">
                                    <mat-icon>error</mat-icon>
                                    <span>{{ message['tagValueControl']['message'] }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tag-filter-options-column tag-values-selected">
                        <div class="tag-values-selected-header">
                            <strong>Selected tag values</strong>
                        </div>
                        <div class="tag-values-selected-list has-scroller" *ngIf="query.filters[selectedTagIndex]">
                            <div class="is-scroller">
                                <div class="option-item tag-value-option" *ngFor="let option of query.filters[selectedTagIndex].filter">
                                    <div class="option-cell">
                                        <mat-icon (click)="updateTagValueSelection(option, 'remove')">remove_circle_outline</mat-icon>
                                    </div>
                                    <div class="option-cell label"> {{ option }} </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- form to create expression-->
        <div class="expression-filter-form query-filter-block is-active" *ngIf="isEditExpression">
            <div class="container">
                <form [formGroup]="expressionForm">
                    <mat-form-field appearance="fill">
                        <mat-label>Expression Name</mat-label>
                        <input matInput placeholder="Please enter a name for this expression" maxlength="100"
                            formControlName="expressionName" required>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Expression</mat-label>
                        <textarea matInput rows="10" placeholder="Enter an expression value (e.g. [(m1+m2)/2]"
                            formControlName="expressionValue" required></textarea>
                    </mat-form-field>
                    <mat-error *ngIf="expressionForm.controls.expressionValue.errors && expressionForm.controls.expressionValue.errors.invalid">
                        Invalid Expression(Atleast one alias should be used in the expression)
                    </mat-error>
                </form>
                <div class="action-controls query-filter-actions">
                    <button mat-button mat-stroked-button color="primary" class="mat-elevation-z0" (click)="updateExpression()">
                        {{ this.editExpressionId ? 'Update' : 'Create'}} </button>
                    <button mat-button class="mat-elevation-z0" (click)="cancelExpression()"> Cancel </button>
                </div>
            </div>
        </div>
    </div>
    <div class="action-controls metric-query-actions" *ngIf="edit.length">
        <button mat-button mat-stroked-button color="primary" class="mat-elevation-z0" (click)="apply()">
            Done
        </button>
        <button mat-button class="mat-elevation-z0" (click)="cancel()">
            Cancel
        </button>
    </div>
</div>