/* WIDGET CONFIG COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)

@mixin widget-config-general-component-base() {
    .widget-config-tab.general-configuration {

        margin-top: map-get($widgets-common-config, default-padding);
        
        // title input
        .config-widget-title {
            .mat-form-field {
                min-width: 400px;
            }
        }
        // description textarea
        .config-widget-description {
            .mat-form-field {
                min-width: 600px;
            }
        }
    }
}

@mixin widget-config-general-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);

    .widget-config-tab.general-configuration {
        // style rules here
    }

}