@mixin barchart-widget-component-base() {

    $default-padding: map-get($widgets-common-config, default-padding);
    $edit-view-padding: map-get($widgets-common-config, edit-padding);
    $tab-width: map-get($widgets-common-config, tab-width);
    $action-bar-height: map-get($widgets-common-config, action-bar-height);

    .widget-panel-content.barchart-widget {
        .widget-output {
            padding: 5px 0px;
        }
        #container {
            display:inline-block;
            /* 
                this is parent containter(#container) of chartjs canvas.
                position:relative is required on parent container as 
                chartjs-zoom and threshold plugins inserts a canvas on top of chart canvas.
            */ 
            position: relative;
            canvas {
                width: 100% !important;
                height: 100% !important;
            }
            .loader{
                position: absolute;
                left: 0px;
                top: 0px;
                z-index: 1;
                width: 30px;
                height: 30px;
                background-image: url(/assets/denali-loader.svg);
                background-color:#fff;
            }
    
            .error{
                position: absolute;
                left: 0px;
                top: 0px;
                z-index: 1;
                width: 30px;
                height: 30px;
                color: red;
            }
        }
    }
}

@mixin barchart-widget-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);

    // .widget-panel-content.linechart-widget { }

}