::ng-deep .cdk-overlay-pane {
    /* Do you changes here */
    // min-width:450px;
 }

 ::ng-deep .mat-autocomplete-panel{
    position: fixed !important;
    width: auto !important;
    font-size: 12px;
} 