<mat-toolbar class="namespace-bar"
    [ngClass]="{'is-expanded': query.namespace || query.metrics.length || query.filters.length}">
    <div class="toolbar-item query-index">
        <span>{{ label }}</span>
    </div>
    <div class="toolbar-item">
        <span class="title"> Namespace </span>
    </div>
    <div class="toolbar-item">
        <span class="namespace-value" *ngIf="!editNamespace" (click)="editNamespace=true;">
            {{ query.namespace }}
        </span>
    </div>
    <div class="toolbar-item">
        <span class="value" *ngIf="editNamespace || !query.namespace.trim() ">
            <namespace-autocomplete [value]="query.namespace" (nschange)="saveNamespace($event)" (blur)="cancelSaveNamespace($event)"></namespace-autocomplete>
        </span>
    </div>
    <span class="flex-spacer"></span>
    <div class="toolbar-item action-icons" *ngIf="!edit.length">
        <button mat-icon-button color="primary" (click)="toggleQuery(); $event.stopPropagation();">
            <mat-icon fontSet="denali" fontIcon="d-eye-open" *ngIf="query.settings.visual.visible"></mat-icon>
            <mat-icon fontSet="denali" fontIcon="d-eye-close" *ngIf="!query.settings.visual.visible"></mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="deleteQuery(); $event.stopPropagation();">
            <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
        </button>
    </div>
</mat-toolbar>
<div class="metric-wrapper" *ngIf="query.namespace || query.metrics.length || query.filters.length">
    <!-- CONTAINER FOR THE METRICS-->
    <div class="metric-list-wrapper">
        <!-- LOOP THROUGH METRICS 
             SECOND COLUMN IS EMPTY TO BE ABLE TO TAKE THE ABSOLUTE POSITIONED COMMON TAGS BOX -->
        <div class="metric-list-item" *ngFor="let metric of getMetricsByType('metrics'); let i = index">
            <div class="metric-row-data metric-index">
                <span> m{{  i+1 }}</span>
            </div>
            <div class="metric-row-data metric-name">
                <span *ngIf="editMetricIndex !== i" (click)="editMetricIndex=i;">{{metric.name}}</span>
                <metric-autocomplete *ngIf="editMetricIndex === i" [namespace]="query.namespace" [metrics]="[metric.name]"  [filters]="query.filters" (metricOutput)="updateMetric($event, i);" (blur)="editMetricIndex=-1"></metric-autocomplete>
            </div>
            <div class="metric-row-data tag-spacer">
            </div>
            <div class="metric-row-data aggregator">
                <tag-aggregator
                    [value]="metric.tagAggregator"
                   (change)="setMetricTagAggregator(metric.id, $event)"></tag-aggregator>
                <span>BY</span>
            </div>
            <div class="metric-row-data tags">
                <dropdown-metric-tags [namespace]="query.namespace" [metric]="metric.name" [selected]="metric.groupByTags" (change)="setMetricGroupByTags(metric.id, $event)"></dropdown-metric-tags>
            </div>
            <div class="add-function" (click)="addFunction()">
                <button mat-mini-fab color="primary">
                    <mat-icon fontSet="denali" fontIcon="d-add"></mat-icon> 
                </button> 
            </div>
        </div>
        <!-- ADD METRIC - STARTS -->
        <div class="metric-list-item" *ngIf="isAddMetricProgress || !query.metrics.length">
            <div class="metric-row-data metric-name">
                <metric-autocomplete style="position:absolute"  [focus]="isAddMetricProgress" [multiple]="true" [namespace]="query.namespace" [filters]="query.filters"  (metricOutput)="updateMetric($event, null);" (blur)="isAddMetricProgress=false"></metric-autocomplete>
            </div>
        </div>
        <!-- ADD METRIC - ENDS -->
        <form [formGroup]="fg">
        <div class="metric-list-item" *ngFor="let metric of getMetricsByType('expression'); let i = index">
                <div class="metric-row-data metric-index">
                    <span> e{{  i+1 }}</span>
                </div>
                <div class="metric-row-data metric-name">
                    <span *ngIf="editExpressionId !== metric.id" (click)="editExpression(metric.id);">{{ getExpressionUserInput(metric.expression) }}</span>
                    <mat-form-field *ngIf="editExpressionId === metric.id" class="expression-input-field" appearance="outline" color="primary" floatLabel="never">
                        <input matInput placeholder="e.g. m1 + m2" [formControlName]="metric.id" (blur)="updateExpression(metric.id, $event)" autocomplete="off">
                    </mat-form-field>
                    <mat-error *ngIf="fg.controls[metric.id].errors && fg.controls[metric.id].errors.invalid">
                        Invalid Expression.
                    </mat-error>
                </div>
                <div class="metric-row-data tag-spacer">
                </div>
        </div>
        <!-- ADD EXPRESSION - STARTS -->
        <div class="metric-list-item" *ngIf="isAddExpressionProgress && query.metrics.length">
                <div class="metric-row-data expression">
                    <mat-form-field class="expression-input-field" appearance="outline" color="primary" floatLabel="never">
                        <input matInput placeholder="e.g. m1 + m2"  formControlName="-1" (blur)="updateExpression(-1, $event)" autocomplete="off">
                    </mat-form-field>
                    <mat-error *ngIf="fg.controls['-1'].errors && fg.controls['-1'].errors.invalid">
                        Invalid Expression.
                    </mat-error>
                </div>
        </div>
        </form>
        <!-- ADD EXPRESSION - ENDS -->
        <button *ngIf="!isAddMetricProgress || !query.metrics.length " (click)="isAddMetricProgress=true">Add Metrics</button>
        <button *ngIf="query.metrics.length" (click)="editExpression(-1)">Add Expression</button>
       
    </div>
    <!-- THIS IS THE TOP TO BOTTOM CONTAINER FOR THE COMMON TAGS
         IT WILL BE POSITIONED ABSOLUTE -->
    <div class="common-tag-wrapper" (click)="showTagFilterMenu()">
            <span [matMenuTriggerFor]="tagFilterMenu" #tagFilterMenuTrigger="matMenuTrigger"></span>
            <div class="tags-selected" *ngIf="query.filters.length">
                    <div class="tags-selected-header">
                        <span><strong>Tag Filters</strong> ({{ query.filters.length }})</span>
                        <span class="explicit-match"><mat-checkbox (click)="$event.stopPropagation();" [checked]="query.settings.explicitTagMatch" (change)="toggleExplictTagMatch($event)">Only match selected tag keys</mat-checkbox></span>
                    </div>
                    <mat-list class="tag-filter-rows" role="list">
                        <mat-list-item class="tag" role="listitem" *ngFor="let filter of query.filters; let index=index">
                            <div class="tag-filter-detail">
                                <strong>{{ filter.tagk }}:</strong> <span>{{ filter.filter.join(', ') }}</span>
                            </div>
                        </mat-list-item>
                    </mat-list>
            </div>
            <div *ngIf="!query.filters.length">
                <button> Add Tag filters </button>
            </div>
    </div>
    <mat-menu #tagFilterMenu="matMenu" class="menu-form-wrapper" yPosition="below">
        <div class="filter" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
            <inline-filter-editor [namespace]="query.namespace" [metrics]="query.metrics" [filters]="query.filters" (filterOutput)="updateFilters($event);" ></inline-filter-editor>
        </div>
    </mat-menu>
    
</div>
<!--                    <inline-filter-editor [namespace]="query.namespace" [metrics]="query.metrics" [filters]="query.filters" *ngIf="editTag" (filterOutput)="updateFilters($event);" (blur)="editTag = false"></inline-filter-editor>
-->