@mixin template-variable-panel-component-base() {

    $vtb-height: 44px;


    .isDisabled {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
    }

    .template-variable-panel-component {
        display: flex;
        width: 100%;
        max-width: 100%;

        /* Table overrides */
        table {
            width: auto;
            margin: 0 5px;
        }

        td {
            padding: 0 4px;

            &:first-child {
                padding-left: 0;
            }
        }

        th {
            padding-left: 8px;
            text-transform: uppercase;
            font-size: 10px;
            user-select: none;

            &:first-child {
                padding-left: 4px;
            }

            &:nth-child(n+2):nth-last-child(n+2) {
                box-shadow: inset 1px 0 0 rgba(0,0,0,0.08);
            }
        }

        tr:not(:first-child) {
            border-top: 1px solid rgba(0,0,0,.05);
        }

        tbody tr:first-child td {
            padding-top: 4px;
        }

        /*span.actionslist {
            span {
                display: inline;
                margin-right: 10px;
            }
        }*/

        ul.varlist {
            li {
                 display: inline;
                list-style-type: none;
                padding-right: 10px;
            }
        }

        /* wrapper for variables - NOT in edit mode */
        .variable-list-wrapper {
            flex: 1;
            width: 100%;
            max-width: 100%;
        }

        .variable-list-wrapper {
            padding: 4px 12px;
        }

        .variable-edit-wrapper {
            display: flex;
            flex-direction: column;
            padding: 0 6px 4px 6px;
            flex: 1;
            box-shadow: inset 0 50px 0 rgba(0,0,0,0.05);
        }

        /* form fields for list-view */
        .dashboard-template-variable.mat-form-field {

            .mat-form-field-prefix {
                align-self: stretch;
                display: flex;
                align-items: center;
                padding: 0 4px;
            }

            .mat-form-field-infix {
                min-width: 50px;
                width: 100%;
            }
        }

        /* Some button overrides */
        .configure-variables-button,
        .edit-variables-button,
        .delete-variable-button,
        .apply-to-all-button,
        .remove-from-all-button {
            line-height: 24px;
        }

        .configure-variables-button,
        .edit-variables-button {
            .mat-icon {
                @include sizeDenaliIcon(12px);
                margin-right: 4px;
            }
        }

        .configure-variables-button {
            padding: 0 4px;
        }

        /* Edit Controls - this list of edit controls */
        .variable-edit-controls {

            .settings-control {
                margin-bottom: 0;
                //padding: 0 10px;
                transition: background-color 500ms ease-in-out;

                &.actions-control {
                    .mat-label {
                        text-transform: uppercase;
                    }

                    .mat-button {
                        min-width: 36px;
                        padding: 0;
                        margin-right: 8px;
                    }

                    .mat-icon-button {
                        .mat-icon {
                            @include sizeDenaliIcon(14px);
                        }
                    }

                    .affected-count {
                        margin-right: 12px;
                    }

                    .apply-to-all-button,
                    .remove-from-all-button {
                        padding: 0 4px;
                        margin-right: 8px;
                    }
                    .undo-button {
                        margin-right: 10px;
                        margin-left: -12px;
                    }
                }
            }

            .filter-values-list {
                .mat-chip-list-wrapper {
                    .mat-standard-chip {
                        margin: 0 4px;
                        padding: 3px 3px 3px 9px;
                        line-height: 14px;
                        font-size: 12px;
                    }
                }
            }
        }

        .edit-form-title {
            display: flex;
            align-items: center;
            line-height: 30px;
            margin-left: -6px;
            margin-right: -6px;
            padding-left: 12px;
            background-color: rgba(180,220,220, .5);
            font-weight: bold;
            user-select: none;
        }

        /* in edit mode - these are the buttons at bottom */
        .variable-action-controls {
            flex: 1;
            width: 100%;
            max-width: 100%;
            padding: 6px;

            .edit-actions {

                .mat-flat-button,
                .mat-stroked-button {
                    line-height: 24px;
                }

                .mat-flat-button {
                    margin-right: 8px;

                    .mat-icon {
                        @include sizeDenaliIcon(14px);
                        margin-right: 6px;
                    }
                }
            }
        }
    }

    // cdk items here (if any)
}

@mixin template-variable-panel-component-theme($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark-theme: map-get($theme-config, is-dark);

    $bg-color: lighten(map-get($background, navbar), 80%);
    $navbar-text: map-get($foreground, foreground);

    $border-color: map-get($background, background);

    .template-variable-panel-component {
        background-color: map-get($background, card);
        color: $navbar-text;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);

        &.is-edit-mode {
            background-color: map-get($background, card);
            color: map-get($foreground, text);
        }

        .error-msg {
            color: map-get($warn, default);
        }

        /* list-view controls */

        .variable-list-wrapper {

        }

        /* form fields for list-view */
        .dashboard-template-variable.mat-form-field {
            .mat-form-field-prefix {
                background: rgba(map-get($primary, default), .1);
            }
        }

        /* Edit View controls */
        .variable-edit-controls {

            /* not using chips for the time being
            .filter-values-list {
                .mat-chip-list-wrapper {
                    .mat-standard-chip {
                        background-color: rgba(map-get($primary, default), .1);
                    }
                }
            }*/
        }
    }

    // cdk items here (if any)
}
