<ng-template [ngIf]="mode.view" [ngIfElse]="variableEditView">
    <div [formGroup]="listForm" class="variable-list-wrapper">
        <button mat-button color="primary" class="configure-variables-button" *ngIf="tplVariables.length === 0" (click)="doEdit()">
            <mat-icon fontSet="denali" fontIcon="d-setting"></mat-icon>
            <span>Configure dashboard tag filters</span>
        </button>
        <div *ngIf="tplVariables.length > 0">
            <ul class="varlist" formArrayName="listVariables">
                <li *ngFor="let vartpl of listVariables.controls; let i = index" [formGroupName]="i">
                    <!-- still need to figure out way to dynamically change width when editing the input value -->
                    <mat-form-field appearance="fill" color="primary" floatLabel="never" class="dashboard-template-variable" 
                        [ngStyle]="{width: calculateVariableDisplayWidth(vartpl.get('filter').value)}">
                        <input matInput formControlName="filter" placeholder="" [matAutocomplete]="filterVarValues" 
                            (blur)="onVariableBlur(i)" (focus)="onVariableFocus(i)">
                        <span matPrefix>[{{vartpl.get('alias').value}}]:</span>
                        <mat-autocomplete #filterVarValues="matAutocomplete" (optionSelected)="selectVarValueOption(i)">
                                <mat-option *ngFor="let option of filteredValueOptions" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                    </mat-form-field>
                </li>
                <li>
                    <button mat-button color="primary" class="edit-variables-button" (click)="doEdit()">
                        <mat-icon fontSet="denali" fontIcon="d-pencil"></mat-icon>
                        <span>Edit</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</ng-template>

<ng-template #variableEditView>
    <div [formGroup]="editForm" class="variable-edit-wrapper">
        <table formArrayName="formTplVariables">
            <thead>
                <tr>
                    <th>Tag Key</th>
                    <th>Alias</th>
                    <th>Default value</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tpl of formTplVariables.controls; let i=index" [formGroupName]="i" class="variable-edit-controls">
                        <td>
                                <div class="settings-control tag-key-control">
                                    <mat-form-field appearance="fill" color="primary" floatLabel="never">
                                        <input matInput placeholder="" formControlName="tagk"
                                            [matAutocomplete]="filterKeyAuto" (focus)="onInputFocus('tagk', i)"
                                            (blur)="onInputBlur('tagk', i)">
                                        <mat-autocomplete #filterKeyAuto="matAutocomplete" (optionSelected)="selectTagKeyOption($event, i)">
                                            <mat-option *ngFor="let option of filteredKeyOptions | async" [value]="option">
                                                {{option}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </td>                    
                    <td>
                        <div class="settings-control alias-control">
                            <mat-form-field appearance="fill" color="primary" floatLabel="never" style="width: 100px;">
                                <input matInput placeholder="" formControlName="alias" (blur)="onInputBlur('alias', i)" (focus)="onInputFocus('alias', i)" autocomplete="off">
                            </mat-form-field>
                        </div>
                    </td>
                    <td>
                        <div class="settings-control values-control">
                            <mat-form-field appearance="fill" color="primary" floatLabel="never" style="width: 300px;">
                                <input matInput placeholder="set a value (optional)" formControlName="filter"
                                    (focus)="onInputFocus('filter', i)" (blur)="onInputBlur('filter', i)" [matAutocomplete]="filterValueAuto">
                                <mat-autocomplete #filterValueAuto="matAutocomplete" (optionSelected)="selectFilterValueOption($event, i)">
                                    <mat-option *ngFor="let option of filteredValueOptions" [value]="option">
                                        {{option}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </td>
                    <td style="white-space:nowrap; vertical-align:top;">
                        <div class="settings-control actions-control">
                            <div class="actions">
                                <button mat-icon-button class="delete-variable-button" (click)="removeTemplateVariable(i)">
                                    <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
                                </button>
                                <span class="actionslist" *ngIf="tpl.valid">
                                    <span class="affected-count">{{tpl.get('applied').value}}/{{dbTagKeys.totalQueries}}</span>
                                    <button mat-button color="primary" [disabled]="(undo.append === 1 || undo.replace === 1) && undo.index === i"  class="apply-to-all-button" (click)="bulkAction('append', i)">
                                        <span>Append</span>
                                    </button>
                                    <button *ngIf="undo.append === 1 && undo.index === i" (click)="undoAction(i)" mat-icon-button color="warn" matTooltip="undo append" class="undo-button">
                                        <mat-icon>undo</mat-icon>
                                    </button>
                                    <button mat-button color="primary" class="remove-from-all-button" (click)="bulkAction('replace', i)">
                                        <span>Replace</span>
                                    </button>
                                    <button *ngIf="undo.replace === 1 && undo.index === i" (click)="undoAction(i)" mat-icon-button color="warn" matTooltip="undo replace" class="undo-button">
                                            <mat-icon>undo</mat-icon>
                                        </button>
                                    <button mat-button color="primary" (click)="bulkAction('remove', i)" [disabled]="tpl.get('applied').value === 0" class="remove-from-all-button">
                                        <span>Remove</span>
                                    </button>
                                    <button *ngIf="undo.remove === 1 && undo.index === i" (click)="undoAction(i)" mat-icon-button color="warn" matTooltip="undo remove" class="undo-button">
                                            <mat-icon>undo</mat-icon>
                                        </button>
                                </span>
                                <span *ngIf="tpl.get('alias').hasError('unique'); else requiredMesg">
                                    Alias must be unique.
                                </span>
                                <ng-template #requiredMesg>
                                    <span *ngIf="tpl.invalid">Alias and Tag are required.</span>
                                </ng-template>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="variable-action-controls">
            <div class="edit-actions">
                <button mat-flat-button [disabled]="formTplVariables.invalid" class="add-template-button" color="primary" (click)="addVariableTemplate()">
                    <mat-icon fontSet="denali" fontIcon="d-add-circle"></mat-icon>
                    <span>New tag alias</span>
                </button>
                <button mat-stroked-button color="primary" [disabled]="disableDone"
                    class="editing-done-button" (click)="done()">
                    <span>Done</span>
                </button>
            </div>
        </div>
    </div>
</ng-template>
