@mixin template-variable-panel-component-base() {

    $vtb-height: 44px;
    table {
        width: 100%;
        margin: 5px;
    }
    td {
        padding: 4px;
    }
    th {
        padding-left: 8px;
    }
    span.actionslist {
        span {
            display: inline;
            margin-right: 10px;
        }
    }
    ul.varlist {
        li {
             display: inline;
            list-style-type: none;
            padding-right: 10px;
        }
    }


    .template-variable-panel-component {
        display: flex;
        width: 100%;
        max-width: 100%;

        .variable-list-wrapper {
            flex: 1;
            width: 100%;
            max-width: 100%;
        }

        .variable-edit-controls {
            flex: 1;
            width: 100%;
            max-width: 100%;
            padding: 8px 6px;

            .edit-actions {

                .mat-flat-button,
                .mat-stroked-button {
                    line-height: 24px;
                }

                .mat-flat-button {
                    margin-right: 8px;

                    .mat-icon {
                        @include sizeDenaliIcon(14px);
                        margin-right: 6px;
                    }
                }
            }

            .variable-item {
                display: flex;
                margin-right: 10px;
                margin-bottom: 2px;
            }

            .settings-control {
                margin-bottom: 0;
                padding: 0 10px;
                transition: background-color 500ms ease-in-out;
    
                &:first-child {
                    padding-left: 20px;
                }
    
                &:last-child {
                    padding-right: 20px;
                }
    
                &.actions-control {
                    .mat-label {
                        text-transform: uppercase;
                    }
    
                    .mat-button {
                        min-width: 36px;
                        padding: 0;
                        margin-right: 8px;
                    }
    
                    .mat-icon {
                        width: 18px;
                        height: 18px;
                        font-size: 100%;
                        transform: translateY(-2px);
                    }
                }
            }

            .filter-values-list {
                .mat-chip-list-wrapper {
                    .mat-standard-chip {
                        margin: 0 4px;
                        padding: 3px 3px 3px 9px;
                        line-height: 14px;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    // cdk items here (if any)
}

@mixin template-variable-panel-component-theme($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark-theme: map-get($theme-config, is-dark);

    $bg-color: lighten(map-get($background, navbar), 80%);
    $navbar-text: map-get($foreground, foreground);

    $border-color: map-get($background, background);
    
    .template-variable-panel-component {
        background-color: $bg-color;
        color: $navbar-text;

        &.is-edit-mode {
            background-color: map-get($background, card);
            color: map-get($foreground, text);
        }

        .variable-list-wrapper {

        }

        .variable-edit-controls {
            
            .variable-item {
                // border: 2px solid $border-color;
            }

            .settings-control {
                background-color: rgba($border-color, 0);
            }

            .filter-values-list {
                .mat-chip-list-wrapper {
                    .mat-standard-chip {
                        background-color: rgba(map-get($primary, default), .1);
                    }
                }
            }
        }
    }

    // cdk items here (if any)
}