.mat-card {
    position: relative;
    z-index: 1;
    padding: 4px;
    border-radius: 5px;
}

.row {
    padding-top: 3px;
}

.mat-button {
    font-family: 'Lucida Console';
    min-width: 0px;
}

#this-row{
    display:flex;
    justify-content:center;
}