<div class="dp-month-calendar-container">
  <mat-card-header> 
    <mat-card-title>
      <dp-calendar-nav
          [label]="navLabel"
          [showLeftNav]="showLeftNav"
          [showLeftSecondaryNav]="showSecondaryLeftNav"
          [showRightNav]="showRightNav"
          [showRightSecondaryNav]="showSecondaryRightNav"
          [isLabelClickable]="componentConfig.isNavHeaderBtnClickable"
          [showGoToCurrent]="shouldShowCurrent()"
          [theme]="theme"
          (onLeftNav)="onLeftNavClick()"
          (onLeftSecondaryNav)="onLeftSecondaryNavClick()"
          (onRightNav)="onRightNavClick()"
          (onRightSecondaryNav)="onRightSecondaryNavClick()"
          (onLabelClick)="toggleCalendarMode()"
          (onGoToCurrent)="goToCurrent()">
      </dp-calendar-nav>
    </mat-card-title>
  </mat-card-header>


  <mat-card-content>
    <div class="dp-months-row has-text-centered" *ngFor="let monthRow of yearMonths">
      <button mat-button
        *ngFor="let month of monthRow"
        [ngClass]="getMonthBtnCssClass(month)"
        (click)="monthClicked(month)">
        <span>
          {{month.text}}
        </span>
      </button>
    </div>
  </mat-card-content>
</div>
