/* DBOARD-CONTEMT COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)

@mixin dboard-content-component-base() {
    .app-dboard-content {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;

        h1 {
            position: relative;
            flex: 0;
            font-size: 22px;
            padding: 0 20px;
            height: 50px;
            margin: 0;
        }

        .omnibar {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
            flex: 0;
            width: 100%;
            overflow: hidden;
        }

        .toolbar {
            position: relative;
            padding-left: 10px;
        }

        .widgetbar {
            position: relative;
            padding: 10px 0;
            width: 275px;
        }

        .main-content {
            //width: 100%;
            flex: 1 0px;
            display: flex;
            flex-direction: column;
            overflow: auto;
        }

        .dashboard {
            //flex: 1 1 auto;
            overflow: auto;
            width: 100%;
        }

        .gridster-stage {
            .is-scroller {
                //@include is-scroller();
                padding: 10px;
            }
        }

        &.view-edit-mode {
            .widget-panel-content {
                flex: 1 1 100%;
                display: flex;
                flex-direction: column;
                align-items: stretch;
                justify-content: flex-start;
            }
        }

    }

    /* GRIDSTER */

    .gridster-container {
        min-height: 100%;

        .position-highlight {
            z-index: 0;

            .inner {
                position: absolute;
                top: 5px;
                bottom: 5px;
                left: 5px;
                right: 5px;

                -webkit-transition: background 3s;
                transition: background 3s;
                border-radius: 3px;

            }
        }
    }

    .gridster-item-prototype {
        display: block;
        position: relative;
        float: left;
        z-index: 99;
        text-align: center;
        font-weight: bold;
        margin: 5px;
        width: 80px;
        height: 60px;

        &.is-over {
            .gridster-item-inner {
                visibility: visible;
            }
        }

        .gridster-item-inner {
            position: absolute;
            top:0;
            left: 0;
            overflow: auto;
            width: 80px;
            height: 60px;
            visibility: hidden;

            -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
            -moz-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
            -o-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
            transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
        }
    }

    .gridster-item {
        .gridster-item-inner {
            position: absolute;
            border: 1px solid transparent;
            top: 5px;
            bottom: 5px;
            left: 5px;
            right: 5px;
            -webkit-transition: background 3s;
            transition: background 3s;
            border-radius: 3px;
            display: flex;
            align-items: stretch;
            justify-content: stretch;
        }

        &.is-dragging {
            .gridster-item-inner {
                top: -3px;
                bottom: 13px;
            }
        }
    }
}

@mixin dboard-content-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);

    .app-dboard-content {


    }

    /* GRIDSTER */

    .gridster-item-prototype {
        background-color: map-get($primary, darker);
    }

    .gridster-container {
        .position-highlight {
            .inner {
                @include mat-elevation(3);
                background-color: map-get($background, gridster-highlight);
                border: 1px solid transparent;
            }
        }
    }

    .gridster-item {
        .gridster-item-inner {
            //background: #fff;
            //border: 1px solid transparent;
            //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

        }

        &.is-dragging {
            .gridster-item-inner {
                @include mat-elevation(10);
            }
        }
    }
}
