<mat-toolbar class="data-explorer-toolbar">
    <!-- top bar for data explorer - has toggle -->
    <mat-toolbar-row>
        <span class="mat-caption">DATA EXPLORER</span>
        <span class="flex-spacer"></span>
        <span class="collapse-toggle">
            <button mat-icon-button (click)="toggleExplorerOpen()">
                <mat-icon fontSet="denali" fontIcon="d-arrowhead-down" *ngIf="!explorerOpen"></mat-icon>
                <mat-icon fontSet="denali" fontIcon="d-arrowhead-up" *ngIf="explorerOpen"></mat-icon>
            </button>
        </span>
    </mat-toolbar-row>
    <!-- actual tools for list-->
    <mat-toolbar-row>
        <span>actual tools</span>
    </mat-toolbar-row>
</mat-toolbar>
<div class="data-explorer-output">
    DATA WILL BE OUTPUT HERE
</div>
