<mat-card class="wrapper">
  <div class="presets" #presetsDiv>
    <h2>Presets</h2>
    <mat-grid-list cols="6" rowHeight="2:1">
      <span *ngFor="let preset of presets">
          <button mat-mini-fab (click)="togglePreset(preset)" [class.is-info]="this.presetSelected == preset"> {{preset.buttonName}} </button>
      </span>
    </mat-grid-list>
    <mat-grid-list cols="6" rowHeight="2:1" class="columns" *ngIf="this.presetSelected">
      <div>
        <keypad (amountSelected)="presetAmountReceived($event)"
                [disableHighKeys]="this.presetSelected.name == 'year' ? true : false">
        </keypad>
      </div>
    </mat-grid-list>
  </div>

  <!-- [ngClass]="{'is-offset-1':this.presetSelected.name == 'day',
                    'is-offset-3':this.presetSelected.name == 'week',
                    'is-offset-5':this.presetSelected.name == 'month',
                    'is-offset-6':this.presetSelected.name == 'quarter',
                    'is-offset-7':this.presetSelected.name == 'year'}" -->

  <div class="dtpicker-start">
    <h2>Start Time</h2>
      <dp-date-picker 
        id="daytimePickerStart"
        #daytimePickerStart="ngModel"
        #daytimePickerStart
        [(ngModel)]="startDate"
        [mode]="this.options.formatMode"
        [disableFutureDates]="options.startFutureTimesDisabled"
        [placeholder]="options.startTimePlaceholder"
        [maxDateError]="options.startMaxDateError"
        [formatError]="options.startDateFormatError"
        (onChange)="startTimeChanged($event)"
        (open)="startCalendarOpened()"
        (close)="startCalendarClosed()"
        (onGoToCurrent)="startClockSelected()"
        (onFocus)="startInputFocused()"
        (onEnter)="enterKeyedOnInputBox()"
        >
      </dp-date-picker>
  </div>

  <div class="dtpicker-end">
    <h2>End Time</h2>
      <dp-date-picker 
        id="daytimePickerEnd"
        #daytimePickerEnd="ngModel"
        #daytimePickerEnd
        [(ngModel)]="endDate"
        [mode]="this.options.formatMode"
        [disableFutureDates]="options.endFutureTimesDisabled"
        [placeholder]="options.endTimePlaceholder"
        [maxDateError]="options.endMaxDateError"
        [formatError]="options.endDateFormatError"
        (onChange)="endTimeChanged($event)"
        (open)="endCalendarOpened()"
        (close)="endCalendarClosed()"
        (onGoToCurrent)="endClockSelected()"
        (onFocus)="endInputFocused()"
        (onEnter)="enterKeyedOnInputBox()"
        >
      </dp-date-picker>
  </div>

  <div>
    <button class="button is-success" id="button-apply" (click)="applyClicked()" *ngIf="showApply" [disabled] = "daytimePickerStart.errors || daytimePickerEnd.errors">Apply</button>
  </div>

  <!-- <div class="time-range"><b>Time range:</b> {{startTimeSelected}} <b>to</b> {{endTimeSelected}}</div> -->

</mat-card>