.mat-card {
    font-family: 'Lucida Console';
}

.wrapper {
    font-family: 'Lucida Console';
    background-color: lightgray;
}

.presets {
    margin-bottom: 12px;
}

.mat-stroked-button {
    font-family: 'Lucida Console';
    min-width: 38px;
    margin: 1px;
    padding: 4px;
    border-color: gray;
}

.dp-time-header {
    font-size: 20px
}
  
.dtpicker-start {
    margin-bottom: 15px;
    width: 256px;
}

.dtpicker-end {
    width: 256px;
}

#button-apply {
    background-color: #00FF00;
    color: #ffffff;
    margin-top: 10px;
    font-family: 'Lucida Console';
}

.is-selected {
    background: #ffffff
}