
<mat-toolbar class="config-toolbar time-series-toolbar">
    <mat-toolbar-row *ngIf="!fakeMetrics || fakeMetrics.length === 0">
        <div class="toolbar-item">
            <button mat-stroked-button color="primary" class="mat-elevation-z0" (click)="openTimeSeriesMetricDialog(mgroupId)">
                <mat-icon fontSet="denali" fontIcon="d-add"></mat-icon>
                <span>Add Query</span>
            </button>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="fakeMetrics && fakeMetrics.length > 0">
        <div class="toolbar-item master-checkbox">
            <!--<mat-checkbox class=" master-checkbox"></mat-checkbox>-->
            <button mat-icon-button color="primary" (click)="batch_selectAllToggle($event)">
                <mat-icon>{{ selectedToggleIcon[selectAllToggle] }}</mat-icon>
            </button>
        </div>
        <div class="toolbar-item">
            <div class="button-group">
                <button mat-stroked-button color="primary" class="mat-elevation-z0" (click)="batch_groupMetrics($event)">
                    <mat-icon fontSet="denali" fontIcon="d-merge"></mat-icon>
                    <span>Group</span>
                </button>
                <button mat-stroked-button color="primary" class="mat-elevation-z0" (click)="batch_splitMetrics($event)">
                    <mat-icon fontSet="denali" fontIcon="d-split"></mat-icon>
                    <span>Split</span>
                </button>
                <button mat-stroked-button color="primary" class="mat-elevation-z0" (click)="batch_deleteMetrics($event)">
                    <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
                    <span>Delete</span>
                </button>
            </div>
        </div>
        <div class="tool-bar-item">
            <button mat-stroked-button color="primary" class="mat-elevation-z0" (click)="openTimeSeriesMetricDialog(mgroupId)">
                <mat-icon fontSet="denali" fontIcon="d-merge"></mat-icon>
                <span>Add Group</span>
            </button>
        </div>
        <span class="flex-spacer"></span>
        <div class="toolbar-item">
            <mat-slide-toggle (change)="toggle_displayGroupsIndividually($event)"><span class="mat-caption">Display groups individually</span></mat-slide-toggle>    
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<!-- list of metric-items -->
<div class="query-metrics-section">
    <div class="query-metrics-wrap">
        <mat-accordion class="query-group-list mat-elevation-z0" [ngClass]="{'items-selected': selectAllToggle !== 'none'}" displayMode="flat" [multi]="true" [hideToggle]="false">
            <mat-expansion-panel class="query-group-item mat-elevation-z0" [hideToggle]="true" [expanded]="!group.collapsed" *ngFor="let group of fakeGroups">
                <mat-expansion-panel-header [collapsedHeight]="30" [expandedHeight]="30">
                    <div class="group-selector">
                        <!--<mat-checkbox class="group-checkbox"></mat-checkbox>-->
                        <button mat-icon-button class="group-checkbox" color="primary" (click)="toggle_groupSelected(group, $event)">
                            <mat-icon>{{ selectedToggleIcon[group.selectedState] }}</mat-icon>
                            <!--<mat-icon *ngIf="selectedGroups.includes(group.id)">check_box</mat-icon>
                            <mat-icon *ngIf="!selectedGroups.includes(group.id)">check_box_outline_blank</mat-icon>-->
                        </button>
                    </div>
                    <mat-toolbar class="group-item-toolbar">
                        <span class="toolbar-item">
                            <button mat-icon-button [disableRipple]="true" (click)="toggle_groupCollapsed(group,$event)">
                                <mat-icon fontSet="denali" fontIcon="d-arrow-down" class="arrow-down"></mat-icon>
                                <mat-icon fontSet="denali" fontIcon="d-arrow-right" class="arrow-right"></mat-icon>
                            </button>
                        </span>
                        <span class="toolbar-item group-label">
                            <mat-icon fontSet="denali" fontIcon="d-folder-open"></mat-icon>
                            <strong>{{ group.label }}</strong>
                        </span>
                        <span class="flex-spacer"></span>
                        <span class="toolbar-item add-query-actions">
                            <mat-icon fontSet="denali" fontIcon="d-add"></mat-icon>
                            <span>Add:</span>
                            <button mat-button color="primary">Query</button>
                            <button mat-button color="primary">Expression</button>
                        </span>
                        <span class="toolbar-action-icons">
                            <button mat-icon-button color="primary" (click)="toggle_queryGroupVisibility(group, $event); $event.stopPropagation()">
                                <mat-icon fontSet="denali" fontIcon="d-eye-open" *ngIf="group.visible"></mat-icon>
                                <mat-icon fontSet="denali" fontIcon="d-eye-close" *ngIf="!group.visible"></mat-icon>
                            </button>
                            <button mat-icon-button color="primary" (click)="clone_queryGroup(group, $event)">
                                <mat-icon fontSet="denali" fontIcon="d-duplicate" class="mat-icon-rtl-mirror"></mat-icon>
                            </button>
                            <button mat-icon-button color="primary" (click)="delete_queryGroup(group, $event)">
                                <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
                            </button>
                        </span>
                    </mat-toolbar>
                </mat-expansion-panel-header>
                <div class="query-metric-row" *ngFor="let metric of group.metrics">
                    <div class="metric-selector">
                        <button mat-icon-button class="group-checkbox" color="primary" (click)="toggle_metricSelected(metric, group, $event)">
                            <mat-icon>{{ (metric.selectedState) ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
                        </button>
                    </div>
                    <div class="query-metric-item">
                        <div class="metric-detail">
                            <span class="detail-item">{{ metric.label }}</span>
                            <span class="flex-spacer"></span>
                            <span class="action-icons">
                                <button mat-icon-button color="primary" (click)="toggle_queryItemVisibility(metric, $event)">
                                    <mat-icon fontSet="denali" fontIcon="d-eye-open" *ngIf="metric.visible"></mat-icon>
                                    <mat-icon fontSet="denali" fontIcon="d-eye-close" *ngIf="!metric.visible"></mat-icon>
                                </button>
                                <button mat-icon-button color="primary" (click)="clone_queryItem(metric, $event)">
                                    <mat-icon fontSet="denali" fontIcon="d-duplicate" class="mat-icon-rtl-mirror"></mat-icon>
                                </button>
                                <button mat-icon-button color="primary" (click)="delete_queryItem(metric, $event)">
                                    <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
                                </button>
                            </span>
                        </div>
                        <div class="metric-tags">
                            <strong>Tags:</strong>
                            <mat-chip-list>
                                <mat-basic-chip *ngFor="let tag of metric.tags"><span>{{ tag.key }}:</span> <strong>{{ tag.value }}</strong></mat-basic-chip>
                            </mat-chip-list>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<!--
<mat-accordion class="query-item-list" displayMode="flat" [multi]="true" [hideToggle]="false">
    <mat-expansion-panel class="query-item mat-elevation-z0" [hideToggle]="false" [expanded]="true" *ngFor="let queryItem of fakeMetrics">
        <mat-expansion-panel-header [collapsedHeight]="30" [expandedHeight]="30">
            <mat-toolbar class="query-item-toolbar">
                <span class="toolbar-item query-item-alias">
                        <i class="graph-bgcolor-{{ queryItem.color }}">{{ queryItem.alias }}</i>
                    </span>
                    <span class="toolbar-item query-item-name">
                        <strong>{{ queryItem.label }}</strong>
                    </span>
                    <span class="flex-spacer"></span>
                    <span class="toolbar-action-icon">
                        <button mat-icon-button color="primary" (click)="toggle_queryItemVisibility(queryItem, $event)">
                            <mat-icon fontSet="denali" fontIcon="d-eye-open" *ngIf="queryItem.visible"></mat-icon>
                            <mat-icon fontSet="denali" fontIcon="d-eye-close" *ngIf="!queryItem.visible"></mat-icon>
                        </button>
                    </span>
                    <span class="toolbar-action-icon">
                        <button mat-icon-button color="primary" (click)="clone_queryItem(queryItem, $event)">
                            <mat-icon fontSet="denali" fontIcon="d-duplicate" class="mat-icon-rtl-mirror"></mat-icon>
                        </button>
                    </span>
                    <span class="toolbar-action-icon">
                        <button mat-icon-button color="primary" (click)="delete_queryItem(queryItem, $event)">
                            <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
                        </button>
                    </span>
            </mat-toolbar>
        </mat-expansion-panel-header>
        <div class="attributes-expression-value" fxLayout="row" *ngIf="queryItem.type === 'expression'">
            <div fxFlex="1 1 70px" class="label-container">
                Expression
            </div>
            <div fxFlex="1 1 100%" class="attributes-container">
                <mat-form-field style="width: 100%">
                    <textarea matInput placeholder="Enter an expression using metric aliases">{{ queryItem.expression }}</textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="attributes-tags" fxLayout="row" >
            <div fxFlex="1 1 70px" class="label-container">
                tags
            </div>
            <div fxFlex="1 1 100%" class="attributes-container">

                
            </div>
        </div>
        
    </mat-expansion-panel>
</mat-accordion>-->