// NOTE
// Most stles come from 'dashboard-navigator.component.scss'
// since the styles are shared
@mixin dnav-folders-component-base() {
    .dnav-folders {
        display: flex;
        flex-direction: column;

        .block-header.folders-header {
            align-items: stretch;
            justify-content: stretch;

            .block-header-label,
            .edit-actions,
            .create-actions,
            .display-actions {
                display: flex;
                align-items: center;
            }

            .edit-actions,
            .create-actions {
                display: none;
            }

            .edit-actions,
            .create-actions,
            .display-actions {
                .mat-button {
                    min-width: initial;
                    line-height: 30px;
                    padding: 0 8px;
                }
            }

            .edit-actions {
                .remove-folders-button {
                    margin-left: -8px;
                }
            }

            &.has-create-actions {
                .display-actions,
                .edit-actions {
                    display: none;
                }

                .create-actions {
                    display: flex;
                }
            }

            &.has-edit-actions {
                .block-header-label,
                .display-actions,
                .create-actions {
                    display: none;
                }

                .edit-actions {
                    display: flex;
                }
            }

        }

        &:first-of-type {
            
            .block-header.folders-header {
                margin-top: 0;
            }
        }
    }
}

@mixin dnav-folders-component-theme($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark-theme: map-get($theme-config, is-dark);

    $status: map-get($theme-config, status);

    .dnav-folders {

        .block-header.folders-header {
            .edit-actions,
            .create-actions,
            .display-actions {
                .mat-button:hover {
                    background-color: rgba(255,255,255,0.08);
                }
            }
        }
        .remove-folders-button.mat-button[disabled] {
            color: inherit;
            opacity: .5;
        }
        .remove-folders-button.is-active {
            color: map-get($status, error);
        }
    }
}
