/**
denali-icons Webfont
*/

$denali-font-path: '/assets/fonts/Denali-Icons/fonts';
$denali-css-prefix: 'denali';
$denali-font-version: 'v0.4.1';

@font-face {
    font-family: 'denali-icons';
    src: url('#{$denali-font-path}/denali-icons-#{$denali-font-version}.eot');
    src: url('#{$denali-font-path}/denali-icons-#{$denali-font-version}.eot') format('embedded-opentype'),
    url('#{$denali-font-path}/denali-icons-#{$denali-font-version}.ttf') format('truetype'),
    url('#{$denali-font-path}/denali-icons-#{$denali-font-version}.woff') format('woff'),
    url('#{$denali-font-path}/denali-icons-#{$denali-font-version}.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Base Class Definition
// -------------------------

.#{$denali-css-prefix},
.denali-icon,
.d-icon,
.dfi {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'denali-icons' !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: auto;
    line-height: 1;
    speak: none;
    color: currentColor;
}

// Icon Sizes
// -------------------------
// makes the font 33% larger relative to the icon container
.#{$denali-css-prefix}-lg {
    font-size: (4em / 3);
    line-height: (3em / 4);
    vertical-align: -.0667em;
}

.#{$denali-css-prefix}-xs {
    font-size: .75em;
}

.#{$denali-css-prefix}-sm {
    font-size: .875em;
}

@for $i from 1 through 10 {
    .#{$denali-css-prefix}-#{$i}x {
        font-size: $i * 1em;
    }
}

// Fixed Width Icons
// -------------------------
.#{$denali-css-prefix}-fw {
    text-align: center;
    width: (20em / 16);
}

/*
Glyphs list
*/

.d-5g-solid:before {
    content: '\ea01';
   }
   
   .d-5g:before {
    content: '\ea02';
   }
   
   .d-activity-solid:before {
    content: '\ea03';
   }
   
   .d-activity:before {
    content: '\ea04';
   }
   
   .d-add-circle-solid:before {
    content: '\ea05';
   }
   
   .d-add-circle:before {
    content: '\ea06';
   }
   
   .d-add-solid:before {
    content: '\ea07';
   }
   
   .d-add-square-solid:before {
    content: '\ea08';
   }
   
   .d-add-square:before {
    content: '\ea09';
   }
   
   .d-add:before {
    content: '\ea0a';
   }
   
   .d-ai-solid:before {
    content: '\ea0b';
   }
   
   .d-ai:before {
    content: '\ea0c';
   }
   
   .d-align-bottom-solid:before {
    content: '\ea0d';
   }
   
   .d-align-bottom:before {
    content: '\ea0e';
   }
   
   .d-align-center-solid:before {
    content: '\ea0f';
   }
   
   .d-align-center:before {
    content: '\ea10';
   }
   
   .d-align-top-solid:before {
    content: '\ea11';
   }
   
   .d-align-top:before {
    content: '\ea12';
   }
   
   .d-android:before {
    content: '\ea13';
   }
   
   .d-angular:before {
    content: '\ea14';
   }
   
   .d-apple-ios:before {
    content: '\ea15';
   }
   
   .d-apple:before {
    content: '\ea16';
   }
   
   .d-apps-solid:before {
    content: '\ea17';
   }
   
   .d-apps:before {
    content: '\ea18';
   }
   
   .d-archive-solid:before {
    content: '\ea19';
   }
   
   .d-archive:before {
    content: '\ea1a';
   }
   
   .d-arrow-block-down-solid:before {
    content: '\ea1b';
   }
   
   .d-arrow-block-down:before {
    content: '\ea1c';
   }
   
   .d-arrow-block-left-solid:before {
    content: '\ea1d';
   }
   
   .d-arrow-block-left:before {
    content: '\ea1e';
   }
   
   .d-arrow-block-right-solid:before {
    content: '\ea1f';
   }
   
   .d-arrow-block-right:before {
    content: '\ea20';
   }
   
   .d-arrow-block-up-solid:before {
    content: '\ea21';
   }
   
   .d-arrow-block-up:before {
    content: '\ea22';
   }
   
   .d-arrow-down-solid:before {
    content: '\ea23';
   }
   
   .d-arrow-down:before {
    content: '\ea24';
   }
   
   .d-arrow-left-solid:before {
    content: '\ea25';
   }
   
   .d-arrow-left:before {
    content: '\ea26';
   }
   
   .d-arrow-right-solid:before {
    content: '\ea27';
   }
   
   .d-arrow-right:before {
    content: '\ea28';
   }
   
   .d-arrow-skip-back-solid:before {
    content: '\ea29';
   }
   
   .d-arrow-skip-back:before {
    content: '\ea2a';
   }
   
   .d-arrow-skip-forward-solid:before {
    content: '\ea2b';
   }
   
   .d-arrow-skip-forward:before {
    content: '\ea2c';
   }
   
   .d-arrow-up-solid:before {
    content: '\ea2d';
   }
   
   .d-arrow-up:before {
    content: '\ea2e';
   }
   
   .d-arrowhead-down-circle-solid:before {
    content: '\ea2f';
   }
   
   .d-arrowhead-down-circle:before {
    content: '\ea30';
   }
   
   .d-arrowhead-down-solid:before {
    content: '\ea31';
   }
   
   .d-arrowhead-down:before {
    content: '\ea32';
   }
   
   .d-arrowhead-left-circle-solid:before {
    content: '\ea33';
   }
   
   .d-arrowhead-left-circle:before {
    content: '\ea34';
   }
   
   .d-arrowhead-left-solid:before {
    content: '\ea35';
   }
   
   .d-arrowhead-left:before {
    content: '\ea36';
   }
   
   .d-arrowhead-right-circle-solid:before {
    content: '\ea37';
   }
   
   .d-arrowhead-right-circle:before {
    content: '\ea38';
   }
   
   .d-arrowhead-right-solid:before {
    content: '\ea39';
   }
   
   .d-arrowhead-right:before {
    content: '\ea3a';
   }
   
   .d-arrowhead-up-circle-solid:before {
    content: '\ea3b';
   }
   
   .d-arrowhead-up-circle:before {
    content: '\ea3c';
   }
   
   .d-arrowhead-up-solid:before {
    content: '\ea3d';
   }
   
   .d-arrowhead-up:before {
    content: '\ea3e';
   }
   
   .d-artifactory:before {
    content: '\ea3f';
   }
   
   .d-arts-and-crafts-solid:before {
    content: '\ea40';
   }
   
   .d-arts-and-crafts:before {
    content: '\ea41';
   }
   
   .d-assignment-check-solid:before {
    content: '\ea42';
   }
   
   .d-assignment-check:before {
    content: '\ea43';
   }
   
   .d-assignment-priority-solid:before {
    content: '\ea44';
   }
   
   .d-assignment-priority:before {
    content: '\ea45';
   }
   
   .d-assignment-text-solid:before {
    content: '\ea46';
   }
   
   .d-assignment-text:before {
    content: '\ea47';
   }
   
   .d-athenz:before {
    content: '\ea48';
   }
   
   .d-attachment-solid:before {
    content: '\ea49';
   }
   
   .d-attachment:before {
    content: '\ea4a';
   }
   
   .d-aws:before {
    content: '\ea4b';
   }
   
   .d-baby-stroller-solid:before {
    content: '\ea4c';
   }
   
   .d-baby-stroller:before {
    content: '\ea4d';
   }
   
   .d-bare-metal-solid:before {
    content: '\ea4e';
   }
   
   .d-bare-metal:before {
    content: '\ea4f';
   }
   
   .d-bing:before {
    content: '\ea50';
   }
   
   .d-book-solid:before {
    content: '\ea51';
   }
   
   .d-book:before {
    content: '\ea52';
   }
   
   .d-bookmark-multiple-solid:before {
    content: '\ea53';
   }
   
   .d-bookmark-multiple:before {
    content: '\ea54';
   }
   
   .d-bookmark-solid:before {
    content: '\ea55';
   }
   
   .d-bookmark:before {
    content: '\ea56';
   }
   
   .d-branch-solid:before {
    content: '\ea57';
   }
   
   .d-branch:before {
    content: '\ea58';
   }
   
   .d-briefcase-solid:before {
    content: '\ea59';
   }
   
   .d-briefcase:before {
    content: '\ea5a';
   }
   
   .d-broadcast-solid:before {
    content: '\ea5b';
   }
   
   .d-broadcast-tower-solid:before {
    content: '\ea5c';
   }
   
   .d-broadcast-tower:before {
    content: '\ea5d';
   }
   
   .d-broadcast:before {
    content: '\ea5e';
   }
   
   .d-browser-bar-chart-solid:before {
    content: '\ea5f';
   }
   
   .d-browser-bar-chart:before {
    content: '\ea60';
   }
   
   .d-browser-code-solid:before {
    content: '\ea61';
   }
   
   .d-browser-code:before {
    content: '\ea62';
   }
   
   .d-browser-cost-solid:before {
    content: '\ea63';
   }
   
   .d-browser-cost:before {
    content: '\ea64';
   }
   
   .d-browser-open-in-solid:before {
    content: '\ea65';
   }
   
   .d-browser-open-in:before {
    content: '\ea66';
   }
   
   .d-browser-setting-solid:before {
    content: '\ea67';
   }
   
   .d-browser-setting:before {
    content: '\ea68';
   }
   
   .d-browser-solid:before {
    content: '\ea69';
   }
   
   .d-browser:before {
    content: '\ea6a';
   }
   
   .d-bug-solid:before {
    content: '\ea6b';
   }
   
   .d-bug:before {
    content: '\ea6c';
   }
   
   .d-calendar-date-range-solid:before {
    content: '\ea6d';
   }
   
   .d-calendar-date-range:before {
    content: '\ea6e';
   }
   
   .d-calendar-event-available-solid:before {
    content: '\ea6f';
   }
   
   .d-calendar-event-available:before {
    content: '\ea70';
   }
   
   .d-calendar-event-busy-solid:before {
    content: '\ea71';
   }
   
   .d-calendar-event-busy:before {
    content: '\ea72';
   }
   
   .d-calendar-event-solid:before {
    content: '\ea73';
   }
   
   .d-calendar-event:before {
    content: '\ea74';
   }
   
   .d-calendar-solid:before {
    content: '\ea75';
   }
   
   .d-calendar:before {
    content: '\ea76';
   }
   
   .d-calypso:before {
    content: '\ea77';
   }
   
   .d-camera-solid:before {
    content: '\ea78';
   }
   
   .d-camera:before {
    content: '\ea79';
   }
   
   .d-card-solid:before {
    content: '\ea7a';
   }
   
   .d-card:before {
    content: '\ea7b';
   }
   
   .d-cart-shopping-add-solid:before {
    content: '\ea7c';
   }
   
   .d-cart-shopping-add:before {
    content: '\ea7d';
   }
   
   .d-cart-shopping-remove-solid:before {
    content: '\ea7e';
   }
   
   .d-cart-shopping-remove:before {
    content: '\ea7f';
   }
   
   .d-cart-shopping-solid:before {
    content: '\ea80';
   }
   
   .d-cart-shopping:before {
    content: '\ea81';
   }
   
   .d-category-list-solid:before {
    content: '\ea82';
   }
   
   .d-category-list:before {
    content: '\ea83';
   }
   
   .d-category-solid:before {
    content: '\ea84';
   }
   
   .d-category:before {
    content: '\ea85';
   }
   
   .d-certificate-check-solid:before {
    content: '\ea86';
   }
   
   .d-certificate-check:before {
    content: '\ea87';
   }
   
   .d-certificate-key-solid:before {
    content: '\ea88';
   }
   
   .d-certificate-key:before {
    content: '\ea89';
   }
   
   .d-certificate-ribbon-solid:before {
    content: '\ea8a';
   }
   
   .d-certificate-ribbon:before {
    content: '\ea8b';
   }
   
   .d-certificate-ssl-solid:before {
    content: '\ea8c';
   }
   
   .d-certificate-ssl:before {
    content: '\ea8d';
   }
   
   .d-certificate-star-solid:before {
    content: '\ea8e';
   }
   
   .d-certificate-star:before {
    content: '\ea8f';
   }
   
   .d-chart-area-solid:before {
    content: '\ea90';
   }
   
   .d-chart-area:before {
    content: '\ea91';
   }
   
   .d-chart-bar-horizontal-solid:before {
    content: '\ea92';
   }
   
   .d-chart-bar-horizontal:before {
    content: '\ea93';
   }
   
   .d-chart-bar-vertical-solid:before {
    content: '\ea94';
   }
   
   .d-chart-bar-vertical:before {
    content: '\ea95';
   }
   
   .d-chart-create-solid:before {
    content: '\ea96';
   }
   
   .d-chart-create:before {
    content: '\ea97';
   }
   
   .d-chart-data-sets-solid:before {
    content: '\ea98';
   }
   
   .d-chart-data-sets:before {
    content: '\ea99';
   }
   
   .d-chart-donut-solid:before {
    content: '\ea9a';
   }
   
   .d-chart-donut:before {
    content: '\ea9b';
   }
   
   .d-chart-downward-solid:before {
    content: '\ea9c';
   }
   
   .d-chart-downward:before {
    content: '\ea9d';
   }
   
   .d-chart-edit-solid:before {
    content: '\ea9e';
   }
   
   .d-chart-edit:before {
    content: '\ea9f';
   }
   
   .d-chart-flat-solid:before {
    content: '\eaa0';
   }
   
   .d-chart-flat:before {
    content: '\eaa1';
   }
   
   .d-chart-line-solid:before {
    content: '\eaa2';
   }
   
   .d-chart-line-time-solid:before {
    content: '\eaa3';
   }
   
   .d-chart-line-time:before {
    content: '\eaa4';
   }
   
   .d-chart-line:before {
    content: '\eaa5';
   }
   
   .d-chart-metric-solid:before {
    content: '\eaa6';
   }
   
   .d-chart-metric:before {
    content: '\eaa7';
   }
   
   .d-chart-multi-metric-solid:before {
    content: '\eaa8';
   }
   
   .d-chart-multi-metric:before {
    content: '\eaa9';
   }
   
   .d-chart-pie-solid:before {
    content: '\eaaa';
   }
   
   .d-chart-pie:before {
    content: '\eaab';
   }
   
   .d-chart-threshold-solid:before {
    content: '\eaac';
   }
   
   .d-chart-threshold:before {
    content: '\eaad';
   }
   
   .d-chart-upward-solid:before {
    content: '\eaae';
   }
   
   .d-chart-upward:before {
    content: '\eaaf';
   }
   
   .d-chart-wave-solid:before {
    content: '\eab0';
   }
   
   .d-chart-wave:before {
    content: '\eab1';
   }
   
   .d-chart-x-axis-solid:before {
    content: '\eab2';
   }
   
   .d-chart-x-axis:before {
    content: '\eab3';
   }
   
   .d-chart-y-axis-solid:before {
    content: '\eab4';
   }
   
   .d-chart-y-axis:before {
    content: '\eab5';
   }
   
   .d-check-all-solid:before {
    content: '\eab6';
   }
   
   .d-check-all:before {
    content: '\eab7';
   }
   
   .d-check-circle-solid:before {
    content: '\eab8';
   }
   
   .d-check-circle:before {
    content: '\eab9';
   }
   
   .d-check-solid:before {
    content: '\eaba';
   }
   
   .d-check-square-solid:before {
    content: '\eabb';
   }
   
   .d-check-square:before {
    content: '\eabc';
   }
   
   .d-check:before {
    content: '\eabd';
   }
   
   .d-cicd-solid:before {
    content: '\eabe';
   }
   
   .d-cicd:before {
    content: '\eabf';
   }
   
   .d-circle-solid:before {
    content: '\eac0';
   }
   
   .d-circle:before {
    content: '\eac1';
   }
   
   .d-cisco-anyconnect:before {
    content: '\eac2';
   }
   
   .d-ckms:before {
    content: '\eac3';
   }
   
   .d-close-circle-solid:before {
    content: '\eac4';
   }
   
   .d-close-circle:before {
    content: '\eac5';
   }
   
   .d-close-solid:before {
    content: '\eac6';
   }
   
   .d-close-square-solid:before {
    content: '\eac7';
   }
   
   .d-close-square:before {
    content: '\eac8';
   }
   
   .d-close:before {
    content: '\eac9';
   }
   
   .d-clothes-solid:before {
    content: '\eaca';
   }
   
   .d-clothes:before {
    content: '\eacb';
   }
   
   .d-cloud-check-solid:before {
    content: '\eacc';
   }
   
   .d-cloud-check:before {
    content: '\eacd';
   }
   
   .d-cloud-data-network-solid:before {
    content: '\eace';
   }
   
   .d-cloud-data-network:before {
    content: '\eacf';
   }
   
   .d-cloud-disable-solid:before {
    content: '\ead0';
   }
   
   .d-cloud-disable:before {
    content: '\ead1';
   }
   
   .d-cloud-download-solid:before {
    content: '\ead2';
   }
   
   .d-cloud-download:before {
    content: '\ead3';
   }
   
   .d-cloud-error-solid:before {
    content: '\ead4';
   }
   
   .d-cloud-error:before {
    content: '\ead5';
   }
   
   .d-cloud-service-solid:before {
    content: '\ead6';
   }
   
   .d-cloud-service:before {
    content: '\ead7';
   }
   
   .d-cloud-settings-solid:before {
    content: '\ead8';
   }
   
   .d-cloud-settings:before {
    content: '\ead9';
   }
   
   .d-cloud-solid:before {
    content: '\eada';
   }
   
   .d-cloud-upload-solid:before {
    content: '\eadb';
   }
   
   .d-cloud-upload:before {
    content: '\eadc';
   }
   
   .d-cloud:before {
    content: '\eadd';
   }
   
   .d-code-programming-solid:before {
    content: '\eade';
   }
   
   .d-code-programming:before {
    content: '\eadf';
   }
   
   .d-code-solid:before {
    content: '\eae0';
   }
   
   .d-code:before {
    content: '\eae1';
   }
   
   .d-collapse-fullscreen-solid:before {
    content: '\eae2';
   }
   
   .d-collapse-fullscreen:before {
    content: '\eae3';
   }
   
   .d-collapse-vertical-solid:before {
    content: '\eae4';
   }
   
   .d-collapse-vertical:before {
    content: '\eae5';
   }
   
   .d-collection-solid:before {
    content: '\eae6';
   }
   
   .d-collection:before {
    content: '\eae7';
   }
   
   .d-comment-announcement-solid:before {
    content: '\eae8';
   }
   
   .d-comment-announcement:before {
    content: '\eae9';
   }
   
   .d-comment-blank-solid:before {
    content: '\eaea';
   }
   
   .d-comment-blank:before {
    content: '\eaeb';
   }
   
   .d-comment-forum-solid:before {
    content: '\eaec';
   }
   
   .d-comment-forum:before {
    content: '\eaed';
   }
   
   .d-comment-help-solid:before {
    content: '\eaee';
   }
   
   .d-comment-help:before {
    content: '\eaef';
   }
   
   .d-comment-text-solid:before {
    content: '\eaf0';
   }
   
   .d-comment-text:before {
    content: '\eaf1';
   }
   
   .d-computer-code-solid:before {
    content: '\eaf2';
   }
   
   .d-computer-code:before {
    content: '\eaf3';
   }
   
   .d-computer-secured-solid:before {
    content: '\eaf4';
   }
   
   .d-computer-secured:before {
    content: '\eaf5';
   }
   
   .d-computer-setting-solid:before {
    content: '\eaf6';
   }
   
   .d-computer-setting:before {
    content: '\eaf7';
   }
   
   .d-computer-solid:before {
    content: '\eaf8';
   }
   
   .d-computer:before {
    content: '\eaf9';
   }
   
   .d-contacts-solid:before {
    content: '\eafa';
   }
   
   .d-contacts:before {
    content: '\eafb';
   }
   
   .d-container-optimize-solid:before {
    content: '\eafc';
   }
   
   .d-container-optimize:before {
    content: '\eafd';
   }
   
   .d-container-solid:before {
    content: '\eafe';
   }
   
   .d-container:before {
    content: '\eaff';
   }
   
   .d-cosmo:before {
    content: '\eb00';
   }
   
   .d-creditcard-solid:before {
    content: '\eb01';
   }
   
   .d-creditcard:before {
    content: '\eb02';
   }
   
   .d-css:before {
    content: '\eb03';
   }
   
   .d-currency-dollar-solid:before {
    content: '\eb04';
   }
   
   .d-currency-dollar:before {
    content: '\eb05';
   }
   
   .d-currency-euro-solid:before {
    content: '\eb06';
   }
   
   .d-currency-euro:before {
    content: '\eb07';
   }
   
   .d-currency-revenue-solid:before {
    content: '\eb08';
   }
   
   .d-currency-revenue:before {
    content: '\eb09';
   }
   
   .d-currency-yen-solid:before {
    content: '\eb0a';
   }
   
   .d-currency-yen:before {
    content: '\eb0b';
   }
   
   .d-dashboard-add-solid:before {
    content: '\eb0c';
   }
   
   .d-dashboard-add:before {
    content: '\eb0d';
   }
   
   .d-dashboard-remove-solid:before {
    content: '\eb0e';
   }
   
   .d-dashboard-remove:before {
    content: '\eb0f';
   }
   
   .d-dashboard-solid:before {
    content: '\eb10';
   }
   
   .d-dashboard-tile-add-solid:before {
    content: '\eb11';
   }
   
   .d-dashboard-tile-add:before {
    content: '\eb12';
   }
   
   .d-dashboard-tile-remove-solid:before {
    content: '\eb13';
   }
   
   .d-dashboard-tile-remove:before {
    content: '\eb14';
   }
   
   .d-dashboard-tile-setting-solid:before {
    content: '\eb15';
   }
   
   .d-dashboard-tile-setting:before {
    content: '\eb16';
   }
   
   .d-dashboard-tile-solid:before {
    content: '\eb17';
   }
   
   .d-dashboard-tile:before {
    content: '\eb18';
   }
   
   .d-dashboard:before {
    content: '\eb19';
   }
   
   .d-data-science-solid:before {
    content: '\eb1a';
   }
   
   .d-data-science:before {
    content: '\eb1b';
   }
   
   .d-data-source-solid:before {
    content: '\eb1c';
   }
   
   .d-data-source:before {
    content: '\eb1d';
   }
   
   .d-data-storage-check-solid:before {
    content: '\eb1e';
   }
   
   .d-data-storage-check:before {
    content: '\eb1f';
   }
   
   .d-data-storage-lock-solid:before {
    content: '\eb20';
   }
   
   .d-data-storage-lock:before {
    content: '\eb21';
   }
   
   .d-data-storage-multiple-solid:before {
    content: '\eb22';
   }
   
   .d-data-storage-multiple:before {
    content: '\eb23';
   }
   
   .d-data-storage-network-solid:before {
    content: '\eb24';
   }
   
   .d-data-storage-network:before {
    content: '\eb25';
   }
   
   .d-data-storage-setting-solid:before {
    content: '\eb26';
   }
   
   .d-data-storage-setting:before {
    content: '\eb27';
   }
   
   .d-data-storage-single-solid:before {
    content: '\eb28';
   }
   
   .d-data-storage-single:before {
    content: '\eb29';
   }
   
   .d-decline-solid:before {
    content: '\eb2a';
   }
   
   .d-decline:before {
    content: '\eb2b';
   }
   
   .d-denali:before {
    content: '\eb2c';
   }
   
   .d-dev-ops-solid:before {
    content: '\eb2d';
   }
   
   .d-dev-ops:before {
    content: '\eb2e';
   }
   
   .d-device-mobile-comment-solid:before {
    content: '\eb2f';
   }
   
   .d-device-mobile-comment:before {
    content: '\eb30';
   }
   
   .d-device-mobile-graph-solid:before {
    content: '\eb31';
   }
   
   .d-device-mobile-graph:before {
    content: '\eb32';
   }
   
   .d-device-mobile-notification-solid:before {
    content: '\eb33';
   }
   
   .d-device-mobile-notification:before {
    content: '\eb34';
   }
   
   .d-device-mobile-priority-solid:before {
    content: '\eb35';
   }
   
   .d-device-mobile-priority:before {
    content: '\eb36';
   }
   
   .d-device-mobile-solid:before {
    content: '\eb37';
   }
   
   .d-device-mobile:before {
    content: '\eb38';
   }
   
   .d-device-multiple-solid:before {
    content: '\eb39';
   }
   
   .d-device-multiple:before {
    content: '\eb3a';
   }
   
   .d-device-tablet-comment-solid:before {
    content: '\eb3b';
   }
   
   .d-device-tablet-comment:before {
    content: '\eb3c';
   }
   
   .d-device-tablet-graph-solid:before {
    content: '\eb3d';
   }
   
   .d-device-tablet-graph:before {
    content: '\eb3e';
   }
   
   .d-device-tablet-notification-solid:before {
    content: '\eb3f';
   }
   
   .d-device-tablet-notification:before {
    content: '\eb40';
   }
   
   .d-device-tablet-solid:before {
    content: '\eb41';
   }
   
   .d-device-tablet:before {
    content: '\eb42';
   }
   
   .d-docker:before {
    content: '\eb43';
   }
   
   .d-domain-solid:before {
    content: '\eb44';
   }
   
   .d-domain:before {
    content: '\eb45';
   }
   
   .d-download-solid:before {
    content: '\eb46';
   }
   
   .d-download:before {
    content: '\eb47';
   }
   
   .d-drag-arrow-solid:before {
    content: '\eb48';
   }
   
   .d-drag-arrow:before {
    content: '\eb49';
   }
   
   .d-drag-handle-solid:before {
    content: '\eb4a';
   }
   
   .d-drag-handle:before {
    content: '\eb4b';
   }
   
   .d-dragonfly:before {
    content: '\eb4c';
   }
   
   .d-dropbox:before {
    content: '\eb4d';
   }
   
   .d-duplicate-solid:before {
    content: '\eb4e';
   }
   
   .d-duplicate:before {
    content: '\eb4f';
   }
   
   .d-eject-circle-solid:before {
    content: '\eb50';
   }
   
   .d-eject-circle:before {
    content: '\eb51';
   }
   
   .d-ember:before {
    content: '\eb52';
   }
   
   .d-escalate-solid:before {
    content: '\eb53';
   }
   
   .d-escalate:before {
    content: '\eb54';
   }
   
   .d-exit-to-app-solid:before {
    content: '\eb55';
   }
   
   .d-exit-to-app:before {
    content: '\eb56';
   }
   
   .d-expand-fullscreen-solid:before {
    content: '\eb57';
   }
   
   .d-expand-fullscreen:before {
    content: '\eb58';
   }
   
   .d-expand-vertical-solid:before {
    content: '\eb59';
   }
   
   .d-expand-vertical:before {
    content: '\eb5a';
   }
   
   .d-explore-solid:before {
    content: '\eb5b';
   }
   
   .d-explore:before {
    content: '\eb5c';
   }
   
   .d-external-solid:before {
    content: '\eb5d';
   }
   
   .d-external:before {
    content: '\eb5e';
   }
   
   .d-eye-close-solid:before {
    content: '\eb5f';
   }
   
   .d-eye-close:before {
    content: '\eb60';
   }
   
   .d-eye-open-solid:before {
    content: '\eb61';
   }
   
   .d-eye-open:before {
    content: '\eb62';
   }
   
   .d-facebook:before {
    content: '\eb63';
   }
   
   .d-facial-recognition-solid:before {
    content: '\eb64';
   }
   
   .d-facial-recognition:before {
    content: '\eb65';
   }
   
   .d-file-add-solid:before {
    content: '\eb66';
   }
   
   .d-file-add:before {
    content: '\eb67';
   }
   
   .d-file-edit-solid:before {
    content: '\eb68';
   }
   
   .d-file-edit:before {
    content: '\eb69';
   }
   
   .d-file-minus-solid:before {
    content: '\eb6a';
   }
   
   .d-file-minus:before {
    content: '\eb6b';
   }
   
   .d-file-multiple-solid:before {
    content: '\eb6c';
   }
   
   .d-file-multiple:before {
    content: '\eb6d';
   }
   
   .d-file-search-solid:before {
    content: '\eb6e';
   }
   
   .d-file-search:before {
    content: '\eb6f';
   }
   
   .d-file-text-solid:before {
    content: '\eb70';
   }
   
   .d-file-text:before {
    content: '\eb71';
   }
   
   .d-filter-horizontal-solid:before {
    content: '\eb72';
   }
   
   .d-filter-horizontal:before {
    content: '\eb73';
   }
   
   .d-filter-list-solid:before {
    content: '\eb74';
   }
   
   .d-filter-list:before {
    content: '\eb75';
   }
   
   .d-filter-vertical-solid:before {
    content: '\eb76';
   }
   
   .d-filter-vertical:before {
    content: '\eb77';
   }
   
   .d-fingerprint-solid:before {
    content: '\eb78';
   }
   
   .d-fingerprint:before {
    content: '\eb79';
   }
   
   .d-flag-solid:before {
    content: '\eb7a';
   }
   
   .d-flag:before {
    content: '\eb7b';
   }
   
   .d-flip-solid:before {
    content: '\eb7c';
   }
   
   .d-flip:before {
    content: '\eb7d';
   }
   
   .d-flower-solid:before {
    content: '\eb7e';
   }
   
   .d-flower:before {
    content: '\eb7f';
   }
   
   .d-folder-add-solid:before {
    content: '\eb80';
   }
   
   .d-folder-add:before {
    content: '\eb81';
   }
   
   .d-folder-bar-chart-solid:before {
    content: '\eb82';
   }
   
   .d-folder-bar-chart:before {
    content: '\eb83';
   }
   
   .d-folder-favorite-solid:before {
    content: '\eb84';
   }
   
   .d-folder-favorite:before {
    content: '\eb85';
   }
   
   .d-folder-key-solid:before {
    content: '\eb86';
   }
   
   .d-folder-key:before {
    content: '\eb87';
   }
   
   .d-folder-merge-solid:before {
    content: '\eb88';
   }
   
   .d-folder-merge:before {
    content: '\eb89';
   }
   
   .d-folder-minus-solid:before {
    content: '\eb8a';
   }
   
   .d-folder-minus:before {
    content: '\eb8b';
   }
   
   .d-folder-multiple-solid:before {
    content: '\eb8c';
   }
   
   .d-folder-multiple:before {
    content: '\eb8d';
   }
   
   .d-folder-open-solid:before {
    content: '\eb8e';
   }
   
   .d-folder-open:before {
    content: '\eb8f';
   }
   
   .d-folder-solid:before {
    content: '\eb90';
   }
   
   .d-folder:before {
    content: '\eb91';
   }
   
   .d-footprint-solid:before {
    content: '\eb92';
   }
   
   .d-footprint:before {
    content: '\eb93';
   }
   
   .d-forward-circle-solid:before {
    content: '\eb94';
   }
   
   .d-forward-circle:before {
    content: '\eb95';
   }
   
   .d-github:before {
    content: '\eb96';
   }
   
   .d-go-green:before {
    content: '\eb97';
   }
   
   .d-golang:before {
    content: '\eb98';
   }
   
   .d-google:before {
    content: '\eb99';
   }
   
   .d-grid-solid-solid:before {
    content: '\eb9a';
   }
   
   .d-grid:before {
    content: '\eb9b';
   }
   
   .d-group-solid:before {
    content: '\eb9c';
   }
   
   .d-group:before {
    content: '\eb9d';
   }
   
   .d-hacker-solid:before {
    content: '\eb9e';
   }
   
   .d-hacker:before {
    content: '\eb9f';
   }
   
   .d-hash-solid:before {
    content: '\eba0';
   }
   
   .d-hash:before {
    content: '\eba1';
   }
   
   .d-heart-health-solid:before {
    content: '\eba2';
   }
   
   .d-heart-health:before {
    content: '\eba3';
   }
   
   .d-heart-like-solid:before {
    content: '\eba4';
   }
   
   .d-heart-like:before {
    content: '\eba5';
   }
   
   .d-help-circle-solid:before {
    content: '\eba6';
   }
   
   .d-help-circle:before {
    content: '\eba7';
   }
   
   .d-home-solid:before {
    content: '\eba8';
   }
   
   .d-home:before {
    content: '\eba9';
   }
   
   .d-horoscope-solid:before {
    content: '\ebaa';
   }
   
   .d-horoscope:before {
    content: '\ebab';
   }
   
   .d-hourglass-solid:before {
    content: '\ebac';
   }
   
   .d-hourglass:before {
    content: '\ebad';
   }
   
   .d-information-circle-solid:before {
    content: '\ebae';
   }
   
   .d-information-circle:before {
    content: '\ebaf';
   }
   
   .d-infrastructure-solid:before {
    content: '\ebb0';
   }
   
   .d-infrastructure:before {
    content: '\ebb1';
   }
   
   .d-input-solid:before {
    content: '\ebb2';
   }
   
   .d-input:before {
    content: '\ebb3';
   }
   
   .d-instagram:before {
    content: '\ebb4';
   }
   
   .d-java:before {
    content: '\ebb5';
   }
   
   .d-jenkins:before {
    content: '\ebb6';
   }
   
   .d-jive:before {
    content: '\ebb7';
   }
   
   .d-key-circle-solid:before {
    content: '\ebb8';
   }
   
   .d-key-circle:before {
    content: '\ebb9';
   }
   
   .d-key-solid:before {
    content: '\ebba';
   }
   
   .d-key:before {
    content: '\ebbb';
   }
   
   .d-keyboard-backspace-solid:before {
    content: '\ebbc';
   }
   
   .d-keyboard-backspace:before {
    content: '\ebbd';
   }
   
   .d-keyboard-capslock-solid:before {
    content: '\ebbe';
   }
   
   .d-keyboard-capslock:before {
    content: '\ebbf';
   }
   
   .d-keyboard-command-solid:before {
    content: '\ebc0';
   }
   
   .d-keyboard-command:before {
    content: '\ebc1';
   }
   
   .d-keyboard-control-solid:before {
    content: '\ebc2';
   }
   
   .d-keyboard-control:before {
    content: '\ebc3';
   }
   
   .d-keyboard-option-solid:before {
    content: '\ebc4';
   }
   
   .d-keyboard-option:before {
    content: '\ebc5';
   }
   
   .d-keyboard-percent-solid:before {
    content: '\ebc6';
   }
   
   .d-keyboard-percent:before {
    content: '\ebc7';
   }
   
   .d-keyboard-return-solid:before {
    content: '\ebc8';
   }
   
   .d-keyboard-return:before {
    content: '\ebc9';
   }
   
   .d-keyboard-shift-solid:before {
    content: '\ebca';
   }
   
   .d-keyboard-shift:before {
    content: '\ebcb';
   }
   
   .d-keyboard-solid:before {
    content: '\ebcc';
   }
   
   .d-keyboard-tab-solid:before {
    content: '\ebcd';
   }
   
   .d-keyboard-tab:before {
    content: '\ebce';
   }
   
   .d-keyboard:before {
    content: '\ebcf';
   }
   
   .d-label-solid:before {
    content: '\ebd0';
   }
   
   .d-label:before {
    content: '\ebd1';
   }
   
   .d-law-building-solid:before {
    content: '\ebd2';
   }
   
   .d-law-building:before {
    content: '\ebd3';
   }
   
   .d-law-scale-solid:before {
    content: '\ebd4';
   }
   
   .d-law-scale:before {
    content: '\ebd5';
   }
   
   .d-layers-solid:before {
    content: '\ebd6';
   }
   
   .d-layers:before {
    content: '\ebd7';
   }
   
   .d-layout-one-solid:before {
    content: '\ebd8';
   }
   
   .d-layout-one:before {
    content: '\ebd9';
   }
   
   .d-layout-three-solid:before {
    content: '\ebda';
   }
   
   .d-layout-three:before {
    content: '\ebdb';
   }
   
   .d-layout-two-solid:before {
    content: '\ebdc';
   }
   
   .d-layout-two:before {
    content: '\ebdd';
   }
   
   .d-leaf-solid:before {
    content: '\ebde';
   }
   
   .d-leaf:before {
    content: '\ebdf';
   }
   
   .d-lightbulb-solid:before {
    content: '\ebe0';
   }
   
   .d-lightbulb:before {
    content: '\ebe1';
   }
   
   .d-line-style-solid:before {
    content: '\ebe2';
   }
   
   .d-line-style:before {
    content: '\ebe3';
   }
   
   .d-line-thickness-solid:before {
    content: '\ebe4';
   }
   
   .d-line-thickness:before {
    content: '\ebe5';
   }
   
   .d-link-solid:before {
    content: '\ebe6';
   }
   
   .d-link:before {
    content: '\ebe7';
   }
   
   .d-linkedin:before {
    content: '\ebe8';
   }
   
   .d-list-check-solid:before {
    content: '\ebe9';
   }
   
   .d-list-check:before {
    content: '\ebea';
   }
   
   .d-list-solid:before {
    content: '\ebeb';
   }
   
   .d-list:before {
    content: '\ebec';
   }
   
   .d-location-add-solid:before {
    content: '\ebed';
   }
   
   .d-location-add:before {
    content: '\ebee';
   }
   
   .d-location-current-solid:before {
    content: '\ebef';
   }
   
   .d-location-current:before {
    content: '\ebf0';
   }
   
   .d-location-edit-solid:before {
    content: '\ebf1';
   }
   
   .d-location-edit:before {
    content: '\ebf2';
   }
   
   .d-location-not-found-solid:before {
    content: '\ebf3';
   }
   
   .d-location-not-found:before {
    content: '\ebf4';
   }
   
   .d-location-pin-solid:before {
    content: '\ebf5';
   }
   
   .d-location-pin:before {
    content: '\ebf6';
   }
   
   .d-location-point-of-interest-solid:before {
    content: '\ebf7';
   }
   
   .d-location-point-of-interest:before {
    content: '\ebf8';
   }
   
   .d-location-remove-solid:before {
    content: '\ebf9';
   }
   
   .d-location-remove:before {
    content: '\ebfa';
   }
   
   .d-location-solid:before {
    content: '\ebfb';
   }
   
   .d-location:before {
    content: '\ebfc';
   }
   
   .d-lock-close-solid:before {
    content: '\ebfd';
   }
   
   .d-lock-close:before {
    content: '\ebfe';
   }
   
   .d-lock-open-solid:before {
    content: '\ebff';
   }
   
   .d-lock-open-source-solid:before {
    content: '\ec00';
   }
   
   .d-lock-open-source:before {
    content: '\ec01';
   }
   
   .d-lock-open:before {
    content: '\ec02';
   }
   
   .d-machine-learning-solid:before {
    content: '\ec03';
   }
   
   .d-machine-learning:before {
    content: '\ec04';
   }
   
   .d-mail-solid:before {
    content: '\ec05';
   }
   
   .d-mail:before {
    content: '\ec06';
   }
   
   .d-map-solid:before {
    content: '\ec07';
   }
   
   .d-map:before {
    content: '\ec08';
   }
   
   .d-medal-solid:before {
    content: '\ec09';
   }
   
   .d-medal:before {
    content: '\ec0a';
   }
   
   .d-memory-card-solid:before {
    content: '\ec0b';
   }
   
   .d-memory-card:before {
    content: '\ec0c';
   }
   
   .d-memory-chip-solid:before {
    content: '\ec0d';
   }
   
   .d-memory-chip:before {
    content: '\ec0e';
   }
   
   .d-men-solid:before {
    content: '\ec0f';
   }
   
   .d-men:before {
    content: '\ec10';
   }
   
   .d-menu-dialpad-solid:before {
    content: '\ec11';
   }
   
   .d-menu-dialpad:before {
    content: '\ec12';
   }
   
   .d-menu-hamburger-solid:before {
    content: '\ec13';
   }
   
   .d-menu-hamburger:before {
    content: '\ec14';
   }
   
   .d-merge-solid:before {
    content: '\ec15';
   }
   
   .d-merge:before {
    content: '\ec16';
   }
   
   .d-mic-solid:before {
    content: '\ec17';
   }
   
   .d-mic:before {
    content: '\ec18';
   }
   
   .d-minus-circle-solid:before {
    content: '\ec19';
   }
   
   .d-minus-circle:before {
    content: '\ec1a';
   }
   
   .d-minus-solid:before {
    content: '\ec1b';
   }
   
   .d-minus-square-solid:before {
    content: '\ec1c';
   }
   
   .d-minus-square:before {
    content: '\ec1d';
   }
   
   .d-minus:before {
    content: '\ec1e';
   }
   
   .d-monitor-solid:before {
    content: '\ec1f';
   }
   
   .d-monitor:before {
    content: '\ec20';
   }
   
   .d-moon-solid:before {
    content: '\ec21';
   }
   
   .d-moon:before {
    content: '\ec22';
   }
   
   .d-more-horizontal-circle-solid:before {
    content: '\ec23';
   }
   
   .d-more-horizontal-circle:before {
    content: '\ec24';
   }
   
   .d-more-horizontal-solid:before {
    content: '\ec25';
   }
   
   .d-more-horizontal:before {
    content: '\ec26';
   }
   
   .d-more-vertical-circle-solid:before {
    content: '\ec27';
   }
   
   .d-more-vertical-circle:before {
    content: '\ec28';
   }
   
   .d-more-vertical-solid:before {
    content: '\ec29';
   }
   
   .d-more-vertical:before {
    content: '\ec2a';
   }
   
   .d-network-mapping-solid:before {
    content: '\ec2b';
   }
   
   .d-network-mapping:before {
    content: '\ec2c';
   }
   
   .d-network-platform-solid:before {
    content: '\ec2d';
   }
   
   .d-network-platform:before {
    content: '\ec2e';
   }
   
   .d-network-solid:before {
    content: '\ec2f';
   }
   
   .d-network:before {
    content: '\ec30';
   }
   
   .d-new-rectangle-solid:before {
    content: '\ec31';
   }
   
   .d-new-rectangle:before {
    content: '\ec32';
   }
   
   .d-new-star-solid:before {
    content: '\ec33';
   }
   
   .d-new-star:before {
    content: '\ec34';
   }
   
   .d-news-solid:before {
    content: '\ec35';
   }
   
   .d-news:before {
    content: '\ec36';
   }
   
   .d-newspaper-solid:before {
    content: '\ec37';
   }
   
   .d-newspaper:before {
    content: '\ec38';
   }
   
   .d-node-js:before {
    content: '\ec39';
   }
   
   .d-node-solid:before {
    content: '\ec3a';
   }
   
   .d-node:before {
    content: '\ec3b';
   }
   
   .d-notebook-solid:before {
    content: '\ec3c';
   }
   
   .d-notebook:before {
    content: '\ec3d';
   }
   
   .d-notification-add-solid:before {
    content: '\ec3e';
   }
   
   .d-notification-add:before {
    content: '\ec3f';
   }
   
   .d-notification-disable-solid:before {
    content: '\ec40';
   }
   
   .d-notification-disable:before {
    content: '\ec41';
   }
   
   .d-notification-minus-solid:before {
    content: '\ec42';
   }
   
   .d-notification-minus:before {
    content: '\ec43';
   }
   
   .d-notification-on-solid:before {
    content: '\ec44';
   }
   
   .d-notification-on:before {
    content: '\ec45';
   }
   
   .d-notification-priority-solid:before {
    content: '\ec46';
   }
   
   .d-notification-priority:before {
    content: '\ec47';
   }
   
   .d-notification-snooze-solid:before {
    content: '\ec48';
   }
   
   .d-notification-snooze:before {
    content: '\ec49';
   }
   
   .d-notification-solid:before {
    content: '\ec4a';
   }
   
   .d-notification:before {
    content: '\ec4b';
   }
   
   .d-oath-colon:before {
    content: '\ec4c';
   }
   
   .d-okta:before {
    content: '\ec4d';
   }
   
   .d-onboard-solid:before {
    content: '\ec4e';
   }
   
   .d-onboard:before {
    content: '\ec4f';
   }
   
   .d-openstack:before {
    content: '\ec50';
   }
   
   .d-page-first-solid:before {
    content: '\ec51';
   }
   
   .d-page-first:before {
    content: '\ec52';
   }
   
   .d-page-last-solid:before {
    content: '\ec53';
   }
   
   .d-page-last:before {
    content: '\ec54';
   }
   
   .d-page-top-solid:before {
    content: '\ec55';
   }
   
   .d-page-top:before {
    content: '\ec56';
   }
   
   .d-palette-solid:before {
    content: '\ec57';
   }
   
   .d-palette:before {
    content: '\ec58';
   }
   
   .d-partners-solid:before {
    content: '\ec59';
   }
   
   .d-partners:before {
    content: '\ec5a';
   }
   
   .d-pause-circle-solid:before {
    content: '\ec5b';
   }
   
   .d-pause-circle:before {
    content: '\ec5c';
   }
   
   .d-pen-tool-solid:before {
    content: '\ec5d';
   }
   
   .d-pen-tool:before {
    content: '\ec5e';
   }
   
   .d-pencil-solid:before {
    content: '\ec5f';
   }
   
   .d-pencil:before {
    content: '\ec60';
   }
   
   .d-pets-solid:before {
    content: '\ec61';
   }
   
   .d-pets:before {
    content: '\ec62';
   }
   
   .d-photo-solid:before {
    content: '\ec63';
   }
   
   .d-photo:before {
    content: '\ec64';
   }
   
   .d-picture-in-picture-bottom-solid:before {
    content: '\ec65';
   }
   
   .d-picture-in-picture-bottom:before {
    content: '\ec66';
   }
   
   .d-picture-in-picture-top-solid:before {
    content: '\ec67';
   }
   
   .d-picture-in-picture-top:before {
    content: '\ec68';
   }
   
   .d-pin-solid:before {
    content: '\ec69';
   }
   
   .d-pin:before {
    content: '\ec6a';
   }
   
   .d-pinterest:before {
    content: '\ec6b';
   }
   
   .d-pipeline-solid:before {
    content: '\ec6c';
   }
   
   .d-pipeline:before {
    content: '\ec6d';
   }
   
   .d-play-circle-solid:before {
    content: '\ec6e';
   }
   
   .d-play-circle:before {
    content: '\ec6f';
   }
   
   .d-plug-in-solid:before {
    content: '\ec70';
   }
   
   .d-plug-in:before {
    content: '\ec71';
   }
   
   .d-podcast-solid:before {
    content: '\ec72';
   }
   
   .d-podcast:before {
    content: '\ec73';
   }
   
   .d-power-solid:before {
    content: '\ec74';
   }
   
   .d-power:before {
    content: '\ec75';
   }
   
   .d-principles-solid:before {
    content: '\ec76';
   }
   
   .d-principles:before {
    content: '\ec77';
   }
   
   .d-printer-solid:before {
    content: '\ec78';
   }
   
   .d-printer:before {
    content: '\ec79';
   }
   
   .d-processing-solid:before {
    content: '\ec7a';
   }
   
   .d-processing:before {
    content: '\ec7b';
   }
   
   .d-queue-solid:before {
    content: '\ec7c';
   }
   
   .d-queue:before {
    content: '\ec7d';
   }
   
   .d-radar:before {
    content: '\ec7e';
   }
   
   .d-react:before {
    content: '\ec7f';
   }
   
   .d-rearrange-solid:before {
    content: '\ec80';
   }
   
   .d-rearrange:before {
    content: '\ec81';
   }
   
   .d-refresh-setting-solid:before {
    content: '\ec82';
   }
   
   .d-refresh-setting:before {
    content: '\ec83';
   }
   
   .d-refresh-solid:before {
    content: '\ec84';
   }
   
   .d-refresh:before {
    content: '\ec85';
   }
   
   .d-reroute-solid:before {
    content: '\ec86';
   }
   
   .d-reroute:before {
    content: '\ec87';
   }
   
   .d-rewind-circle-solid:before {
    content: '\ec88';
   }
   
   .d-rewind-circle:before {
    content: '\ec89';
   }
   
   .d-rotate-left-solid:before {
    content: '\ec8a';
   }
   
   .d-rotate-left:before {
    content: '\ec8b';
   }
   
   .d-rotate-right-solid:before {
    content: '\ec8c';
   }
   
   .d-rotate-right:before {
    content: '\ec8d';
   }
   
   .d-rss-feed-solid:before {
    content: '\ec8e';
   }
   
   .d-rss-feed:before {
    content: '\ec8f';
   }
   
   .d-save-solid:before {
    content: '\ec90';
   }
   
   .d-save:before {
    content: '\ec91';
   }
   
   .d-scale-expand-solid:before {
    content: '\ec92';
   }
   
   .d-scale-expand:before {
    content: '\ec93';
   }
   
   .d-scale-minimize-solid:before {
    content: '\ec94';
   }
   
   .d-scale-minimize:before {
    content: '\ec95';
   }
   
   .d-screwdriver:before {
    content: '\ec96';
   }
   
   .d-search-solid:before {
    content: '\ec97';
   }
   
   .d-search:before {
    content: '\ec98';
   }
   
   .d-security-priority-solid:before {
    content: '\ec99';
   }
   
   .d-security-priority:before {
    content: '\ec9a';
   }
   
   .d-security-shield-solid:before {
    content: '\ec9b';
   }
   
   .d-security-shield:before {
    content: '\ec9c';
   }
   
   .d-security-verified-solid:before {
    content: '\ec9d';
   }
   
   .d-security-verified:before {
    content: '\ec9e';
   }
   
   .d-send-solid:before {
    content: '\ec9f';
   }
   
   .d-send:before {
    content: '\eca0';
   }
   
   .d-service-error-solid:before {
    content: '\eca1';
   }
   
   .d-service-error:before {
    content: '\eca2';
   }
   
   .d-service-setting-solid:before {
    content: '\eca3';
   }
   
   .d-service-setting:before {
    content: '\eca4';
   }
   
   .d-setting-solid:before {
    content: '\eca5';
   }
   
   .d-setting:before {
    content: '\eca6';
   }
   
   .d-share-arrow-solid:before {
    content: '\eca7';
   }
   
   .d-share-arrow:before {
    content: '\eca8';
   }
   
   .d-share-solid:before {
    content: '\eca9';
   }
   
   .d-share:before {
    content: '\ecaa';
   }
   
   .d-shuffle-data-model-solid:before {
    content: '\ecab';
   }
   
   .d-shuffle-data-model:before {
    content: '\ecac';
   }
   
   .d-skip-solid:before {
    content: '\ecad';
   }
   
   .d-skip:before {
    content: '\ecae';
   }
   
   .d-slack:before {
    content: '\ecaf';
   }
   
   .d-snowflake-solid:before {
    content: '\ecb0';
   }
   
   .d-snowflake:before {
    content: '\ecb1';
   }
   
   .d-split-solid:before {
    content: '\ecb2';
   }
   
   .d-split:before {
    content: '\ecb3';
   }
   
   .d-spring-solid:before {
    content: '\ecb4';
   }
   
   .d-spring:before {
    content: '\ecb5';
   }
   
   .d-star-solid:before {
    content: '\ecb6';
   }
   
   .d-star:before {
    content: '\ecb7';
   }
   
   .d-stop-circle-solid:before {
    content: '\ecb8';
   }
   
   .d-stop-circle:before {
    content: '\ecb9';
   }
   
   .d-stop-urgent-solid:before {
    content: '\ecba';
   }
   
   .d-stop-urgent:before {
    content: '\ecbb';
   }
   
   .d-stop-warning-solid:before {
    content: '\ecbc';
   }
   
   .d-stop-warning:before {
    content: '\ecbd';
   }
   
   .d-subdirectory-left-solid:before {
    content: '\ecbe';
   }
   
   .d-subdirectory-left:before {
    content: '\ecbf';
   }
   
   .d-subdirectory-right-solid:before {
    content: '\ecc0';
   }
   
   .d-subdirectory-right:before {
    content: '\ecc1';
   }
   
   .d-sun-solid:before {
    content: '\ecc2';
   }
   
   .d-sun:before {
    content: '\ecc3';
   }
   
   .d-swap-horizontal-circle-solid:before {
    content: '\ecc4';
   }
   
   .d-swap-horizontal-circle:before {
    content: '\ecc5';
   }
   
   .d-swap-horizontal-solid:before {
    content: '\ecc6';
   }
   
   .d-swap-horizontal:before {
    content: '\ecc7';
   }
   
   .d-swap-vertical-circle-solid:before {
    content: '\ecc8';
   }
   
   .d-swap-vertical-circle:before {
    content: '\ecc9';
   }
   
   .d-swap-vertical-solid:before {
    content: '\ecca';
   }
   
   .d-swap-vertical:before {
    content: '\eccb';
   }
   
   .d-sync-error-solid:before {
    content: '\eccc';
   }
   
   .d-sync-error:before {
    content: '\eccd';
   }
   
   .d-sync-solid:before {
    content: '\ecce';
   }
   
   .d-sync:before {
    content: '\eccf';
   }
   
   .d-table-solid:before {
    content: '\ecd0';
   }
   
   .d-table:before {
    content: '\ecd1';
   }
   
   .d-tag-solid:before {
    content: '\ecd2';
   }
   
   .d-tag:before {
    content: '\ecd3';
   }
   
   .d-target-solid:before {
    content: '\ecd4';
   }
   
   .d-target:before {
    content: '\ecd5';
   }
   
   .d-text-center-solid:before {
    content: '\ecd6';
   }
   
   .d-text-center:before {
    content: '\ecd7';
   }
   
   .d-text-justify-solid:before {
    content: '\ecd8';
   }
   
   .d-text-justify:before {
    content: '\ecd9';
   }
   
   .d-text-left-solid:before {
    content: '\ecda';
   }
   
   .d-text-left:before {
    content: '\ecdb';
   }
   
   .d-text-right-solid:before {
    content: '\ecdc';
   }
   
   .d-text-right:before {
    content: '\ecdd';
   }
   
   .d-thermometer-solid:before {
    content: '\ecde';
   }
   
   .d-thermometer:before {
    content: '\ecdf';
   }
   
   .d-thumbs-down-solid:before {
    content: '\ece0';
   }
   
   .d-thumbs-down:before {
    content: '\ece1';
   }
   
   .d-thumbs-up-solid:before {
    content: '\ece2';
   }
   
   .d-thumbs-up:before {
    content: '\ece3';
   }
   
   .d-time-alarm-add-solid:before {
    content: '\ece4';
   }
   
   .d-time-alarm-add:before {
    content: '\ece5';
   }
   
   .d-time-alarm-off-solid:before {
    content: '\ece6';
   }
   
   .d-time-alarm-off:before {
    content: '\ece7';
   }
   
   .d-time-alarm-on-solid:before {
    content: '\ece8';
   }
   
   .d-time-alarm-on:before {
    content: '\ece9';
   }
   
   .d-time-alarm-snooze-solid:before {
    content: '\ecea';
   }
   
   .d-time-alarm-snooze:before {
    content: '\eceb';
   }
   
   .d-time-alarm-solid:before {
    content: '\ecec';
   }
   
   .d-time-alarm:before {
    content: '\eced';
   }
   
   .d-time-history-solid:before {
    content: '\ecee';
   }
   
   .d-time-history:before {
    content: '\ecef';
   }
   
   .d-time-solid:before {
    content: '\ecf0';
   }
   
   .d-time-update-solid:before {
    content: '\ecf1';
   }
   
   .d-time-update:before {
    content: '\ecf2';
   }
   
   .d-time:before {
    content: '\ecf3';
   }
   
   .d-timer-solid:before {
    content: '\ecf4';
   }
   
   .d-timer:before {
    content: '\ecf5';
   }
   
   .d-tools-solid:before {
    content: '\ecf6';
   }
   
   .d-tools:before {
    content: '\ecf7';
   }
   
   .d-transfer-solid:before {
    content: '\ecf8';
   }
   
   .d-transfer:before {
    content: '\ecf9';
   }
   
   .d-translate-solid:before {
    content: '\ecfa';
   }
   
   .d-translate:before {
    content: '\ecfb';
   }
   
   .d-trash-disable-solid:before {
    content: '\ecfc';
   }
   
   .d-trash-disable:before {
    content: '\ecfd';
   }
   
   .d-trash-solid:before {
    content: '\ecfe';
   }
   
   .d-trash:before {
    content: '\ecff';
   }
   
   .d-tumblr:before {
    content: '\ed00';
   }
   
   .d-tv-solid:before {
    content: '\ed01';
   }
   
   .d-tv:before {
    content: '\ed02';
   }
   
   .d-twitter:before {
    content: '\ed03';
   }
   
   .d-unarchive-solid:before {
    content: '\ed04';
   }
   
   .d-unarchive:before {
    content: '\ed05';
   }
   
   .d-ungroup-solid:before {
    content: '\ed06';
   }
   
   .d-ungroup:before {
    content: '\ed07';
   }
   
   .d-upload-solid:before {
    content: '\ed08';
   }
   
   .d-upload:before {
    content: '\ed09';
   }
   
   .d-urgent-solid:before {
    content: '\ed0a';
   }
   
   .d-urgent:before {
    content: '\ed0b';
   }
   
   .d-user-add-solid:before {
    content: '\ed0c';
   }
   
   .d-user-add:before {
    content: '\ed0d';
   }
   
   .d-user-admin-network-solid:before {
    content: '\ed0e';
   }
   
   .d-user-admin-network:before {
    content: '\ed0f';
   }
   
   .d-user-canonical-solid:before {
    content: '\ed10';
   }
   
   .d-user-canonical:before {
    content: '\ed11';
   }
   
   .d-user-group-solid:before {
    content: '\ed12';
   }
   
   .d-user-group:before {
    content: '\ed13';
   }
   
   .d-user-id-solid:before {
    content: '\ed14';
   }
   
   .d-user-id:before {
    content: '\ed15';
   }
   
   .d-user-location-solid:before {
    content: '\ed16';
   }
   
   .d-user-location:before {
    content: '\ed17';
   }
   
   .d-user-minus-solid:before {
    content: '\ed18';
   }
   
   .d-user-minus:before {
    content: '\ed19';
   }
   
   .d-user-org-chart-solid:before {
    content: '\ed1a';
   }
   
   .d-user-org-chart:before {
    content: '\ed1b';
   }
   
   .d-user-profile-circle-solid:before {
    content: '\ed1c';
   }
   
   .d-user-profile-circle:before {
    content: '\ed1d';
   }
   
   .d-user-secure-solid:before {
    content: '\ed1e';
   }
   
   .d-user-secure:before {
    content: '\ed1f';
   }
   
   .d-user-single-solid:before {
    content: '\ed20';
   }
   
   .d-user-single:before {
    content: '\ed21';
   }
   
   .d-value-average-solid:before {
    content: '\ed22';
   }
   
   .d-value-average:before {
    content: '\ed23';
   }
   
   .d-value-maximum-solid:before {
    content: '\ed24';
   }
   
   .d-value-maximum:before {
    content: '\ed25';
   }
   
   .d-value-minimum-solid:before {
    content: '\ed26';
   }
   
   .d-value-minimum:before {
    content: '\ed27';
   }
   
   .d-value-sum-solid:before {
    content: '\ed28';
   }
   
   .d-value-sum:before {
    content: '\ed29';
   }
   
   .d-verizon-check:before {
    content: '\ed2a';
   }
   
   .d-vespa:before {
    content: '\ed2b';
   }
   
   .d-video-solid:before {
    content: '\ed2c';
   }
   
   .d-video:before {
    content: '\ed2d';
   }
   
   .d-virtual-machine-solid:before {
    content: '\ed2e';
   }
   
   .d-virtual-machine:before {
    content: '\ed2f';
   }
   
   .d-volume-down-solid:before {
    content: '\ed30';
   }
   
   .d-volume-down:before {
    content: '\ed31';
   }
   
   .d-volume-mute-solid:before {
    content: '\ed32';
   }
   
   .d-volume-mute:before {
    content: '\ed33';
   }
   
   .d-volume-off-solid:before {
    content: '\ed34';
   }
   
   .d-volume-off:before {
    content: '\ed35';
   }
   
   .d-volume-up-solid:before {
    content: '\ed36';
   }
   
   .d-volume-up:before {
    content: '\ed37';
   }
   
   .d-wallet-solid:before {
    content: '\ed38';
   }
   
   .d-wallet:before {
    content: '\ed39';
   }
   
   .d-warning-solid:before {
    content: '\ed3a';
   }
   
   .d-warning:before {
    content: '\ed3b';
   }
   
   .d-wifi-disable-solid:before {
    content: '\ed3c';
   }
   
   .d-wifi-disable:before {
    content: '\ed3d';
   }
   
   .d-wifi-error-solid:before {
    content: '\ed3e';
   }
   
   .d-wifi-error:before {
    content: '\ed3f';
   }
   
   .d-wifi-solid:before {
    content: '\ed40';
   }
   
   .d-wifi:before {
    content: '\ed41';
   }
   
   .d-women-solid:before {
    content: '\ed42';
   }
   
   .d-women:before {
    content: '\ed43';
   }
   
   .d-yahoo-open-source:before {
    content: '\ed44';
   }
   
   .d-yamas:before {
    content: '\ed45';
   }
   
   .d-youtube:before {
    content: '\ed46';
   }
   
   .d-zoom-in-solid:before {
    content: '\ed47';
   }
   
   .d-zoom-in:before {
    content: '\ed48';
   }
   
   .d-zoom-out-solid:before {
    content: '\ed49';
   }
   
   .d-zoom-out:before {
    content: '\ed4a';
   }