/** 
COMMON STYLES FOR WIDGET CONFIG PANELS
**/

// NOTE: These styles cover ALL of the widget config panels generic classes.
// TODO: Describe how this is setup & why there are two mixins (at a minimum)
@mixin widget-config-common-base() {

    $action-bar-height: 30px;
    $flex-gap: 10px;
  
    // ** Config tab CONTENT ** //
    .widget-config-tab {
        // possibly re-usable within a widget-config-tab
        .config-toolbar {
            height: auto;
            padding: 0;
    
            .mat-stroked-button,
            .mat-raised-button,
            .mat-button {
                font-size: 12px;
                line-height: 24px;
    
                .mat-icon {
                    width: 18px;
                    height: 18px;
                    line-height: 18px;
                    font-size: 16px;
                }
    
                &.has-icon {
                    padding-left: 8px;
                }
            }
        }

        // should be on an element that wraps a form element, like a <p> tag
        .config-control {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }

        // columns
        &.has-columns {
            display: flex;
            padding: $flex-gap/2;

            .column {
                margin: $flex-gap/2;
                flex: 1 1 calc(100% - #{$flex-gap});
                // debugging
                //background-color: rgba(255,255,255,.15);
            }

            //.column:not(:last-child) {}

        }

        // specific tab overrides are in their own component style sheet
       
    }
}

@mixin widget-config-common-theme($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark-theme: map-get($theme-config, is-dark);

    // ** Config tab CONTENT ** //
    .widget-config-tab {
    
        // possibly re-usable within a widget-config-tab
        .config-toolbar,
        .query-item-toolbar {
            background: transparent;
        }

        .query-item:not(:last-child) {
            border-bottom: 1px solid map-get($foreground, dividers);
        }

        // specific tab overrides are in their own component style sheet
    }
}
