/* WIDGET CONFIG COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)

@mixin widget-config-visual-appearance-big-number-component-base() {

    .container {
        display: flex;
        flex-direction: row;
    }

    // .selector-container {
    //     display: flex;
    //     flex-direction: column;
    // }

    .text-container {
        display: flex;
        flex-direction: column;   
    }

    .text-container > div
        {
        margin-bottom:10px;
        margin-left:10px;
        margin-right:10px;    
    }

    .widget-config-tab.visual-appearance-configuration {
        // style rules here
    }    
}

@mixin widget-config-visual-appearance-big-number-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);

    // .widget-config-tab.visual-appearance-configuration {
        .is-selected {
            background-color: map-get($accent, default);
        }
    // } 
}