<div class="container">

    <div class="labels-container" *ngIf="selectedMetric">
        <div class="text-title"> Labels </div>

        <div class="prefix-container"> 
            <span class="label-label">Prefix</span>
            <form>
                <mat-form-field floatLabel="never">
                    <input matInput #prefixBox placeholder="Enter Prefix" value="{{selectedMetric.configuration.bigNum.prefix}}" (keyup)="KeyedOnPrefixInputBox(prefixBox.value)">
                </mat-form-field>
            </form>
            <mat-button-toggle-group #prefixSizeGroup="matButtonToggleGroup" [value]="selectedMetric.configuration.bigNum.prefixSize" (change)="selectedPrefixSize(prefixSizeGroup.value)">
                <mat-button-toggle value="s">sm</mat-button-toggle>
                <mat-button-toggle value="m">md</mat-button-toggle>
                <mat-button-toggle value="l">lg</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group #prefixAlignmentGroup="matButtonToggleGroup" [value]="selectedMetric.configuration.bigNum.prefixAlignment" (change)="selectedPrefixAlignment(prefixAlignmentGroup.value)">
                <mat-button-toggle value="bottom">b</mat-button-toggle>
                <mat-button-toggle value="middle">m</mat-button-toggle>
                <mat-button-toggle value="top">t</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    
        <div class="postfix-container"> 
            <span class="label-label">Postfix</span>
            <form>
                <mat-form-field floatLabel="never">
                    <input matInput #postfixBox placeholder="Enter Postfix" value="{{selectedMetric.configuration.bigNum.postfix}}" (keyup)="KeyedOnPostfixInputBox(postfixBox.value)">
                </mat-form-field>
            </form>
            <mat-button-toggle-group #postfixSizeGroup="matButtonToggleGroup" [value]="selectedMetric.configuration.bigNum.postfixSize" (change)="selectedPostfixSize(postfixSizeGroup.value)">
                <mat-button-toggle value="s">sm</mat-button-toggle>
                <mat-button-toggle value="m">md</mat-button-toggle>
                <mat-button-toggle value="l">lg</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group #postfixAlignmentGroup="matButtonToggleGroup" [value]="selectedMetric.configuration.bigNum.postfixAlignment" (change)="selectedPostfixAlignment(postfixAlignmentGroup.value)">
                <mat-button-toggle value="bottom">b</mat-button-toggle>
                <mat-button-toggle value="middle">m</mat-button-toggle>
                <mat-button-toggle value="top">t</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    
        <div class="unit-container"> 
            <span class="label-label">Unit</span>
            <form>
                <mat-form-field floatLabel="never">
                    <input matInput #unitBox placeholder="Enter Unit" [matMenuTriggerFor]="menu" value="{{selectedMetric.configuration.bigNum.unit}}" >
                </mat-form-field>
            </form>

            <mat-menu #menu="matMenu" (close)="onMenuClosed()">
                <button mat-menu-item [matMenuTriggerFor]="time">Time</button>
                <button mat-menu-item [matMenuTriggerFor]="binaryData">Data (Binary)</button>
                <button mat-menu-item [matMenuTriggerFor]="decimalData">Data (Decimal)</button>
                <button mat-menu-item [matMenuTriggerFor]="dataRate">Data Rate</button>
                <button mat-menu-item [matMenuTriggerFor]="throughput">Throughput</button>
                <button mat-menu-item [matMenuTriggerFor]="currency">Currency</button>
                <button mat-menu-item (click)="KeyedOnUnitInputBox('auto')">
                    Auto
                </button>
                <mat-menu #time="matMenu">
                        <button mat-menu-item *ngFor="let unit of timeUnits" (click)="KeyedOnUnitInputBox(unit)">
                            {{unit}}
                        </button>
                </mat-menu>
                <mat-menu #binaryData="matMenu">
                        <button mat-menu-item *ngFor="let unit of binaryDataUnits" (click)="KeyedOnUnitInputBox(unit)">
                            {{unit}}
                        </button>
                </mat-menu>
                <mat-menu #decimalData="matMenu">
                        <button mat-menu-item *ngFor="let unit of decimalDataUnits" (click)="KeyedOnUnitInputBox(unit)">
                            {{unit}}
                        </button>
                </mat-menu>
                <mat-menu #dataRate="matMenu">
                        <button mat-menu-item *ngFor="let unit of dataRateUnits" (click)="KeyedOnUnitInputBox(unit)">
                            {{unit}}
                        </button>
                </mat-menu>
                <mat-menu #throughput="matMenu">
                        <button mat-menu-item *ngFor="let unit of throughputUnits" (click)="KeyedOnUnitInputBox(unit)">
                            {{unit}}
                        </button>
                </mat-menu>
                <mat-menu #currency="matMenu">
                        <button mat-menu-item *ngFor="let unit of currencyUnits" (click)="KeyedOnUnitInputBox(unit)">
                            {{unit}}
                        </button>
                </mat-menu>

                <div (click)="stopPropagation($event)" mat-menu-item>
                    <input matInput #customUnit id="custom-unit" placeholder="Custom Unit" (keyup)="KeyedOnUnitInputBox(customUnit.value)">
                </div>
            </mat-menu>

            <mat-button-toggle-group #unitSizeGroup="matButtonToggleGroup" [value]="selectedMetric.configuration.bigNum.unitSize" (change)="selectedUnitSize(unitSizeGroup.value)">
                <mat-button-toggle value="s">sm</mat-button-toggle>
                <mat-button-toggle value="m">md</mat-button-toggle>
                <mat-button-toggle value="l">lg</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group #unitAlignmentGroup="matButtonToggleGroup" [value]="selectedMetric.configuration.bigNum.unitAlignment" (change)="selectedUnitAlignment(unitAlignmentGroup.value)">
                <mat-button-toggle value="bottom">b</mat-button-toggle>
                <mat-button-toggle value="middle">m</mat-button-toggle>
                <mat-button-toggle value="top">t</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        
        <div class="caption-container">
            <span class="label-label">Caption</span> 
            <form>
                <mat-form-field floatLabel="never">
                    <input matInput #captionBox placeholder="Enter Caption" value="{{selectedMetric.configuration.bigNum.caption}}" (keyup)="KeyedOnCaptionInputBox(captionBox.value)">
                </mat-form-field>
            </form>
            <mat-button-toggle-group #captionGroup="matButtonToggleGroup" [value]="selectedMetric.configuration.bigNum.captionSize" (change)="selectedCaptionSize(captionGroup.value)">
                <mat-button-toggle value="s">sm</mat-button-toggle>
                <mat-button-toggle value="m">md</mat-button-toggle>
                <mat-button-toggle value="l">lg</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div class="precision-container">
            <span class="label-label">Precision</span> 
            <form>
                <mat-form-field floatLabel="never">
                    <input matInput #precisionBox placeholder="Enter Precision" [value]="selectedMetric.configuration.bigNum.precision" (keyup)="KeyedOnPrecisionInputBox(precisionBox.value)">
                </mat-form-field>
            </form>
        </div>

    </div>

    <div class="color-container" *ngIf="selectedMetric">
        <div class="text-title"> Color Family </div>
        <div class="color-picker-container">
            <mat-button-toggle-group #colorGroup="matButtonToggleGroup" [value]="colorType" (change)="selectedColorType(colorGroup.value)">
                <mat-button-toggle value="text">Text</mat-button-toggle>    
                <mat-button-toggle value="background">Background</mat-button-toggle>
            </mat-button-toggle-group>
            <div>
                <color-picker [overlay]="'false'" (change)="colorChanged($event)" [selectedColor]="colorType == 'text' ? selectedMetric.configuration.bigNum.textColor : selectedMetric.configuration.bigNum.backgroundColor"></color-picker>
            </div>
        </div>
    </div>

    <div class="options-container" *ngIf="selectedMetric">
        <div class="text-title"> Options </div>
        <div>
                <!-- formControlName="sparkline" -->
            <mat-slide-toggle><span class="mat-caption">Sparkline</span></mat-slide-toggle>
        </div>
        <div>
                <!-- formControlName="changeIndicator" -->
            <mat-slide-toggle><span class="mat-caption">Change Indicator</span></mat-slide-toggle>
        </div>
    </div>
</div>

