/* WIDGET CONFIG COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)

@mixin widget-config-visual-appearance-big-number-component-base() {

    .visual-appearance-configuration-big-number {
        margin-left: 0px;

        .container {
            display: flex;
            flex-direction: row;
        }
    
        .query-side-panel {
            width: 250px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            .mat-button {
                border-left: 3px solid transparent;
            }
            
        }

        .query-side-panel-title {
            font-weight: bold;
            padding: 20px;
            // padding-left: 5px;
        }

        .text-title {
            font-weight: bold;
        }

        .text-container {
            
    
            .mat-form-field {
                width: 200px;
            }
            
            form {
                display: inline-block;
            }
    
            .mat-input-element {
                padding: 7px;
            }

            label {
                &.mat-form-field-label {
                    padding-top: 10px;
                    padding-left: 10px;
                }
            }

            mat-button-toggle-group {
                top: -7px;
                box-shadow: none;
                padding: 2px;
            }

            mat-button-toggle {
                width: 30px;
            }

            .mat-button-toggle-button {
                width: 30px;
            }

            .mat-button-toggle-label-content {
                line-height: 25px;
                padding-left: 5px;
                padding-right: 5px;
            }

            //Disable Placeholder
            .mat-form-field-infix {
                border-top: 0 solid transparent !important;
            }
            .mat-form-field-wrapper {
                padding-bottom: 0 !important;
            }
            .mat-form-field-underline {
                bottom: 0 !important;
            }
        }    
    
        .text-container {
            display: flex;
            flex-direction: column;   
        }
    
        .text-container > div
            {
            margin-bottom:10px;
            margin-left:10px;
            margin-right:10px;    
        }

        .color-container {

            mat-button-toggle-group {
                box-shadow: none;
            }
            .card {
                &.cp{
                    padding-left: 12px;
                    background: transparent;
                }
            }
        }
    }
}

@mixin widget-config-visual-appearance-big-number-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $chip-bg: rgba(map-get($primary, default), .1);

    .visual-appearance-configuration-big-number {
        .query-side-panel {
            background-color: $chip-bg;
        }
    
        .is-selected {
            // background-color: map-get($background, background);
            background-color: white;
            border-left: 3px solid #18BDED;
        }

        .text-container {
            .mat-form-field-underline {
                background-color: transparent;
            }
            .mat-input-element {
                background-color: $chip-bg;
            }
            mat-button-toggle-group {
                background-color: $chip-bg;
                border-left: 1px solid lightgrey;
            }

            .mat-button-toggle {
                // border-bottom: 2px solid  transparent;
                background-color: transparent;
                color: #18BDED;
                // box-shadow: none;
            }

            .mat-button-toggle-checked {
                // border-bottom: 2px solid  #18BDED;
                color: darkgray;
                background: white;
            }
        }

        .color-container {
            .mat-button-toggle {
                border-bottom: 2px solid  transparent;
                background-color: transparent;
                color: #18BDED;
                box-shadow: none;
            }

            .mat-button-toggle-checked {
                border-bottom: 2px solid  #18BDED;
                color: darkgray;
            }

            .color-picker-container {
                border: 1px solid lightgrey;
            }

            .card {
                border-top: none;
            }
        }
    }
}