
<div class="container">
    <div>
        Select a query
        <div *ngFor="let metric of widget">
            <button mat-button [ngClass]="{'is-selected': metric == selectedMetric}" (click)="setSelectedMetric(metric)"> {{metric.metric}} </button>
        </div>
    </div>

    <div class="text-container" *ngIf="selectedMetric">
        <div class="prefix-container"> 
            <div> Prefix </div>
            <form>
                <mat-form-field >
                    <input matInput #prefixBox value="{{selectedMetric.configuration.bigNum.prefix}}" (keyup)="KeyedOnPrefixInputBox(prefixBox.value)">
                </mat-form-field>
            </form>
            <mat-button-toggle-group #prefixGroup="matButtonToggleGroup" [value]="selectedMetric.configuration.bigNum.prefixSize" (change)="selectedPrefixSize(prefixGroup.value)">
                <mat-button-toggle value="s">sm</mat-button-toggle>
                <mat-button-toggle value="m">md</mat-button-toggle>
                <mat-button-toggle value="l">lg</mat-button-toggle>
                <mat-button-toggle value="xl">xl</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    
        <div class="postfix-container"> 
            <div> Postfix </div>
            <form>
                <mat-form-field >
                    <input matInput #postfixBox value="{{selectedMetric.configuration.bigNum.postfix}}" (keyup)="KeyedOnPostfixInputBox(postfixBox.value)">
                </mat-form-field>
            </form>
            <mat-button-toggle-group #postfixGroup="matButtonToggleGroup" [value]="selectedMetric.configuration.bigNum.postfixSize" (change)="selectedPostfixSize(postfixGroup.value)">
                <mat-button-toggle value="s">sm</mat-button-toggle>
                <mat-button-toggle value="m">md</mat-button-toggle>
                <mat-button-toggle value="l">lg</mat-button-toggle>
                <mat-button-toggle value="xl">xl</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    
        <div class="caption-container">
            <div> Caption </div> 
            <form>
                <mat-form-field >
                    <input matInput #captionBox value="{{selectedMetric.configuration.bigNum.caption}}" (keyup)="KeyedOnCaptionInputBox(captionBox.value)">
                </mat-form-field>
            </form>
            <mat-button-toggle-group #captionGroup="matButtonToggleGroup" [value]="selectedMetric.configuration.bigNum.captionSize" (change)="selectedCaptionSize(captionGroup.value)">
                <mat-button-toggle value="s">sm</mat-button-toggle>
                <mat-button-toggle value="m">md</mat-button-toggle>
                <mat-button-toggle value="l">lg</mat-button-toggle>
                <mat-button-toggle value="xl">xl</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>

    <div class="color-container" *ngIf="selectedMetric">
        <mat-button-toggle-group #colorGroup="matButtonToggleGroup" [value]="colorType" (change)="selectedColorType(colorGroup.value)">
            <mat-button-toggle value="background">Background</mat-button-toggle>
            <mat-button-toggle value="text">Text</mat-button-toggle>
        </mat-button-toggle-group>
        <div>
            <color-picker [overlay]="'false'" (change)="colorChanged($event)" [selectedColor]="colorType == 'text' ? selectedMetric.configuration.bigNum.textColor : selectedMetric.configuration.bigNum.backgroundColor"></color-picker>
        </div>
    </div>
</div>




