
<div *ngIf="allowEventToggling">
    <mat-slide-toggle 
    [checked]="widget.settings.visual.showEvents" 
    (change)="showEventsChanged($event.checked)">
    <span *ngIf="widget.settings.visual.showEvents">
      Events Enabled
    </span>
    <span *ngIf="!widget.settings.visual.showEvents">
      Events Disabled
    </span>
  </mat-slide-toggle>
</div>

<div>
    <b>Namespace: </b> 
    <namespace-autocomplete [value]="widget.eventQueries[0].namespace" (nschange)="saveNamespace($event)" (blur)="cancelSaveNamespace($event)"></namespace-autocomplete>
</div>

<div>
    <b>Search: </b> 
    <textarea matInput placeholder="ex: priority:high AND title: my event" [value]="widget.eventQueries[0].search" (keyup)="eventQueryChanged($event.target.value)" [cdkTextareaAutosize]="false"></textarea>
</div>