@mixin bignumber-widget-component-base() {
    $default-padding: map-get($widgets-common-config, default-padding);
    $edit-view-padding: map-get($widgets-common-config, edit-padding);
    $tab-width: map-get($widgets-common-config, tab-width);
    $action-bar-height: map-get($widgets-common-config, action-bar-height);

    .widget-panel-content.bignumber-widget { 
       
        text-align: center;

        .widget-output-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .big-number {
            font-size: 96px;
        }

        .number-container {

        }

        .metric-name {

        }

        .small-size {
            font-size: 12px;
        }

        .medium-size {
            font-size: 18px;
        }

        .large-size {
            font-size: 36px;
        }

        .xlarge-size {
            font-size: 96px;
        }

        .white-text {
            color: white;
        }
    }

    // when we are in edit view
    // .edit-view-container.is-active { 
    //    .widget-panel-content.bignumber-widget { }
    // }
}

@mixin bignumber-widget-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);

    // .widget-panel-content.bignumber-widget { }

}