@mixin bignumber-widget-component-base() {
    $default-padding: map-get($widgets-common-config, default-padding);
    $edit-view-padding: map-get($widgets-common-config, edit-padding);
    $tab-width: map-get($widgets-common-config, tab-width);
    $action-bar-height: map-get($widgets-common-config, action-bar-height);

    #main-container {
        max-height: none;
    }

    bignumber-widget {
        height: 100%;

        .widget-output-container {
            height: 100%;

            .widget-container {
                height: 100%;

                .big-number-container {
                    height: 100%;
                    min-width: 0px;

                    .metric-container {
                        height:  -webkit-calc(100% - 20px);

                        .number-container {
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    .widget-panel-content.bignumber-widget { 

        .widget-container {
            text-align: center;
            display: grid;
            grid-gap: 0px;
            flex-basis: 0;
            flex-grow: 1;
        }

        .one-item {
            grid-template-columns: auto;
        }

        .two-items {
            grid-template-columns: auto auto;
        }

        .three-items {
            grid-template-columns: auto auto auto;
        }

        .four-items {
            grid-template-columns: auto auto;
        }

        .big-number-container {
            min-width: 400px;
        }

        .big-number {
            font-size: 4em;
            padding-left: 5px;
            padding-right: 5px;
        }

        .number-container {
            padding-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .metric-name {
            height: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .small-size {
            font-size: 1em;
        }

        .medium-size {
            font-size: 2em;
        }

        .large-size {
            font-size: 3em;
        }

        .xlarge-size {
            font-size: 4em;
        }

        .caption {
            padding-top: 20px;
        }
    }

    // when we are in edit view
    // .edit-view-container.is-active { 
    //    .widget-panel-content.bignumber-widget { }
    // }
}

@mixin bignumber-widget-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);

    // .widget-panel-content.bignumber-widget { }

}