<div class="widget-output-container" fxLayout="column" #testing id="main-container">
    <div class="widget-title" *ngIf="editMode" fxLayout="row" fxFlex="1 1 30px">
        <span fxFlex="1 1 100%">{{widget.config.title}}</span>
        <span>
            <button mat-button color="primary" class="close-edit-view-btn" (click)="closeViewEditMode()">
                <mat-icon fontSet="denali" fontIcon="d-close"></mat-icon>
            </button>
        </span>
    </div>

    <div class="widget-container" 
        [ngClass]="{
            'one-item': fakeMetrics.length == 1, 
            'two-items': fakeMetrics.length == 2, 
            'three-items': fakeMetrics.length == 3, 
            'four-items': fakeMetrics.length == 4
           }">
        <div *ngFor="let metric of fakeMetrics" class="big-number-container">
            <div class="metric-container" [style.background]="metric.configuration.bigNum.backgroundColor">
                <div class="number-container" [style.color]="metric.configuration.bigNum.textColor">
                    <div class="number-wrapper normal-font-scale-col-1"
                        [style.font-size]="fontSizePercent">
                        <span [ngClass]="{
                            'xlarge-size': metric.configuration.bigNum.prefixSize=='xl', 
                            'large-size': metric.configuration.bigNum.prefixSize=='l', 
                            'medium-size': metric.configuration.bigNum.prefixSize=='m', 
                            'small-size': metric.configuration.bigNum.prefixSize=='s'
                        }">{{metric.configuration.bigNum.prefix}}</span>
                        <span class="big-number">{{kbn.preciseNumber(metric.configuration.bigNum.unit, metric.configuration.bigNum.bigNumber, metric.configuration.bigNum.precision)}}</span>
                        <span [ngClass]="{
                            'xlarge-size': metric.configuration.bigNum.postfixSize=='xl', 
                            'large-size': metric.configuration.bigNum.postfixSize=='l', 
                            'medium-size': metric.configuration.bigNum.postfixSize=='m', 
                            'small-size': metric.configuration.bigNum.postfixSize=='s'
                        }">{{metric.configuration.bigNum.postfix}}</span>
                        <div class="caption" [ngClass]="{
                            'xlarge-size': metric.configuration.bigNum.captionSize=='xl', 
                            'large-size': metric.configuration.bigNum.captionSize=='l', 
                            'medium-size': metric.configuration.bigNum.captionSize=='m', 
                            'small-size': metric.configuration.bigNum.captionSize=='s'
                        }">{{utils.tagMacro(metric,metric.configuration.bigNum.caption)}}</div>
                    </div>
                </div>
            </div>
            <div class="metric-name" [style.background]="metric.configuration.bigNum.backgroundColorTransparent">{{metric.configuration.bigNum.alias}}</div>
        </div>
    </div>
</div>

<!-- NOTE: This needs to move to other component -->
<div class="widget-controls-container" *ngIf="editMode">
        <!-- tabs with config content -->
        <mat-tab-group class="widget-configs" color="primary" [@.disabled]="'true'">
            <mat-tab label="Queries" class="test">
                <!-- ng-template is to lazy-load tab content (see: https://material.angular.io/components/tabs/overview#lazy-loading ) -->
                <ng-template matTabContent>
                    <widget-config-metric-queries [widget]="widget" [fakeMetrics]="fakeMetrics" [fakeGroups]="fakeGroups" [valueIterationOptions]="valueIterationOptions"></widget-config-metric-queries>
                </ng-template>
            </mat-tab>
            <mat-tab label="General">
                <ng-template matTabContent>
                    <widget-config-general [widget]="widget"></widget-config-general>
                </ng-template>
            </mat-tab>
            <mat-tab label="Time Configuration">
                <ng-template matTabContent>
                    <widget-config-time [widget]="widget"></widget-config-time>
                </ng-template>
            </mat-tab>
            <mat-tab label="Visual Appearance">
                <ng-template matTabContent>
                    <widget-config-visual-appearance-big-number [widget]="fakeMetrics"></widget-config-visual-appearance-big-number>
                </ng-template>
            </mat-tab>
           
            <mat-tab label="Legend">
                <ng-template matTabContent>
                    <widget-config-legend-big-number [widget]="widget"></widget-config-legend-big-number>
                </ng-template>
            </mat-tab>
             <!--
            <mat-tab label="Alerts">
                <ng-template matTabContent>
                    <widget-config-alerts [widget]="widget"></widget-config-alerts>
                </ng-template>
            </mat-tab> -->
     
            <mat-tab>
                <!-- custom tab label. (see: https://material.angular.io/components/tabs/overview#labels) -->
                <ng-template mat-tab-label>
                    &lt;/&gt; Query Editor
                </ng-template>
                <ng-template matTabContent>
                    <widget-config-query-inspector [widget]="widget"></widget-config-query-inspector>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
        <div class="widget-actions">
            <!-- controls to save/cancel -->
            <button mat-raised-button color="primary" class="mat-elevation-z0" (click)="closeViewEditMode()">Apply</button>
            <button mat-stroked-button color="primary" class="mat-elevation-z0">Cancel</button>
        </div>
    </div>
    