<div class="form-group sliding-window" >
    <div class="form-label vertical-center"><strong>Sliding Window</strong></div>
    <div class="form-control-wrap auto-width">
      Average the last 
      <time-selector [presets]="slidingWindowPresets"
        [maxSeconds]="maxSlidingWindow"
        [timeInSeconds]="config.singleMetric.slidingWindow"
        (newTimeInSeconds)="updateConfig('slidingWindow', $event)"></time-selector>
    </div>
</div>

<div class="form-group period">
    <div class="form-label vertical-center"><strong>Period</strong></div>
    <div class="form-control-wrap auto-width">
      <time-selector [presets]="periodPresets"
        [timeInSeconds]="config.singleMetric.period"
        (newTimeInSeconds)="updateConfig('period', $event)"> </time-selector>
    </div>
</div>

<div class="form-group look-backs" >
  <div class="form-label vertical-center"><strong>Number of Lookbacks</strong></div>
  <input type="number" matInput
    [value]="config.singleMetric.lookbacks"
    (change)="updateConfig('lookbacks', $event.target.value)">
</div>

<div class="form-group threshold" >
    <div class="form-label vertical-center"><strong>Upper threshold</strong></div>
    <span>
        Bad State <input type="number" matInput
                    [value]="config.singleMetric.badUpperThreshold"
                    (change)="updateConfig('badUpperThreshold', $event.target.value)">
    </span>
    <span>
        Warning State <input type="number" matInput
                        [value]="config.singleMetric.warnUpperThreshold"
                        (change)="updateConfig('warnUpperThreshold', $event.target.value)">
    </span>
</div>

<div class="form-group threshold" >
    <div class="form-label vertical-center"><strong>Lower threshold</strong></div>
    <span>
        Bad State <input type="number" matInput
                    [value]="config.singleMetric.badLowerThreshold"
                    (change)="updateConfig('badLowerThreshold', $event.target.value)">
    </span>
    <span>
        Warning State <input type="number" matInput
                      [value]="config.singleMetric.warnLowerThreshold"
                      (change)="updateConfig('warnLowerThreshold', $event.target.value)">
    </span>
</div>

<div class="show-advanced-threshold-toggle" [ngClass]="{'is-open': showThresholdAdvanced}">
    <div class="toggle-wrap">
        <a class="toggle-action" (click)="showThresholdAdvanced = !showThresholdAdvanced;">
            <mat-icon fontSet="denali" [fontIcon]="showThresholdAdvanced ? 'd-arrowhead-up' : 'd-arrowhead-down'"></mat-icon>
            <span>{{showThresholdAdvanced ? 'Hide' : 'Show'}} advanced options</span>
        </a>
    </div>

    <div class="form-group alert-nag-interval">
        <div class="form-label vertical-center"><strong>Outliers to remove</strong></div>
        <div class="outliers">
            <span>
              Highest <input type="number" matInput
                [value]="config.singleMetric.highestOutliersToRemove"
                (change)="updateConfig('highestOutliersToRemove', $event.target.value)">
            </span>
            <span>
              Lowest <input type="number" matInput
                [value]="config.singleMetric.lowestOutliersToRemove"
                (change)="updateConfig('lowestOutliersToRemove', $event.target.value)">
            </span>
        </div>
    </div>
    <div class="form-group delay-evaluation">
        <div class="form-label vertical-center"><strong>Delay evaluation by</strong></div>
        <mat-form-field appearance="fill" floatLabel="never">
            <input matInput type="number" onkeypress="return event.charCode >= 48" autocomplete="off" placeholder="Enter value"
            [value]="config.singleMetric.delayEvaluation"
            (change)="updateConfig('delayEvaluation', $event.target.value)">
        </mat-form-field>
        <mat-hint class="info-hint">mins</mat-hint>
    </div>
</div>
