<div class="form-group sliding-window" >
    <div class="form-label vertical-center"><strong>Sliding Window</strong></div>
    <div class="form-control-wrap auto-width">
      Average the last 
      <time-selector [presets]="slidingWindowPresets"
        [maxSeconds]="maxSlidingWindow"
        [timeInSeconds]="config.singleMetric.slidingWindow"
        (newTimeInSeconds)="updateConfig('slidingWindow', $event)"></time-selector>
    </div>
</div>

<div class="form-group period">
    <div class="form-label vertical-center"><strong>Period</strong></div>
    <div class="form-control-wrap auto-width">
      <time-selector [presets]="periodPresets"
        [timeInSeconds]="config.singleMetric.period"
        (newTimeInSeconds)="updateConfig('period', $event)"> </time-selector>
    </div>
</div>

<mat-error *ngIf="!slidingWindowLessThanPeriod()">
    Sliding window must be less than the period.
</mat-error>

<div class="form-group look-backs" >
  <div class="form-label vertical-center"><strong>Number of Lookbacks</strong></div>
  <input matInput 
    [formControl]="lookbacks"
    required
    type="number" min="1" max="10"
    [value]="config.singleMetric.lookbacks"
    (change)="updateConfig('lookbacks', $event.target.value)">
    <mat-error *ngIf="lookbacks.errors && (lookbacks.dirty || lookbacks.touched)">
        Number of lookbacks required. Min = 1, Max = 10.
    </mat-error>
</div>

<div class="form-group threshold" >
    <div class="form-label vertical-center"><strong>Upper threshold</strong></div>
    <span>
        Bad State <input matInput
                    [formControl]="badUpperThreshold"
                    type="number" min="0"
                    [value]="config.singleMetric.badUpperThreshold"
                    (change)="updateConfig('badUpperThreshold', $event.target.value)">
    </span>
    <mat-error *ngIf="badUpperThreshold.errors && (badUpperThreshold.dirty || badUpperThreshold.touched)">
        Bad threshold must be greater than Warn threshold and 0.
    </mat-error>

    <span>
        Warning State <input matInput
                        [formControl]="warnUpperThreshold"
                        type="number" min="0"
                        [value]="config.singleMetric.warnUpperThreshold"
                        (change)="updateConfig('warnUpperThreshold', $event.target.value)">
    </span>
    <mat-error *ngIf="warnUpperThreshold.errors && (warnUpperThreshold.dirty || warnUpperThreshold.touched)">
        Warn threshold must be less than Bad threshold and greater than 0.
    </mat-error>

    <span>
        <mat-button-toggle-group name="upperThresholdType"
            (change)="updateConfig('upperThresholdType', $event.value)"
            [value]="config.singleMetric.upperThresholdType">
            <mat-button-toggle value="value">Value</mat-button-toggle>
            <mat-button-toggle value="percent">Percent</mat-button-toggle>
        </mat-button-toggle-group>
    </span>
</div>

<div class="form-group threshold" >
    <div class="form-label vertical-center"><strong>Lower threshold</strong></div>
    <span>
        Bad State <input matInput
                    [formControl]="badLowerThreshold"
                    type="number" min="0"
                    [value]="config.singleMetric.badLowerThreshold"
                    (change)="updateConfig('badLowerThreshold', $event.target.value)">
    </span>
    <mat-error *ngIf="badLowerThreshold.errors && (badLowerThreshold.dirty || badLowerThreshold.touched)">
        Bad threshold must be greater than Warn threshold and 0.
    </mat-error>

    <span>
        Warning State <input matInput
                    [formControl]="warnLowerThreshold"
                    type="number" min="0"
                    [value]="config.singleMetric.warnLowerThreshold"
                    (change)="updateConfig('warnLowerThreshold', $event.target.value)">
    </span>
    <mat-error *ngIf="warnLowerThreshold.errors && (warnLowerThreshold.dirty || warnLowerThreshold.touched)">
        Warn threshold must be less than Bad threshold and greater than 0.
    </mat-error>

    <span>
        <mat-button-toggle-group name="lowerThresholdType"
            (change)="updateConfig('lowerThresholdType', $event.value)"
            [value]="config.singleMetric.lowerThresholdType">
            <mat-button-toggle value="value">Value</mat-button-toggle>
            <mat-button-toggle value="percent">Percent</mat-button-toggle>
        </mat-button-toggle-group>
    </span>
</div>

<mat-error *ngIf="!atleastOneThresholdSet()">
   Please select atleast 1 threshold.
</mat-error>

<div class="show-advanced-threshold-toggle" [ngClass]="{'is-open': showThresholdAdvanced}">
    <div class="toggle-wrap">
        <a class="toggle-action" (click)="showThresholdAdvanced = !showThresholdAdvanced;">
            <mat-icon fontSet="denali" [fontIcon]="showThresholdAdvanced ? 'd-arrowhead-up' : 'd-arrowhead-down'"></mat-icon>
            <span>{{showThresholdAdvanced ? 'Hide' : 'Show'}} advanced options</span>
        </a>
    </div>

    <div class="form-group alert-nag-interval">
        <div class="form-label vertical-center"><strong>Outliers to remove</strong></div>
        <div class="outliers">
            <span>
              Highest <input matInput
                [formControl]="highestOutliersToRemove"
                type="number" min="0"
                [value]="config.singleMetric.highestOutliersToRemove"
                (change)="updateConfig('highestOutliersToRemove', $event.target.value)">
            </span>
            <mat-error *ngIf="highestOutliersToRemove.errors">
                Total removed outliers must be less than number of lookbacks.
            </mat-error>
            
            <span>
              Lowest <input matInput
                [formControl]="lowestOutliersToRemove"
                type="number" min="0"
                [value]="config.singleMetric.lowestOutliersToRemove"
                (change)="updateConfig('lowestOutliersToRemove', $event.target.value)">
            </span>
            <mat-error *ngIf="lowestOutliersToRemove.errors">
                Total removed outliers must be less than number of lookbacks.
            </mat-error>
        </div>
    </div>
    <div class="form-group delay-evaluation">
        <div class="form-label vertical-center"><strong>Delay evaluation by</strong></div>
        <mat-form-field appearance="fill" floatLabel="never">
            <input matInput type="number" onkeypress="return event.charCode >= 48" autocomplete="off" placeholder="Enter value"
            [value]="config.singleMetric.delayEvaluation"
            (change)="updateConfig('delayEvaluation', $event.target.value)">
        </mat-form-field>
        <mat-hint class="info-hint">mins</mat-hint>
    </div>
</div>
