/* WIDGET CONFIG COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)

@mixin bignumber-config-metric-queries-component-base() {
    $default-padding: map-get($widgets-common-config, default-padding);
    $edit-padding: map-get($widgets-common-config, edit-padding);
    .widget-config-tab.bignumber-config-metric-queries-configuration {
        margin: 0;
        display: flex;
        flex-direction: column;

        // config specific toolbar overrides
        .config-toolbar.time-series-toolbar {
            padding: 0 $edit-padding 0 0;
            flex: 1 1 55px;
            align-items: stretch;
            justify-content: stretch;

            .mat-toolbar-row {
                height: 100%;
                align-items: inherit;
            }

            .toolbar-item.master-checkbox {
                margin-right: 3px;
            }
        }

        .flex-spacer {
            flex: 1 1 auto;
        }

        // config section that shows the selected metrics
        .query-metrics-section {
            @include has-scroller();
            flex: 1 1 100%;
            width: 100%;
            

            .query-metrics-wrap {
                width: 100%;

                @include is-scroller();
            }
            
        }

        // wrapper for the query metrics
        .query-metrics-wrap {
            padding: 0 $edit-padding 0 0;

            &,
            .mat-expansion-panel-header,
            .mat-toolbar {
                font-size: mat-font-size(map-get($app-fontface-config, sans), caption);
            }

            .mat-expansion-panel-header {
                flex-direction: row-reverse;
                padding: 0;

                // icon for the collapse icon direction
                .mat-icon.arrow-down {
                    display: none;
                }
                .mat-icon.arrow-right {
                    display: inline-flex;
                }
            }
    
            .mat-expansion-panel-header,
            .mat-expansion-panel-body {
                padding: 0;
            }

            // General toolbar items
            .toolbar-item {
                display: flex;
                align-items: top;
                justify-content: center;

                .mat-icon {
                    display: inline-flex;
                    align-items: top;
                    justify-content: center;
                }
            }

            .toolbar-action-icons,
            .action-icons {
                .mat-icon-button {
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                }

                .mat-icon {
                    font-size: 16px;
                }
            }

            // selector checkboxes for group level and metric level
            .group-selector,
            .metric-selector {
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
            }

            // group-level toolbar
            .group-item-toolbar {
                font-size: mat-font-size(map-get($app-fontface-config, sans), caption);
                height: auto;
                padding: 0;
                margin-left: 3px;
                padding: 0 $default-padding 0 0;

                .group-label {
                    .mat-icon {
                        font-size: 16px;
                        margin-right: 4px;
                    }
                }

                .add-query-actions {
                    margin-right: 20px;

                    .mat-icon {
                        font-size: 16px; 
                        margin-right: 2px;
                    }

                    .mat-button {
                        font-size: mat-font-size(map-get($app-fontface-config, sans), caption);
                        padding: 0 6px;
                        line-height: 24px;
                        min-width: initial;
                    }
                }
            }

            // group metric row wrapper - contains checkbox, then metric item details
            .query-metric-row {
                display: flex;
                justify-content: center;
                padding-left: 43px;
            }

            // contains the metric row details
            .query-metric-item {
                display: flex;
                width:100%;
                border-bottom:0.5px solid #f2f2f2;
                /*
                flex-direction: column;
                flex-wrap: wrap;
                
                justify-content: stretch;
                margin-bottom: 10px;
                padding-left: 5px;
                */
                .metric-detail {
                    padding: 10px 5px;
                    align-items: stretch;
                    flex: 1;
                    border: 0px solid yellow;
                    .metric-visual{
                        .color{
                            display: inline-block;
                            margin-right: 10px;
                            width:15px;
                            height:15px;
                        }
                        .label {
                            margin-right: 10px;
                            display: inline-block;
                        }
                        .aggregator {
                            display: inline-block;
                        }
                    }
                }

                .metric-action {
                    width: 200px;
                    background: 0px solid grey;
                }


                /*
                .metric-tags {
                    display: flex;
                    align-items: center;

                    // probably the 'tabs:' label
                    :first-child {
                        font-size: mat-font-size(map-get($app-fontface-config, sans), caption);
                    }

                    .mat-chip-list {
                        margin-left: 10px;
                    }

                    .mat-basic-chip {
                        padding: 3px 6px;
                        border-radius: 3px;
                        margin-right: 4px;

                        // first-child should be the tag key
                        :first-child {
                            margin-right: 4px;
                        }
                    }
                    
                }*/
            }

            // mat-expansion-panel inside the accordion (.mat-accordion.query-group-list)
            .mat-expansion-panel.query-group-item {
                margin-bottom: 2px;

                &:hover {
                    .group-selector,
                    .metric-selector {
                        opacity: 1;
                    }
                }
            }

            // collapsible accordion list of the query groups
            .mat-accordion.query-group-list {
                display: flex;
                flex-direction: column;

                // if ANY checkbox is selected, then all the checkboxes become visible
                &.items-selected {
                    .query-group-item {
                        .group-selector,
                        .metric-selector {
                            opacity: 1;
                        }
                    }
                }
            }

            // EXPANDED MODE
            .mat-expansion-panel-header.mat-expanded {
                .mat-icon.arrow-down {
                    display: inline-flex;
                }
                .mat-icon.arrow-right {
                    display: none;
                }
            }

            // NOT EXPANDED
            // getting some wierd background on hover when it was not expaded
            .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']):hover {
                background: transparent;
            }
        }

        .value-options {
            padding-left: 5px;

            font-size: mat-font-size(map-get($app-fontface-config, sans), caption);

            mat-select {
                padding: 5px;
            }
            .values-form-field {
                width: 100px;
            }
        }
    }
}

@mixin bignumber-config-metric-queries-component-theme($theme-config) {

    /* Theme config parts */
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);

    $chip-bg: rgba(map-get($primary, default), .1); 

    .widget-config-tab.bignumber-config-metric-queries-configuration {
        // style rules here

        .query-metric-row {
            .metric-tags {
                .mat-basic-chip {
                    background-color: $chip-bg;

                    // first-child should be the tag-key
                    :first-child {
                        color: rgba(map-get($foreground, text), .65);
                    }
                }
            }
        }

        .value-options {
            mat-select {
                background-color: $chip-bg;
            }
            .mat-form-field-underline {
                background-color: transparent;
            }
        }
    }

}

