<mat-toolbar mat-dialog-title>
    <span class="dialog-title">Search</span>
    <span class="dialog-search flex-spacer">
        <form [formGroup]="searchFormGroup">
            <mat-form-field appearance="fill" class="search-context-form-field">
                <mat-select formControlName="searchContext">
                    <mat-option *ngFor="let context of fakeSearchContextOptions" [value]="context.value">
                        {{context.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="search-query-form-field">
                <input matInput placeholder="Enter your search term"
                    formControlName="searchQuery"
                    [matAutocomplete]="queryAutocomplete"
                    (keydown.enter)="queryKeydown($event)">
                <mat-icon matSuffix fontSet="denali" fontIcon="d-search"></mat-icon>
                <mat-autocomplete #queryAutocomplete="matAutocomplete" (optionSelected)="querySuggestOptionSelected">
                    <mat-option *ngFor="let option of fakeQuerySuggestions" [value]="option">
                        {{option.label}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </span>
    <span class="flex-spacer"></span>
    <span class="dialog-close">
        <button mat-button color="primary" class="close-dialog-btn" [mat-dialog-close]="true">
            <mat-icon fontSet="denali" fontIcon="d-close"></mat-icon>
        </button>
    </span>
</mat-toolbar>
<mat-dialog-content>
    <div class="filter-column">
        <mat-nav-list dense>
            <h3 matSubheader>
                <span>Filter results <span class="mat-caption">({{filterTotalResultCount}})</span></span>
            </h3>
            <a mat-list-item
                [ngClass]="{'is-active': !currentFilter.label || currentFilter.label === 'All'}"
                (click)="selectFilter({label: 'All'})">
                <span>All <span class="mat-caption">({{filterTotalResultCount}})</span></span>
            </a>
            <a mat-list-item 
                *ngFor="let filter of fakeFilters"
                [ngClass]="{'is-active': currentFilter === filter}"
                (click)="selectFilter(filter)">
                <span>{{ filter.label }} <span class="mat-caption">({{filter.count}})</span></span>
            </a>
         </mat-nav-list>
    </div>
    <div class="result-column">
        <div *ngIf="fakeSearchResults.length > 0">
            <div class="result-summary mat-caption">
                Displaying all <span class="search-context">{{searchContext}}</span> results whose titles match "{{searchQuery}}" <span class="search-filter" *ngIf="currentFilter.label !== 'All'">organized by {{currentFilter.label}}</span>
            </div>
            <div class="search-results">
                <div class="result-group" *ngFor="let group of fakeSearchResults">
                    <mat-nav-list dense>
                        <h3 matSubheader class="group-title" *ngIf="group.groupLabel">
                            <strong>{{group.groupLabel}}</strong> <span class="mat-caption">({{group.results.length}})</span> <a mat-button>view all &raquo;</a>
                        </h3>
                        <a mat-list-item *ngFor="let result of group.results">
                            <span>{{result.label}}</span>
                        </a>
                    </mat-nav-list>
                </div>
            </div>
        </div>
    </div>
    <div class="shortcut-column">
        <mat-nav-list dense>
            <h3 matSubheader>
                <mat-icon fontSet="denali" fontIcon="d-time"></mat-icon>
                <span>Recently Visited</span>
            </h3>
            <a mat-list-item href="..." *ngFor="let shortcut of fakeShortcuts"> {{ shortcut.label }} </a>
        </mat-nav-list>
        <mat-nav-list dense>
            <h3 matSubheader>
                <mat-icon fontSet="denali" fontIcon="d-user-group"></mat-icon>
                <span>Team Dashboards</span>
            </h3>
            <a mat-list-item href="..." *ngFor="let shortcut of fakeShortcuts"> {{ shortcut.label }} </a>
        </mat-nav-list>
        <mat-nav-list dense>
            <h3 matSubheader>
                <mat-icon fontSet="denali" fontIcon="d-dashboard-tile"></mat-icon>
                <span>Your Dashboards</span>
            </h3>
            <a mat-list-item href="..." *ngFor="let shortcut of fakeShortcuts"> {{ shortcut.label }} </a>
        </mat-nav-list>
    </div>
</mat-dialog-content>