/* SEARCH ALL DIALOG COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)

@mixin search-all-dialog-component-base() {
    .search-all-dialog {
        @include mat-typography-level-to-styles(map-get($app-fontface-config, sans), body-1);
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;

        .mat-dialog-title {
            @include mat-typography-level-to-styles(map-get($app-fontface-config, sans), body-2);
            flex: 1 1 48px;
            margin: 0;

            &.mat-toolbar {
                display: flex;
                padding: 0 20px;
            }

            .close-dialog-btn {
                min-width: auto;
                padding: 4px;
                line-height: 12px;
                font-size: 12px;
            }
        }

        .dialog-search {
            margin: auto 8px;

            form {
                display: flex;
                align-items: center;
            }

            .mat-form-field {
                padding-bottom: 0;
                line-height: 1;
            }

            .mat-form-field-wrapper {
                padding-bottom: 0;
            }

            .mat-form-field-infix {
                padding: .5em 0 .5em 0;
                border-top: 0;
            }

            .mat-form-field-flex {
                line-height: 1;
                padding: 0 .75em;
                border-radius: 0;
                justify-content: center;
                align-items: center;
            }

            .mat-form-field-underline,
            .mat-form-field-label-wrapper {
                display: none;
            }

            .mat-form-field-type-mat-input {
                width: 100%;
            }

            .mat-form-field {
                &:first-child {
                    .mat-form-field-flex {
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                    }
                }

                &:last-child {
                    .mat-form-field-flex {
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }
                }
            }

            // mat-select arrow correction after all these changes
            .mat-select-arrow-wrapper {
                transform: initial;
            }

            // specific overrides
            .search-context-form-field {
                .mat-form-field-infix {
                    width: 90px;
                }

                .mat-select {
                    .mat-select-value-text {
                        font-size: 12px;
                    }
                }
            }
        }


        .mat-dialog-content {
            max-height: initial;
            flex: 1 1 100%;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            overflow: hidden;
        }

        .filter-column,
        .result-column,
        .shortcut-column {
            overflow: auto auto;
        }

        .filter-column {
            min-width: 240px;

            .mat-nav-list[dense] {
                .mat-subheader {
                    font-weight: 500;
                    padding-left: 20px;

                    .mat-caption {
                        font-weight: 400;
                    }
                }

                .mat-list-item {
                    &.is-active {
                        pointer-events: none;
                    }

                    .mat-list-item-content {
                        padding-left: 20px;
                    }
                }
            }
        }

        .result-column {
            flex: 1;

            .result-summary {
                padding: 16px 10px 10px 10px;
            }
            
            .search-results {
                
                .mat-nav-list[dense] {
                    margin-bottom: 15px;

                    .mat-subheader {
                        padding: 0 10px;
                        height: 24px;
                        margin-bottom: 10px;

                        .mat-caption {
                            margin-left: 5px;
                            margin-right: 5px;
                        }

                        a.mat-button {
                            min-width: auto;
                            padding: 0 .5em;
                            line-height: 24px;
                            font-size: 12px;
                        }
                    }

                    .mat-list-item {
                        height: 24px;

                        .mat-list-item-content {
                            font-size: 12px;
                            padding: 0 10px;
                        }
                    }
                }
            }
        }

        .shortcut-column {
            min-width: 298px;

            .mat-nav-list[dense] {

                &:not(:first-child) {
                    margin-top: 15px;
                }

                .mat-subheader {
                    padding-bottom: 0;
                    text-transform: uppercase;

                    .mat-icon {
                        width: 12px;
                        height: 12px;
                        font-size: 12px;
                        margin-right: 5px;
                        margin-left: -17px;
                    }
                }

                .mat-list-item {
                    height: 24px;

                    .mat-list-item-content {
                        font-size: 12px;
                    }
                }
            }
        }

        .result-column,
        .shortcut-column {
            padding: 0 20px 10px 20px;
        }
    }

    // CDK ITEMS
    .search-all-dialog-panel {
        .mat-dialog-container {
            transform: none;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: stretch;
            padding: 0;
        }
    }
}

@mixin search-all-dialog-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $success: map-get($theme-config, success);
    $is-dark: map-get($theme-config, is-dark);

    $divider: map-get($background, background);
    $card-background: map-get($background, card);

    $light-gray-background: map-get($background, menu);

    $expanded-header-bg: map-get($primary, default);
    $expanded-header-text: map-get($primary, default-contrast);

    $expanded-body-bg: rgba(map-get($primary, default), 0.05);

    $input-bg: if($is-dark, rgba(map-get($foreground, base), .1), lighten(map-get($primary, 50), 2%));
    $input-bg-focus: if($is-dark, rgba(map-get($foreground, base), .12), map-get($primary, 50));


    .search-all-dialog {
        //background-color: map-get($background, background);
        background-color: $card-background;

        .mat-toolbar {
            background: transparent;
            border-bottom: 2px solid $divider;
        }

        .filter-column {
            background-color: $divider;

            .mat-subheader {
                color: map-get($foreground, text);
            }

            .mat-list-item {
                color: map-get($foreground, link);

                &.is-active {
                    color: map-get($foreground, text);
                    background-color: $card-background;
                    box-shadow: inset 3px 0 0 map-get($primary, default);
                }
            }

            .mat-caption {
                color: map-get($foreground, hint-text);
            }
        }

        .result-column,
        .shortcut-column {
            .mat-nav-list[dense] {

                .mat-list-item {
                    color: map-get($foreground, link);
                }
            }
        }

        .result-column {

            .result-summary {
                color: map-get($foreground, hint-text);
            }

            .mat-nav-list[dense] {
                .mat-subheader {
                    border-bottom: 1px solid map-get($foreground, divider);

                    strong {
                        color: map-get($foreground, text);
                    }

                    a.mat-button {
                        color: map-get($foreground, link);
                    }
                }
            }
        }

        .shortcut-column {
            border-left: 2px solid $divider;
        }
    }

    // CDK items
    .cdk-overlay-pane.search-all-dialog-panel {
        .mat-dialog-container {
            background: map-get($background, background);
        }
    }
}
