/* WIDGET COMPONENTS */

// NOTE: These styles cover ALL of the widget panels generic classes.
// TODO: Describe how this is setup & why there are two mixins (at a minimum)
@mixin widgets-common-base() {
    // class that goes on the widget components
    $default-padding: 12px;
    $edit-view-padding: 30px;
    $tab-width: initial;
    $action-bar-height: 30px;

    .widget-panel-content {
        @include mat-typography-level-to-styles(map-get($app-fontface-config, sans), body-1);
        
        .widget-config {
            padding: $default-padding;
        }

        .widget-title,
        .widget-output {
            padding: 0 $default-padding;
        }
        
        .widget-actions {
            padding: $default-padding $edit-view-padding;
        }
        
        .widget-panel-content,
        .widget-controls-container {
            flex: 1 1 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
        }
        
        .widget-output-container {
            flex: 1 1 800px;
            display: flex;
            flex-direction: column;
        
            .widget-title {
                @include mat-typography-level-to-styles(map-get($app-fontface-config, sans), title);
                flex: 1 1 $action-bar-height;
            }
        
            .widget-output {
                flex: 1 1 100%;
            }
        }
        
        // selector icons for the base
        .widget-types {
            margin-top: 20px;
            
            .widget-type-selector {
                padding: 8px 16px 0 16px;
                width: 110px;

                &:not(:last-child) {
                    margin-right: 12px;
                    margin-bottom: 12px;
                }

                .mat-button-wrapper {
                    display: inline-flex;
                    flex-direction: column;
                }
        
                .widget-type-label,
                .widget-type-icon {
                    width: 100%;
                }
        
                .widget-type-label {}
        
                .widget-type-icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
        
                    &::after {
                        content: '';
                        display: block;
                        width: 60px;
                        height: 60px;
                        background-repeat: no-repeat;
                        background-position: 50% 50%;
                    }
        
                    &.widget-icon-bar-graph::after {
                        background-image: url(/assets/widget-icon-bar-graph.png);
                    }
        
                    &.widget-icon-area-graph::after {
                        background-image: url(/assets/widget-icon-area-graph.png);
                    }

                    &.widget-icon-line-chart::after {
                        background-image: url(/assets/widget-icon-line-chart.png);
                    }

                    &.widget-icon-big-number::after {
                        background-image: url(/assets/widget-icon-big-number.png);
                    }

                    &.widget-icon-donut-chart::after {
                        background-image: url(/assets/widget-icon-donut-chart.png);
                    }
                }
            }
        }
        
        .widget-controls-container {
            .widget-actions {
                flex: 1 1 $action-bar-height;
            }
        } 
        
        // mat-tab-group
        .widget-configs {
            flex: 1 1 100%;
        
            .mat-tab-body-wrapper {
                flex: 1 1 100%;
                display: flex;
                flex-direction: column;
                overflow: hidden auto;
            }
        
            .mat-tab-header {
                padding: 0 $edit-view-padding;
                .mat-tab-label {
                    min-width: initial;
                }
            }
        
            .mat-tab-body-content {
                padding: $default-padding $edit-view-padding;
            }
        } 
        
        // save/cancel buttons
        .widget-actions {
            .mat-raised-button:not(:last-child) {
                margin-right: 6px;
            }
        }
    }
    .edit-view-container.is-active {
        .widget-output-container {
            padding: $default-padding $edit-view-padding 0;
    
            .widget-output {
                padding: $default-padding;
            }
        }
    }
}

@mixin widgets-common-theme($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark-theme: map-get($theme-config, is-dark);
    
    .edit-view-container.is-active {
        .widget-output-container {
            background-color: map-get($background, card);
        }
    }
    
    .widget-panel-content {
        .widget-configs {
            background-color: map-get($background, card);
        }
    
        .widget-configs {
            .mat-tab-label:not(.mat-tab-disabled):focus {
                background-color: transparent;
            }
        }
    
        // .widget-tab-configs,
        .widget-actions {
            border-top: 1px solid map-get($foreground, dividers);
        }
    }
}