/* WIDGET COMPONENTS */

// NOTE: These styles cover ALL of the widget panels generic classes.

//** NOTE!!
// ? If you are looking for styles of the config tabs when in edit mode,
// ? then you need to look inside the shared/modules/sharedcomponents module
// ? for the common and individual styles of the config tabs
// **

$widgets-common-config: (
    default-padding: 14px,
    edit-padding: 20px,
    tab-width: initial,
    action-bar-height: 30px,
    output-radius: 4px
);

@mixin widgets-common-base() {
    // class that goes on the widget components
    $default-padding: map-get($widgets-common-config, default-padding);
    $edit-view-padding: map-get($widgets-common-config, edit-padding);
    $tab-width: map-get($widgets-common-config, tab-width);
    $action-bar-height: map-get($widgets-common-config, action-bar-height);
    $output-radius: map-get($widgets-common-config, output-radius);

    .widget-panel-content {
        @include mat-typography-level-to-styles(map-get($app-fontface-config, sans), body-1);
        
        .widget-config {
            padding: 0 $default-padding;
        }

        .widget-title,
        .widget-output {
            padding: 0 $default-padding;
        }
        
        .widget-actions {
            padding: $default-padding $edit-view-padding;
        }
        
        .widget-panel-content,
        .widget-controls-container {
            flex: 1 1 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
        }
        
        .widget-output-container {
            flex: 1 1 800px;
            display: flex;
            flex-direction: column;
        
            .widget-title {
                @include mat-typography-level-to-styles(map-get($app-fontface-config, sans), subheading-2);
                flex: 1 1 $action-bar-height;

                .close-edit-view-btn {
                    min-width: auto;
                    padding: 4px;
                    line-height: 12px;
                    font-size: 12px;
                }
            }
        
            .widget-output {
                flex: 1 1 100%;
            }
        }
        
        .widget-controls-container {
            padding-top: $edit-view-padding;

            .widget-actions {
                flex: 1 1 $action-bar-height;
            }
        } 
        
        // mat-tab-group
        .widget-configs {
            flex: 1 1 100%;
        
            .mat-tab-body-wrapper {
                flex: 1 1 100%;
                display: flex;
                flex-direction: column;
                overflow: hidden auto;
            }
        
            .mat-tab-header {
                padding: 0 $edit-view-padding;
                border-bottom: 0;

                .mat-tab-label {
                    min-width: initial;
                    height: 36px;

                    &:hover {
                        opacity: 1;
                    }

                    // NOTE: assuming the "query editor" is last child
                    // NOTE: can't really add a class to the tab label without a complete rewrite of the tab structure using mat-tab-nav-bar
                    &:last-child {
                        margin-left: auto;
                    }
                }
            }
        
            .mat-tab-body-content {
                padding: $default-padding $edit-view-padding;
            }

            // NOTE: The actual config tab content styles are located under sharedcomponents module
        } 
        
        // save/cancel buttons
        .widget-actions {
            .mat-raised-button:not(:last-child) {
                margin-right: 6px;
            }
        }
    }

    // few items need overrides when we are in edit view
    .edit-view-container.is-active {
        .widget-output-container {
            padding: 0 $edit-view-padding;
    
            .widget-title {
                margin-top: $default-padding / 2;
                margin-bottom: $default-padding / 2;
            }

            .widget-output {
                min-height: 375px;
                padding: $default-padding;
                border-radius: $output-radius;
            }
        }
    }
}

@mixin widgets-common-theme($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark-theme: map-get($theme-config, is-dark);
    
    .edit-view-container.is-active {
        .widget-output-container {
            
            .widget-output {
                background-color: map-get($background, card);
            }
        }
    }
    
    .widget-panel-content {
        .widget-configs {
            // background-color: map-get($background, card);
        }
    
        .widget-configs {
            

            .mat-tab-label:not(.mat-tab-disabled):not(.mat-tab-label-active):focus {
                background-color: transparent;
            }

            .mat-tab-label:not(.mat-tab-label-active) {
                color: map-get($foreground, link);
            }

            .mat-tab-label-active,
            .mat-tab-label:not(.mat-tab-disabled):focus {
                opacity: 1;
                background-color: map-get($background, card);
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }

            

            .mat-tab-body {
                background-color: map-get($background, card);
            }
        }

        .widget-actions {
            border-top: 1px solid map-get($foreground, dividers);
        }
    }
}