<!-- <div class="namespace">
    <span>Namespace:</span>
    <namespace-autocomplete (nschange)="setNamespace($event)" *ngIf="namespaceEdit" [value]="namespace"></namespace-autocomplete>
    <span (click)="namespaceEdit=true" *ngIf="!namespaceEdit">{{ namespace }}</span>
</div>
-->
<div class="metric-tags" *ngIf="namespace">
    <span><strong>Tags:</strong></span>
    <mat-chip-list>
        <span *ngFor="let tag of Object.keys(tags)">
            <span>{{ tag }}:</span> 
            <span *ngFor="let v of tags[tag]" (click)="setEditTagValue( tag, v )" >
                    <span *ngIf="editTagValue !== tag + ':' + v "> {{ v }}</span>
                    <span (blur)=showAddTagButton()>
                        <app-namespace-tag-values *ngIf="editTagValue === tag + ':' + v " [namespace]="namespace" [value]="v" [tagkey]="tag" [tagsSelected]="tags" (tagValueChange)="setTagValue($event, tag)"></app-namespace-tag-values>
                    </span>
            </span>
        </span>
    </mat-chip-list>
    <namespace-tag-autocomplete [namespace]="namespace" [tagsSelected]="tags" (tagchange)="setTag($event)" *ngIf="showTagButton"></namespace-tag-autocomplete>
</div>




    <div class="metric-tags">
        <strong>Tags:</strong>
        <mat-chip-list>
            <mat-basic-chip *ngFor="let tag of query.filters"><span>{{ tag.tagk }}:</span> <strong>{{ tag.filter }}</strong></mat-basic-chip>
        </mat-chip-list>
    </div>
    <div class="expression-metrics" *ngIf="query.settings.expanded">
        <div class="metric" *ngFor="let emetric of query.metrics">
            <div class="metric-alias">
                <span>{{ emetric.id }}</span>
            </div>
            <div class="metric-label">{{ emetric.metric }}</div>
        </div>
    </div>
