<div class="namespace">
    <span>Namespace:</span>
    <namespace-autocomplete (nschange)="setNamespace($event)" *ngIf="namespaceEdit" [value]="namespace"></namespace-autocomplete>
    <span (click)="namespaceEdit=true" *ngIf="!namespaceEdit">{{ namespace }}</span>
</div>

<div class="metric-tags" *ngIf="namespace">
    <span><strong>Tags:</strong></span>
    <mat-chip-list>
        <mat-basic-chip *ngFor="let tag of Object.keys(tags)"><span>{{ tag }}:</span> <span *ngFor="let v of tags[tag]"> {{ v }}</span></mat-basic-chip>
    </mat-chip-list>
    <namespace-tag-autocomplete [namespace]="namespace" [tagsSelected]="tags" (tagchange)="setTag($event)" *ngIf="showTagButton"></namespace-tag-autocomplete>
</div>


<!-- <div class="metric-selector">
                        <button mat-icon-button class="group-checkbox" color="primary" (click)="toggle_metricSelected(query, group, $event)">
                            <mat-icon>{{ (query.settings.selected) ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
                        </button>
</div> -->

<div class="query-metric-item">
    <div class="metric-detail">
        <span class="detail-item" *ngIf="query.metric">{{ query.metric }}</span>

        <span class="expression" *ngIf="query.expression">
            <span class="expression-collapse">
                <button mat-icon-button [disableRipple]="true" (click)="toggleExpressionCollapsed(query, group, $event)">
                    <mat-icon fontSet="denali" *ngIf="query.settings.expanded" fontIcon="d-arrowhead-down" class="arrow-down"></mat-icon>
                    <mat-icon fontSet="denali" *ngIf="!query.settings.expanded" fontIcon="d-arrowhead-right" class="arrow-right"></mat-icon>
                </button>
            </span>
            <span class="expression-detail">
                {{ query.settings.visual.label }} {{ query.expression }}
            </span>
        </span>

        <span class="flex-spacer"></span>
        <span class="action-icons">
            <button mat-icon-button color="primary" (click)="toggleGroupQuery(gIndex, index); $event.stopPropagation();">
                <mat-icon fontSet="denali" fontIcon="d-eye-open" *ngIf="query.settings.visual.visible"></mat-icon>
                <mat-icon fontSet="denali" fontIcon="d-eye-close" *ngIf="!query.settings.visual.visible"></mat-icon>
            </button>
            <!--<button mat-icon-button color="primary" (click)="clone_queryItem(query, $event)">
                                        <mat-icon fontSet="denali" fontIcon="d-duplicate" class="mat-icon-rtl-mirror"></mat-icon>
                                    </button>-->
            <button mat-icon-button color="primary" (click)="deleteGroupQuery(gIndex, index); $event.stopPropagation();">
                <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
            </button>
        </span>
    </div>
    <div class="metric-tags">
        <strong>Tags:</strong>
        <mat-chip-list>
            <mat-basic-chip *ngFor="let tag of query.filters"><span>{{ tag.tagk }}:</span> <strong>{{ tag.filter }}</strong></mat-basic-chip>
        </mat-chip-list>
    </div>
    <div class="expression-metrics" *ngIf="query.settings.expanded">
        <div class="metric" *ngFor="let emetric of query.metrics">
            <div class="metric-alias">
                <span>{{ emetric.id }}</span>
            </div>
            <div class="metric-label">{{ emetric.metric }}</div>
        </div>
    </div>
</div>