<div class="namespace">
    <namespace-autocomplete (nschange)="setNamespace($event)" *ngIf="namespaceEdit" [value]="namespace"></namespace-autocomplete>
    <span (click)="namespaceEdit=true" *ngIf="!namespaceEdit">{{ namespace }}</span>
</div>

<div class="metric-tags" *ngIf="namespace">
    <span><strong>Tags:</strong></span>
    <mat-chip-list>
        <span *ngFor="let tag of Object.keys(tags)">
            <span>{{ tag }}:</span> 
            <span *ngFor="let v of tags[tag]" (click)="setEditTagValue( tag, v )" >
                    <span *ngIf="editTagValue !== tag + ':' + v "> {{ v }}</span>
                    <span (blur)=showAddTagButton()>
                        <app-namespace-tag-values *ngIf="editTagValue === tag + ':' + v " [namespace]="namespace" [value]="v" [tagkey]="tag" [tagsSelected]="tags" (tagValueChange)="setTagValue($event, tag)"></app-namespace-tag-values>
                    </span>
            </span>
        </span>
    </mat-chip-list>
    <namespace-tag-autocomplete [namespace]="namespace" [tagsSelected]="tags" (tagchange)="setTag($event)" *ngIf="showTagControl" (blur)="showAddTagButton()"></namespace-tag-autocomplete>
    <app-namespace-tag-values [namespace]="namespace" [tagkey]="currentTag" [tagsSelected]="tags" (tagValueChange)="setTagValue($event, currentTag)" *ngIf="showTagValueControl"></app-namespace-tag-values>
    <button mat-button color="primary" *ngIf="namespace!='' && !showTagControl && !showTagValueControl" (click)="activateTagAutoSuggest()">+</button>
</div>