<ng-template [ngIf]="multiple" [ngIfElse]="noMultiples">
    <mat-form-field class="metric-search-input-field"
        appearance="outline" color="primary" floatLabel="never" [matMenuTriggerFor]="metricAutocompletePanel">
        <input matInput
            autocomplete="off" 
            placeholder="Filter metrics"
            [formControl]="metricSearchControl"
            (focus)="doMetricSearch()"
            #metricSearchInput>
    </mat-form-field>
    <mat-menu 
        class="metric-autocomplete-cdk-panel"
        yPosition="below"
        [hasBackdrop]="false"
        [overlapTrigger]="false"
        #metricAutocompletePanel="matMenu">
        <ng-template matMenuContent>
            <div class="metric-search-result" (click)="$event.stopPropagation();">
                <mat-tab-group color="primary"
                    mat-align-tabs="start"
                    animationDuration="300ms"
                    [(selectedIndex)]="metricSelectedTabIndex">
                    <mat-tab [label]="'Available(' + metricOptions.length + ')'">
                        <ng-template matTabContent>
                            <div class="option-list has-scroller" style="min-height: 200px;">
                                <div class="is-scroller">
                                    <div class="option-item" *ngFor="let option of metricOptions"
                                        [ngClass]="getMetricIndex(option.name) !== -1 ? 'added' : ''"
                                        (click)="(getMetricIndex(option.name) === -1) ? updateMetricSelection(option.name, 'add') : updateMetricSelection(option.name, 'remove');">
                                        <div class="option-cell">
                                            <mat-icon *ngIf="getMetricIndex(option.name) === -1">add_circle_outline
                                            </mat-icon>
                                            <mat-icon *ngIf="getMetricIndex(option.name) !== -1">remove_circle_outline
                                            </mat-icon>
                                        </div>
                                        <div class="option-cell label">{{ option.name }}</div>
                                    </div>
                                    <div *ngIf="message.metricSearchControl.message"
                                        [ngClass]="message.metricSearchControl.type === 'error'? 'error': 'info'">
                                        <mat-icon>error</mat-icon>
                                        <span>{{ message['metricSearchControl']['message'] }}</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>
                    <mat-tab [label]="'Selected(' + metrics.length + ')'">
                        <ng-template matTabContent>
                            <div class="option-list has-scroller" style="min-height: 200px;">
                                <div class="is-scroller">
                                    <div class="option-item" *ngFor="let metric of metrics; let index=index">
                                        <div class="option-cell">
                                            <mat-icon (click)="removeMetric(metric);">remove_circle_outline</mat-icon>
                                        </div>
                                        <div class="option-cell label">{{ metric }}</div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </ng-template>
    </mat-menu>
</ng-template>

<ng-template #noMultiples>
    <mat-form-field appearance="fill" [color]="'primary'" floatLabel="never" *ngIf="!multiple">
        <input matInput
            type="text" 
            placeholder="Metric"
            autocomplete="off" 
            [formControl]="metricSearchControl"
            [matAutocomplete]="metricAutoComplete"
            (focus)="doMetricSearch()"
            (keydown.enter)="metricACKeydown($event)"
            #metricSearchInput>
    </mat-form-field>
    <mat-autocomplete #metricAutoComplete="matAutocomplete" (optionSelected)="metricACOptionSelected($event)">
        <mat-option *ngFor="let option of metricOptions" [value]="option.name">
            {{ option.name }}
        </mat-option>
    </mat-autocomplete>
</ng-template>