@mixin snooze-alert-dialog-component-base() {
    .snooze-alert-dialog-component {
        width: 100%;
        max-width: 600px;
        min-width: 300px;
        display: flex;
        flex-direction: column;

        .mat-dialog-title {
            margin: 0;
            display: flex;
            padding: 4px 8px 4px 16px;
            align-items: center;
            justify-content: center;
            user-select: none;
        }

        .mat-dialog-content {
            margin: 0;
            padding: 16px;
        }

        .mat-dialog-actions {
            margin-bottom: 0;
            padding: 4px 16px;
        }

        .form-control {
            &:not(:last-child) {
                margin-bottom: 16px;
            }

            .mat-form-field {
                width: 100%;
            }

            .item-row {
                display: flex;
                width: 100%;

                .mat-form-field {
                    &:first-child {
                        margin-right: 4px;
                    }
                    &:last-child {
                        margin-left: 4px;
                    }
                }
            }

            .item-row:not(:last-child) {
                margin-bottom: 8px;
            }
        }

        .mat-label {
            font-weight: 500;
            margin-bottom: 6px
        }

        .mat-divider {
            margin: 16px 0;
        }

        .preset-toggles {
            .mat-button-toggle-group {
                @include mat-elevation(0);
            }
        }
    }
    

    // cdk items
    .snooze-alert-dialog-panel.cdk-overlay-pane {
        width: 100%;
        max-width: 600px !important;
        min-width: 300px;

        .mat-dialog-container {
            padding: 0;
        }
    }
}

@mixin snooze-alert-dialog-component-theme($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $widget: map-get($theme-config, widgets);
    $is-dark: map-get($theme-config, is-dark);


    .snooze-alert-dialog-component {
        .mat-dialog-title {
            border-bottom: 1px solid map-get($foreground, divider);
        }

        .mat-dialog-actions {
            border-top: 1px solid map-get($foreground, divider);
        }

        .preset-toggles {
            .mat-button-toggle-group {
                .mat-button-toggle {
                    color: map-get($primary, default);

                    &.mat-button-toggle-checked {
                        background-color: rgba(map-get($primary, default), .08);
                    }
                }
            }
        }
    }
}