<div class="graphs">
  <div class="graph-output">
      <div #dygraph class="chart"
        dygraphsChart
        [chartType]="'line'"
        [data]="chartData"
        [size]="{'width': size.width/2 - 25, 'height': size.height - 10}"
        [options]="options"
        (zoomed)="handleZoom($event)">
      </div>
    </div>
    
    <div class="graph-output">
      <div #dygraph class="chart"
        dygraphsChart
        [chartType]="'line'"
        [data]="chartData"
        [size]="{'width': size.width/2 - 25, 'height': size.height - 10}"
        [options]="options"
        (zoomed)="handleZoom($event)">
      </div>
    </div>
</div>