<button mat-mini-fab [matMenuTriggerFor]="userMenu">
    <span>J</span>
</button>
<mat-menu #userMenu="matMenu" [overlapTrigger]="false" class="nav-bar-dropmenu nav-bar-user-menu">
    <mat-card class="mat-elevation-z0">
        <mat-card-header>
            <div mat-card-avatar style="background-image: url(https://thestreet.ouroath.com/people/torresr@oath.com/avatar/); background-size: cover;"></div>
            <mat-card-title>Jay Torres</mat-card-title>
            <mat-card-subtitle>Draws pictures</mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <button mat-menu-item class="logout-button">
        <span>Logout</span>
    </button>
</mat-menu>