<!--<div class="panel-heading">
  <h5 class="panel-title">{{widgetconf.title}}</h5>
  <button mat-raised-button (click)="widgetView(widgetconf)">view full</button>
</div>

<div class="panel-body">
  <div widget-container></div>
</div>-->
<mat-card fxLayout="column" fxFlexFill>
    <mat-card-header fxFlex="1 1 28px" fxLayout="row" fxLayoutAlign="stretch stretch" class="panel-heading">
        <mat-toolbar >
            <mat-toolbar-row>
                <span class="panel-title" *ngIf="widget.settings.component_type !== 'PlaceholderWidgetComponent'">{{widget.settings.title}}</span>
                <span class="flex-spacer"></span>
                <button mat-icon-button [matMenuTriggerFor]="widgetMenu">
                  <mat-icon fontSet="denali" fontIcon="d-more-horizontal"></mat-icon>
                </button>
                <mat-menu #widgetMenu="matMenu" xPosition="before" class="widget-menu">
                    <ng-container *ngIf="widget.settings.component_type !== 'PlaceholderWidgetComponent'">
                        <button mat-menu-item (click)="editWidget()">
                            <mat-icon fontSet="denali" fontIcon="d-pencil"></mat-icon>
                            <span>Edit View</span>
                        </button>
                        <button mat-menu-item (click)="widgetClone()">
                            <mat-icon fontSet="denali" fontIcon="d-duplicate"></mat-icon>
                            <span>Clone</span>
                        </button>
                        <button mat-menu-item (click)="widgetShare()">
                            <mat-icon fontSet="denali" fontIcon="d-share"></mat-icon>
                            <span>Share</span>
                        </button>
                        <button mat-menu-item [matMenuTriggerFor]="subMenu">
                            <mat-icon></mat-icon>
                            <span>Export</span>
                        </button>
                        <span class="menu-seperator"></span>
                    </ng-container>
                    <button mat-menu-item (click)="widgetRemove()">
                        <mat-icon fontSet="denali" fontIcon="d-trash"></mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
                <mat-menu #subMenu="matMenu" class="widget-submenu">
                    <button mat-menu-item (click)="widgetExportJSON()">
                        <mat-icon fontSet="denali" fontIcon="d-upload"></mat-icon>
                        <span>Export JSON</span>
                    </button>
                    <button mat-menu-item (click)="widgetExportImage()">
                        <mat-icon fontSet="denali" fontIcon="d-download"></mat-icon>
                        <span>Download Image</span>
                    </button>
                </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>
    </mat-card-header>
    <mat-card-content fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="stretch stretch" class="panel-body">
        <div widget-container></div>
    </mat-card-content>
</mat-card>
