<!--<div class="panel-heading">
  <h5 class="panel-title">{{widgetconf.title}}</h5>
  <button mat-raised-button (click)="widgetView(widgetconf)">view full</button>
</div>

<div class="panel-body">
  <div widget-container></div>
</div>-->
<mat-card fxLayout="column" fxFlexFill>
    <mat-card-header fxFlex="1 1 28px" fxLayout="row" fxLayoutAlign="stretch stretch" class="panel-heading">
        <mat-toolbar >
            <mat-toolbar-row>
                <span class="panel-title">{{widget.config.title}}</span>
                <span class="flex-spacer"></span>
                <button mat-icon-button [matMenuTriggerFor]="widgetMenu">
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #widgetMenu="matMenu" xPosition="before" class="widget-menu">
                    <button mat-menu-item (click)="widgetView()">
                        <mat-icon>fullscreen</mat-icon>
                        <span>Full screen</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>settings</mat-icon>
                        <span>Edit View</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>share</mat-icon>
                        <span>Share</span>
                    </button>
                    <button mat-menu-item [matMenuTriggerFor]="subMenu">
                        <mat-icon></mat-icon>
                        <span>More options</span>
                    </button>
                    <span class="menu-seperator"></span>
                    <button mat-menu-item>
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
                <mat-menu #subMenu="matMenu" class="widget-submenu">
                    <button mat-menu-item>What</button>
                    <button mat-menu-item>The</button>
                    <button mat-menu-item>Hell</button>
                </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>
    </mat-card-header>
    <mat-card-content fxFlex="1 1 100%" fxLayout="column" fxLayoutAlign="stretch stretch" class="panel-body">
        <div widget-container></div>
    </mat-card-content>
</mat-card>
