@mixin dnav-folder-item-component-base() {
    .dnav-folder-item {
        flex: 1;
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        height: 36px;
        font-weight: 300;
        font-size: 12px;

        &.is-editing {
            margin-left: -6px;
            margin-right: -6px;
        }
        
        .mat-icon {
            height: 12px;
            width: 12px;
            font-size: 100%; 
        }
        
        .folder-icon {
            margin-right: 8px;
        }

        .list-item {
            display: flex;
            align-items: center;

            &.edit-form {
                &,
                .mat-form-field {
                    flex: 1;
                }
                .mat-form-field-prefix {
                    margin-left: 6px;
                }
            }

            &.goto-next-folder {
                margin-right: 8px;
            }
        }

        .mat-checkbox {
            margin-right: 8px;
        }

        .folder-name {
            span {
                max-width: 198px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .dnav-folder-menu {
            opacity: 0;
            transition: opacity 200ms ease-in;

            .mat-icon-button {
                .mat-icon {
                    justify-content: center;
                    margin-left: -2px;
                }
            }
        }

        .dnav-menu-trigger {
            width: 1px;
            margin-left: 15px;
        }

        &:hover,
        &.dnav-menu-opened {
            .dnav-folder-menu {
                opacity: 1;
            }
        }
    }

    // CDK Items
    .dnav-cdk-folder-menu {
        //transform: translate3d(40px, -32px, 0);

        .mat-menu-item {
            font-size: 12px;
            font-weight: 300;
            height: 24px;
            line-height: 24px;

            .mat-icon {
                height: 12px;
                width: 12px;
                font-size: 100%; 
            }
        }
    }
}

@mixin dnav-folder-item-component-theme($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark-theme: map-get($theme-config, is-dark);

    $status: map-get($theme-config, status);

    /* navbar config */
    $sn-light: map-get($navbar-config, sn-light);
    $sn-dark: map-get($navbar-config, sn-dark);
    $sn-light-text: map-get($navbar-config, sn-light-text);
    $sn-dark-text: map-get($navbar-config, sn-dark-text);
    $sn-seperator: map-get($navbar-config, sn-seperator);
    $sn-active: map-get($navbar-config, sn-active);

    .dnav-folder-item {
        .save-folder-name {
            color: map-get($status, success);
        }

        .mat-checkbox:not(.mat-checkbox-checked) .mat-checkbox-frame {
            border-color: rgba(255,255,255,.54);
        }

        .list-item.edit-form {
                
            .mat-form-field {
                .mat-input-element::placeholder {
                    color: rgba(255,2552,255, .25);
                }
            }
        }

        .dnav-folder-menu {
            .mat-icon-button {
                background: rgba(0, 0, 0, .2);
            }
        }
    }

    // CDK
    .dnav-cdk-folder-menu {
        //transform: translate3d(40px, -32px, 0);
        background-color: darken($sn-dark, 5%);

        .mat-menu-item {
            color: rgba(255,255,255,.85);

            .mat-icon {
                color: rgba(255,255,255,.5);
            }

            &:hover {
                background-color: $sn-dark;
            }
        }
    }
}