@mixin alert-configuration-contacts-component-base() {

    .alert-configuration-contacts-component {

        .contact-list {
            width: 1000px;

            .mat-form-field-infix {
                justify-content: left;
            }

            .mat-form-field-infix {
                border-top: 0 solid transparent !important;
            }
            .mat-form-field-wrapper {
                padding-bottom: 0 !important;
            }
            .mat-form-field-underline {
                bottom: 0 !important;
            }
        }


        .mega-panel {
            .panel-header {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid lightgray;
                margin-bottom: 10px;
                margin-top: 10px;


                .panel-title {
                    font-size: 16px;
                    font-weight: bold;
                    
                }
            }

            .panel-content {
                .existing-contacts {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    .contact-list-type {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }

        }

        .contacts-form {
            width: 1000px;
        }
    
        // .contacts-title {
        //     font-weight: 600;
        //     margin-bottom: 10px;
        // }
    
    
        .contacts-create-form {
            display: flex;
            // padding: 10px;
            // padding-top: 15px;
            flex-direction: row;
        }
    
        .text-field {
            background:  lightblue;
        }
    
        .labels {
            text-align: right
        }
    
        .label {
            height: 31px;
            margin-bottom: 5px;
            padding-right: 10px;
        }
    
        .selector {
            height: 31px;
            margin-bottom: 5px;
        }                   
    }


}

@mixin alert-configuration-contacts-component-theme($theme-config) {
    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $widget: map-get($theme-config, widgets);
    $is-dark: map-get($theme-config, is-dark);

    .alert-configuration-contacts-component {

    }




}


