<mat-form-field class="contact-list" (click)="showMegaPanel()" floatLabel="never">
  <mat-chip-list #chipList>

    <mat-chip *ngFor="let recipient of alertRecipients" [selectable]="true"
      [removable]="true" (removed)="removeRecipientFromAlertRecipients(recipient.name, recipient.type)">
      {{recipient.name}}
    <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>

    <input placeholder="Add recipients..."
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="addUserInputToAlertRecipients($event)">
  </mat-chip-list>
</mat-form-field>

<div *ngIf="megaPanelVisible" class="mega-panel">

  <div class="panel-header">

      <div class="panel-title">
         <span *ngIf="viewMode === _mode.all">
            Select Recipients
         </span>
  
         <span *ngIf="viewMode === _mode.edit">
            Edit Recipients
         </span>
  
         <span *ngIf="viewMode === _mode.editRecipient">
            Edit {{type}} Recipient
         </span>
  
         <span *ngIf="viewMode === _mode.createRecipient">
            Create Recipient
         </span>
      </div>
  
      <div class="panel-actions" *ngIf="viewMode !== _mode.createRecipient">
  
        <div *ngIf="viewMode === _mode.all">
          <button (click)="setViewMode($event, _mode.createRecipient)"> Create </button>
          <button (click)="setViewMode($event, _mode.edit)"> Edit </button>
        </div>
  
        <div *ngIf="viewMode === _mode.edit">
          <button (click)="setViewMode($event, _mode.all)"> Done </button>
        </div>
  
        <div *ngIf="viewMode === _mode.editRecipient">
          <button (click)="deleteRecipient($event, recipients[recipientType])"> Delete </button>
        </div>
      </div>
  
    </div>

  <div class="panel-content">
    <div *ngIf="viewMode === _mode.all || viewMode === _mode.edit" class="existing-contacts">

        <div class="contact-list-type" *ngFor="let type of types()">
            {{type}}
            <div class="contact-list-of-buttons">
              <span *ngIf="viewMode === _mode.all">
                  <button class="contact-button" *ngFor="let recipient of getUnselectedRecipientsForType(type)" mat-button (click)="addRecipientToAlertRecipients($event, recipient.name, recipient.type)">+ {{recipient.name}}</button>
              </span>

              <span *ngIf="viewMode === _mode.edit">
                  <button class="contact-button" *ngFor="let recipient of getAllRecipientsForType(type)" mat-button (click)="editRecipientMode($event, recipient.name, recipient.type)">x {{recipient.name}}</button>
              </span>
            </div>
        </div>
    </div>

    <div *ngIf="viewMode === _mode.editRecipient || viewMode === _mode.createRecipient" class="change-recipient">

      <mat-radio-group *ngIf="viewMode === _mode.createRecipient" class="radio-group" [value]="recipientType">
          <mat-radio-button class="example-radio-button" *ngFor="let type of typesExceptEmail()" [value]="type" (change)="changeRecipientTypeForCreating($event.value)">
            {{type}}
          </mat-radio-button>
        </mat-radio-group>

        <div class="form">

          <div *ngIf="recipientType === _recipientType.OpsGenie" class="contacts-create-form">
            <div>
              <label>Team Name </label>
              <mat-form-field floatLabel="never" appearance="fill" [hideRequiredMarker]="false">
                <input matInput placeholder="Enter Team Name*" required [value]="recipients[_recipientType.OpsGenie].name" (input)="updateRecipient(recipients[_recipientType.OpsGenie], 'name', $event.target.value)">
              </mat-form-field>
            </div>

            <div>
              <label>API Key </label>
              <mat-form-field floatLabel="never" appearance="fill">
                <input matInput placeholder="Enter API Key*" required [value]="recipients[_recipientType.OpsGenie].apiKey" (input)="updateRecipient(recipients[_recipientType.OpsGenie], 'apiKey', $event.target.value)">
              </mat-form-field>
            </div>

            <div>
              <label>Priority </label>
              <mat-radio-group [value]="recipients[_recipientType.OpsGenie].priority" (change)="updateRecipient(recipients[_recipientType.OpsGenie], 'priority', $event.value)">
                <mat-radio-button value="P1">P1</mat-radio-button>
                <mat-radio-button value="P2">P2</mat-radio-button>
                <mat-radio-button value="P3">P3</mat-radio-button>
                <mat-radio-button value="P4">P4</mat-radio-button>
                <mat-radio-button value="P5">P5</mat-radio-button>
              </mat-radio-group>
            </div>

            <div>
              <label>Tags </label>
              <mat-form-field floatLabel="never" appearance="fill">
                <input matInput placeholder="Enter one-word Tags" [value]="recipients[_recipientType.OpsGenie].tags" (input)="updateRecipient(recipients[_recipientType.OpsGenie], 'tags', $event.target.value)">
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="recipientType === _recipientType.Slack" class="contacts-create-form">
            <div>
              <label>Channel Name </label>
              <mat-form-field floatLabel="never" appearance="fill">
                <input matInput placeholder="Enter Channel Name*" required [value]="recipients[_recipientType.Slack].name" (input)="updateRecipient(recipients[_recipientType.Slack], 'name', $event.target.value)">
              </mat-form-field>
            </div>

            <div>
              <label>Webhook URL </label>
              <mat-form-field floatLabel="never" appearance="fill">
                <input matInput placeholder="Webhook URL*" required [value]="recipients[_recipientType.Slack].webhook" (input)="updateRecipient(recipients[_recipientType.Slack], 'webhook', $event.target.value)">
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="recipientType === _recipientType.OC" class="contacts-create-form">
            <div>
              <label>Name </label>
              <mat-form-field floatLabel="never" appearance="fill">
                <input matInput placeholder="Enter Name*" required [value]="recipients[_recipientType.OC].name" (input)="updateRecipient(recipients[_recipientType.OC], 'name', $event.target.value)">
              </mat-form-field>
            </div>

            <div>
              <label>Display Count </label>
              <mat-form-field floatLabel="never" appearance="fill">
                <input matInput placeholder="Enter Display Count*" required [value]="recipients[_recipientType.OC].displayCount" (input)="updateRecipient(recipients[_recipientType.OC], 'displayCount', $event.target.value)">
              </mat-form-field>
            </div>

            <div>
              <label>Context </label>
              <mat-form-field floatLabel="never" appearance="fill">
                <input matInput placeholder="Enter Context*" required [value]="recipients[_recipientType.OC].context" (input)="updateRecipient(recipients[_recipientType.OC], 'context', $event.target.value)">
              </mat-form-field>
            </div>

            <div>
              <label>OpsDB Property </label>
              <mat-form-field floatLabel="never" appearance="fill">
                <input matInput placeholder="Enter OpsDB Property*" required [value]="recipients[_recipientType.OC].opsDBProperty" (input)="updateRecipient(recipients[_recipientType.OC], 'opsDBProperty', $event.target.value)">
              </mat-form-field>
            </div>

            <div>
              <label>Severity </label>
              <mat-radio-group [value]="recipients[_recipientType.OC].severity" (change)="updateRecipient(recipients[_recipientType.OC], 'severity', $event.value)">
                <mat-radio-button value="1">1</mat-radio-button>
                <mat-radio-button value="2">2</mat-radio-button>
                <mat-radio-button value="3">3</mat-radio-button>
                <mat-radio-button value="4">4</mat-radio-button>
                <mat-radio-button value="5">5</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div *ngIf="recipientType === _recipientType.HTTP" class="contacts-create-form">
            <div>
              <label>Name </label>
              <mat-form-field floatLabel="never" appearance="fill">
                <input matInput placeholder="Enter Name*" required [value]="recipients[_recipientType.HTTP].name" (input)="updateRecipient(recipients[_recipientType.HTTP], 'name', $event.target.value)">
              </mat-form-field>
            </div>

            <div>
              <label>Endpoint </label>
              <mat-form-field floatLabel="never" appearance="fill">
                <input matInput placeholder="Enter endpoint* (e.g., https://...)" required [value]="recipients[_recipientType.HTTP].endpoint" (input)="updateRecipient(recipients[_recipientType.HTTP], 'endpoint', $event.target.value)">
              </mat-form-field>
            </div>
          </div>

        </div>
    </div>

    <div class="panel-footer" *ngIf="viewMode === _mode.editRecipient || viewMode === _mode.createRecipient">
      <div *ngIf="viewMode === _mode.editRecipient">
        <button (click)="saveEditedRecipient($event)"> Save </button>
        <button (click)="testRecipient($event)"> Test </button>
        <button (click)="cancelEdit()"> Cancel </button>
      </div>

      <div *ngIf="viewMode === _mode.createRecipient">
        <button (click)="saveCreatedRecipient($event)"> Save </button>
        <button (click)="testRecipient($event)"> Test </button>
        <button (click)="setViewMode($event, _mode.all)"> Cancel </button>
      </div>
    </div>

  </div>
</div>