<!-- LINE CHART COMPONENT -->
<ng-template [ngIf]="widget.settings.component_type==='LinechartWidgetComponent'">
    <div class="column linechart-container" [formGroup]="gForms">
        <table class="mat-table">
            <thead>
                <tr class="mat-header-row">
                    <th class="mat-header-cell mat-column-index"></th>
                    <th class="mat-header-cell mat-column-metric">Metric</th>
                    <th class="mat-header-cell mat-column-mode">Mode</th>
                    <th class="mat-header-cell mat-column-color-family">Color Family</th>
                    <th class="mat-header-cell mat-column-line-weight">Line Weight</th>
                    <th class="mat-header-cell mat-column-line-type">Line Type</th>
                    <th class="mat-header-cell mat-column-axes">Axes</th>
                    <th class="mat-header-cell mat-column-collapse"></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let query of widget.queries; let gIndex=index">
                    <!-- <tr class="metric-group-row">
                        <td class="mat-cell mat-column-folder-icon">
                            <mat-icon fontSet="denali" fontIcon="d-folder"></mat-icon>
                        </td>
                        <td class="mat-cell mat-column-metric">
                            <span>{{group.title}}</span>
                        </td>
                        <td class="mat-cell mat-column-mode"></td>
                        <td class="mat-cell mat-column-color-family"></td>
                        <td class="mat-cell mat-column-line-weight"></td>
                        <td class="mat-cell mat-column-line-type"></td>
                        <td class="mat-cell mat-column-axes"></td>
                        <td class="mat-cell mat-column-collapse"></td>
                    </tr> -->
                    <tr class="mat-row" *ngFor="let metric of query.metrics; let index = index" [formArrayName]="gIndex">
                        <td class="mat-cell mat-column-index">
                            <div *ngIf="index===0">Q{{ gIndex + 1 }} </div>
                        </td>
                        <td class="mat-cell mat-column-metric" [formGroupName]="index" >
                            <mat-form-field appearance="fill">
                                <input matInput formControlName="label" [placeholder]="metric.name">
                            </mat-form-field>
                        </td>
                        <td class="mat-cell mat-column-mode" [formGroupName]="index"> 
                            <dropdown-visual-type  formControlName="type"></dropdown-visual-type>   
                        </td>
                        <td class="mat-cell mat-column-color-family" [formGroupName]="index">
                            <color-picker (newColor)="selectColor($event, gIndex, index)" [color]="metric.settings.visual.color" enableAuto="'true'"></color-picker>
                        </td>
                        <td class="mat-cell mat-column-line-weight" [formGroupName]="index">
                            <dropdown-line-weight formControlName="lineWeight"></dropdown-line-weight>
                        </td>
                        <td class="mat-cell mat-column-line-type" [formGroupName]="index">
                            <dropdown-line-type formControlName="lineType"></dropdown-line-type>
                        </td>
                        <td class="mat-cell mat-column-axes" colspan="2" [formGroupName]="index">
                            <mat-radio-group  formControlName="axis">
                                <mat-radio-button value="y1">Y1</mat-radio-button>
                                <mat-radio-button value="y2">Y2</mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </tr>           
                </ng-container>
            </tbody>
        </table>
    </div>
</ng-template>
<!-- BAR CHART COMPONENT -->
<ng-template [ngIf]="widget.settings.component_type==='BarchartWidgetComponent'">
    <div class="column display-modifier-container">
        <div class="config-control">
            <span class="mat-label mat-body-strong">Display</span>
        </div>
        <div class="config-control">
            <mat-button-toggle-group class="display-modifier" vertical="true" [formControl]="displayControl">
                <mat-button-toggle value="vertical">
                    <mat-icon fontSet="denali" fontIcon="d-chart-bar-vertical"></mat-icon>
                    <span>Vertical</span>
                </mat-button-toggle>
                <mat-button-toggle value="horizontal">
                    <mat-icon fontSet="denali" fontIcon="d-chart-bar-horizontal"></mat-icon>
                    <span>Horizontal</span>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="column barchart-container" [formGroup]="gForms">

        <table mat-table *ngFor="let ds of dataSources; let gIndex=index" [dataSource]="ds" [formArrayName]="gIndex">
            <ng-container matColumnDef="settings.visual.label">
                <th mat-header-cell *matHeaderCellDef>Metric</th>
                <td mat-cell *matCellDef="let row;let index = index" [formGroupName]="index">
                    <mat-form-field appearance="fill">
                        <input matInput [placeholder]="row.name" formControlName="label">
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container cdkColumnDef="settings.visual.color">
                <th mat-header-cell *matHeaderCellDef>Color</th>
                <td mat-cell *matCellDef="let row;let index = index"  [formGroupName]="index">
                    <color-picker  (newColor)="selectColor($event, gIndex, index)" [color]="row.settings.visual.color"></color-picker>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['settings.visual.label','settings.visual.color']"></tr>
            <tr mat-row *matRowDef="let row;  columns: ['settings.visual.label','settings.visual.color']"></tr>
        </table>
    </div>    
</ng-template>
<!-- BAR CHART AND STACKED BAR CHART COMPONENTS -->
<ng-template [ngIf]="widget.settings.component_type==='StackedBarchartWidgetComponent'">
    <div class="column display-modifier-container">
        <div class="config-control">
            <span class="mat-label mat-body-strong">Display</span>
        </div>
        <div class="config-control">
            <mat-button-toggle-group class="display-modifier" vertical="true" [formControl]="displayControl">
                <mat-button-toggle value="vertical">
                    <mat-icon fontSet="denali" fontIcon="d-chart-bar-vertical"></mat-icon>
                    <span>Vertical</span>
                </mat-button-toggle>
                <mat-button-toggle value="horizontal">
                    <mat-icon fontSet="denali" fontIcon="d-chart-bar-horizontal"></mat-icon>
                    <span>Horizontal</span>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="column stackbars-container" [formGroup]="gForms">
        <div class="config-control">
            <span class="mat-label mat-body-strong">Bars</span>
        </div>
        <mat-table [dataSource]="widget.query.groups" formArrayName="bars">
            <ng-container cdkColumnDef="id">
                <mat-cell *cdkCellDef="let row; let index=index"> Bar {{ index+1 }} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="title">
                <mat-cell *cdkCellDef="let row;let index = index"  [formGroupName]="index">
                    <mat-form-field appearance="fill">
                        <input matInput formControlName="label">
                    </mat-form-field>
                </mat-cell>
            </ng-container>
            <mat-row *cdkRowDef="let row;  columns: ['id','title']"></mat-row>
        </mat-table>
        <!--<div>{{widget.query.groups|json}}</div>-->
    </div>
    <div class="column stacks-container" [formGroup]="gForms">
        <div class="config-control">
            <span class="mat-label mat-body-strong">Stacks</span>
        </div>
        <mat-table [dataSource]="widget.query.settings.visual.stacks" formArrayName="stacks">
            <ng-container cdkColumnDef="id">
                <mat-cell *cdkCellDef="let row; let index=index"> Stack {{ index+1 }} </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="label">
                <mat-cell *cdkCellDef="let row;let index = index"  [formGroupName]="index">
                    <mat-form-field appearance="fill">
                        <input matInput formControlName="label">
                    </mat-form-field>
                </mat-cell>
            </ng-container>
            <ng-container cdkColumnDef="color">
                <mat-cell *cdkCellDef="let row;let index = index"  [formGroupName]="index">
                    <color-picker (newColor)="selectStackColor($event, index)" [color]="row.color"></color-picker>
                </mat-cell>
            </ng-container>
            <mat-row *cdkRowDef="let row;  columns: ['id','label','color']"></mat-row>
        </mat-table>
        <!--<div>{{widget.query.settings.visual.stacks|json}}</div>-->
    </div>
</ng-template>
<!-- DONUT CHART COMPONENT -->
<ng-template [ngIf]="widget.settings.component_type==='DonutWidgetComponent'">
     <div class="column display-modifier-container">
        <div class="config-control">
            <span class="mat-label mat-body-strong">Display</span>
        </div>
        <div class="config-control">
            <mat-button-toggle-group class="display-modifier" vertical="true" [formControl]="displayControl">
                <mat-button-toggle value="pie">
                    <mat-icon fontSet="denali" fontIcon="d-chart-pie"></mat-icon>
                    <span>Pie Cart</span>
                </mat-button-toggle>
                <mat-button-toggle value="doughnut">
                    <mat-icon fontSet="denali" fontIcon="d-chart-donut"></mat-icon>
                    <span>Donut Chart</span>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="column circlechart-container" [formGroup]="gForms">
        <table mat-table *ngFor="let ds of dataSources; let gIndex=index" [dataSource]="ds" [formArrayName]="gIndex">
            <ng-container matColumnDef="settings.visual.label">
                <th mat-header-cell *matHeaderCellDef>Metric</th>
                <td mat-cell *matCellDef="let row;let index = index"  [formGroupName]="index">
                    <mat-form-field appearance="fill">
                        <input matInput [placeholder]="row.name" formControlName="label">
                    </mat-form-field>
                </td>
            </ng-container>

            <ng-container matColumnDef="settings.visual.color">
                <th mat-header-cell *matHeaderCellDef>Color</th>
                <td mat-cell *matCellDef="let row;let index = index"  [formGroupName]="index">
                    <color-picker  (newColor)="selectColor($event, gIndex, index)" [color]="row.settings.visual.color"></color-picker>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="['settings.visual.label','settings.visual.color']"></tr>
            <tr mat-row *matRowDef="let row;  columns: ['settings.visual.label','settings.visual.color']"></tr>
        </table>
    </div>    
</ng-template>