/* WIDGET CONFIG COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)

@mixin widget-config-axes-component-base() {
    .widget-config-tab.axes-configuration {
        // style rules here

        .form-field-group {
            .mat-form-field:not(:last-child) {
                margin-right: 8px;
            }
        }

        .config-control:not(.with-enable-label) > .label {
            display: block;
            margin-bottom: 10px;
        }

        .config-control.with-enable-label {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            .label:first-child {
                margin-right: 10px;
            }

            
        }


    }
}

@mixin widget-config-axes-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);

    .widget-config-tab.axes-configuration {
        // style rules here
    }
}