<mat-card class="snooze-configuration-wrapper mat-elevation-z0">
        <div class="controls-wrapper" >
                <div class="snooze-control-steps" [formGroup]="snoozeForm">
                        <!--<div class="error" > {{ data.error.message }} </div>-->
                        <div class="step-section snooze-section is-visible">
                            <div class="step-section-label">
                                <span class="step-section-label-text">1. Snooze on</span>
                            </div>
                            <div class="step-section-content">
                                <div class="form-group snooze-alert">
                                    <div class="form-label vertical-center"><strong>Alert</strong></div>
                                    <div class="form-control-wrap">
                                        <mat-form-field class="alert-list" (click)="showAlertPanel()" appearance="fill"  floatLabel="never">
                                            <mat-chip-list #chipList>
                                                <mat-chip *ngFor="let item of alertLabels; let index=index" 
                                                            selectable="true" 
                                                            removable="true"
                                                            (removed)="removeAlertOrLabel(index)">
                                                    {{item.label}}
                                                    <mat-icon matChipRemove>cancel</mat-icon>
                                                </mat-chip>
                                                <input matInput class="alert-input" placeholder="Select Alerts" [matChipInputFor]="chipList"
                                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                                                    autocomplete="off" #alertInput>
                                                <span class="mega-panel-trigger" [matMenuTriggerFor]="alertListMenu"  #alertListMenu></span>
                                            </mat-chip-list>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group snooze-tag-filters">
                                    <div class="form-label vertical-center"><strong>Tag Filters</strong></div>
                                    <div class="form-control-wrap">
                                            <query-editor-proto  [query]="queries[0]" [queries]="queries"
                                            [options]="{
                                                showNamespaceBar: false,
                                                enableMultipleQueries: false,
                                                enableMetric: false,
                                                toggleQuery: false, 
                                                cloneQuery: false, 
                                                deleteQuery: false,
                                                enableExplicitTagMatch: false}" 
                                            ></query-editor-proto> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="step-section duration-section">
                            <div class="step-section-label">
                                <span class="step-section-label-text">2. Duration</span>
                            </div>
                            <div class="form-group snooze-duration">
                                <div class="form-label vertical-center"><strong>Set Duration</strong></div>
                                <div class="form-control-wrap">
                                    <mat-radio-group [value]="dateType" (change)="dateType=$event.value">
                                        <mat-radio-button value="preset">Preset</mat-radio-button>
                                        <mat-radio-button value="custom">Custom</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="form-group snooze-duration">
                                <div class="form-label vertical-center"></div>
                                <div class="form-control-wrap date-range">
                                        <mat-button-toggle-group *ngIf="dateType === 'preset'"
                                        class="mat-elevation-z0"
                                        color="primary"
                                        appearance="legacy" 
                                        aria-label="Font Style"
                                        [value]="timePreset"
                                        (change)="timePreset=$event.value">
                                        <mat-button-toggle *ngFor="let option of presetOptions;" [value]="option.label" >{{option.label}}</mat-button-toggle>
                                     </mat-button-toggle-group>
                                     <div class="date-range" *ngIf="dateType === 'custom'">
                                        <mat-form-field appearance="fill">
                                                <mat-label>Start Date</mat-label>
                                                <input matInput 
                                                    autocomplete="off"
                                                    formControlName="startTime"
                                                    [matDatepicker]="startDatePicker">
                                                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                                <mat-datepicker color="accent" class="simple-time-picker-calendar" #startDatePicker></mat-datepicker>
                                            </mat-form-field>
                                            <mat-form-field appearance="fill" class="start-time">
                                                    <mat-label>Start Time</mat-label>
                                                    <mat-select [formControl]="startTimeCntrl">
                                                        <mat-option *ngFor="let option of timeOptions" [value]="option.value">{{option.label}}</mat-option>
                                                    </mat-select>
                                            </mat-form-field>
                                            <mat-error *ngIf="snoozeForm.get('startTime').errors && snoozeForm.get('startTime').errors.required">Please select the Start Date </mat-error>
        
            
                                            <mat-form-field appearance="fill" >
                                                <mat-label>End Date</mat-label>
                                                <input matInput
                                                    autocomplete="off"
                                                    formControlName="endTime"
                                                    [matDatepicker]="endDatePicker">
                                                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                                <mat-datepicker color="accent" class="simple-time-picker-calendar" #endDatePicker></mat-datepicker>
                                            </mat-form-field>
                                            <mat-form-field appearance="fill" class="end-time">
                                                    <mat-label>End Time</mat-label>
                                                    <mat-select [formControl]="endTimeCntrl">
                                                        <mat-option *ngFor="let option of timeOptions" [value]="option.value">{{option.label}}</mat-option>
                                                    </mat-select>
                                            </mat-form-field>
                                            <mat-error *ngIf="snoozeForm.get('endTime').errors && snoozeForm.get('endTime').errors.required">Please select the End Date </mat-error>
                                            <mat-error *ngIf="snoozeForm.get('endTime').errors && snoozeForm.get('endTime').errors.future">End Date & Time should be in future </mat-error>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="step-section notification-section">
                            <div class="step-section-label">
                                <span class="step-section-label-text">3. Notification</span>
                            </div>
                            <div class="step-section-content">
                                <div class="form-group snooze-recipients">
                                    <div class="form-label vertical-center"><strong>Recipients</strong></div>
                                    <div class="form-control-wrap">
                                        <recipients-manager (updatedAlertRecipients)="alertRecipientsUpdate($event)"
                                            [namespace]="data.namespace"
                                            [selectedAlertRecipients]="snoozeForm['controls'].notification.get('recipients').value"
                                            ></recipients-manager>
                                        <mat-error *ngIf="snoozeForm.get('notification').get('recipients').errors && snoozeForm.get('notification').get('recipients').errors.required">Please select the recipients</mat-error>
                                    </div>
                                </div>
                                
                                <div class="form-group alert-message">
                                    <div class="form-label vertical-center"><strong>Alert message</strong></div>
                                    <div class="message-subject-body" formGroupName="notification">
                                        <mat-form-field appearance="fill" floatLabel="never" >
                                            <input matInput autocomplete="off" formControlName="subject" placeholder="Enter a subject">
                                        </mat-form-field>
                                        <mat-error *ngIf="snoozeForm.get('notification').get('subject').errors && snoozeForm.get('notification').get('subject').errors.required">Please enter the subject</mat-error>
                                        <mat-form-field appearance="fill" floatLabel="never">
                                            <textarea matInput autocomplete="off"  formControlName="message" placeholder="Enter a message"></textarea>
                                        </mat-form-field>
                                        <mat-error *ngIf="snoozeForm.get('notification').get('message').errors && snoozeForm.get('notification').get('message').errors.required">Please enter the message</mat-error>
                                    </div>  
                                </div>
                            </div>
                        </div>
                </div>
        </div>
        <mat-card-actions>
            <button mat-flat-button color="primary" type="submit" (click)="validate()">Save Snooze</button>
            <button mat-stroked-button  color="primary" (click)="cancelEdit()">Cancel</button>
        </mat-card-actions>
        </mat-card>
        
        <mat-menu class="alert-options-cdk-panel"
            overlapTrigger="false"
            [hasBackdrop]="true"
            #alertListMenu="matMenu"
            backdropClass="mega-panel-cdk-backdrop"
            disableClose="true">
            <ng-template matMenuContent>
                <div (click)="$event.stopPropagation();" (keydown)="$event.stopPropagation()" class="mega-panel-alert-list-controls" disableRipple>
                    <div class="alert-list-controls">
                        <!-- list view of alerts -->
                        <mat-list dense disableRipple="false">
                            <mat-list-item *ngFor="let item of alertListMeta" (click)="addAlertOrLabel(item)">
                                <span class="add-alert-label">
                                    <mat-icon fontSet="denali" fontIcon="d-add-circle"></mat-icon>
                                </span>
                                <span class="alert-label-details">
                                    <span class="label">{{item.label}}</span>
                                    <span class="type">{{item.type}}</span>
                                </span>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
            </ng-template>
        </mat-menu>