#input-box {
    height: 28px;
    width: 210px;
    font-family: 'Lucida Console';
}

#calendar-icon {
    height: 28px;
    width: 28px;
    padding-top: 2px;
    border: none;
}

.code {
    font-weight: bold;
}
