#input-box {
    height: 28px;
    width: 210px;
    font-family: 'Lucida Console';
}

#calendar-icon {
    min-width: 0px;
    padding: 0px;
}

.code {
    font-weight: bold;
}

.mat-error {
  font-size: 9px;
}