@mixin date-picker-component-base() {
    .date-picker-component {
        position: relative;

        #input-box {
            //height: 28px;
            width: 210px;
        }
        
        #calendar-icon {
            min-width: 0px;
            padding: 1px;
            margin-left: 4px;
        }
        
        .code {
            font-weight: bold;
        }
        
        .mat-error {
            font-size: 9px;
        }

        .calendar-container  {
            // width: 100%;
            position: absolute;
            top: calc(100% - 19px);
            z-index: 1;
        }

        // resetting some input fields 
        .mat-form-field.mat-form-field-appearance-fill {

            .mat-form-field-flex {
                padding: .75em .75em 0 .75em;
            }

            .mat-form-field-infix {
                padding: 0.25em 0 0.75em 0;
                border-top: 0.84375em solid transparent;
            }

            .mat-input-element {
                height: initial;
            }

            .mat-form-field-subscript-wrapper {
                
            }

            .mat-form-field-label-wrapper {
                top: -0.84375em;
                left: 0;
                padding-top: 0.84375em;

                .mat-form-field-label {
                    top: 1.09375em;
                    margin-top: -0.5em;
                }
            }

            &.mat-form-field-can-float {
                &.mat-form-field-should-float {
                    .mat-form-field-label {
                        -webkit-transform: translateY(-0.59375em) scale(0.75);
                        transform: translateY(-0.59375em) scale(0.75);
                    }
                }
            }
        }
    }
}

@mixin date-picker-component-theme($theme-config) {
  /* Theme config parts */
  $primary: map-get($theme-config, primary);
  $accent: map-get($theme-config, accent);
  $warn: map-get($theme-config, warn);
  $foreground: map-get($theme-config, foreground);
  $background: map-get($theme-config, background);
}

