<div class="dp-input-container"
      [hidden]="componentConfig.hideInputContainer"
      [attr.data-hidden]="componentConfig.hideInputContainer">
  <input  id="input-box"
          class="input is-inline"
          [ngClass]="{'is-danger': errors}" 
          type="text"
          [placeholder]="placeholder"
          [(ngModel)]="inputElementValue"
          (ngModelChange)="onViewDateChange($event)"
          (focus)="inputFocused()"
          [readonly]="componentConfig.disableKeypress"
          [disabled]="disabled"
          (keyup.enter)="enterKeyed()"
          />

  <button mat-button id="calendar-icon" (click)="toggleCalendars()"> <mat-icon fontSet="denali" fontIcon="d-calendar"></mat-icon></button>
  <mat-error id="formatValidation"  *ngIf="errors?.format"><div [innerHTML]="formatError"> </div></mat-error>
  <mat-error id="minDateValidation" *ngIf="errors?.minDate"><div>{{minDateError}} </div></mat-error>  
  <mat-error id="maxDateValidation" *ngIf="errors?.maxDate"><div>{{maxDateError}}</div></mat-error>    
</div>

<div #container>
  <div class="dp-popup {{theme}}"
        [ngSwitch]="mode"
        [hidden]="!_areCalendarsShown"
        [attr.data-hidden]="!_areCalendarsShown">

    <dp-day-time-calendar #daytimeCalendar
                          *ngSwitchCase="'daytime'"
                          [config]="dayTimeCalendarConfig"
                          [displayDate]="displayDate"
                          [ngModel]="_selected && _selected[0]"
                          [theme]="theme"
                          (onChange)="dateSelected($event, 'second', true)"
                          (onGoToCurrent)="onGoToCurrent.emit()"
                          (onLeftNav)="onLeftNavClick($event)"
                          (onRightNav)="onRightNavClick($event)">
    </dp-day-time-calendar>      
  </div>
</div>
