/* SEARCH METRICS DIALOG COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)

@mixin search-metrics-dialog-component-base() {
    .search-metrics-dialog {
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;

        .mat-dialog-title {
            flex: 1 1 48px;
            margin: 0;

            &.mat-toolbar {
                display: flex;
                padding: 0 24px;
            }
        }


        .mat-dialog-content {
            max-height: initial;
            flex: 1 1 100%;
            padding: 0;
            margin: 0;
            display: flex;
        }

        .mat-dialog-actions {
            flex: 1 1 65px;
            padding: 12px 24px;
            margin-bottom: initial;
        }

        .content-container {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: stretch;
            justify-content: stretch;
            padding: 12px 24px;
        }

        .input-form-field {
            width: 100%;
        }
    }

    .search-metrics-dialog-panel {
        .mat-dialog-container {
            transform: none;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: stretch;
            padding: 0;
        }
    }

    .search-metrics-dialog-backdrop {

    }
}

@mixin search-metrics-dialog-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $is-dark: map-get($theme-config, is-dark);

    .search-metrics-dialog {
        .mat-toolbar {
            background: transparent;
            border-bottom: 1px solid map-get($foreground, dividers);
        }
    }

}
