<mat-toolbar mat-dialog-title>
    <!--<span>Add Time Series</span>
    <span class="flex-spacer"></span>
    <button mat-icon-button [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>-->
    <span class="dialog-title">Add Query</span>
    <span class="flex-spacer"></span>
    <span>
        <button mat-button color="primary" class="close-dialog-btn" [mat-dialog-close]="true">
            <mat-icon fontSet="denali" fontIcon="d-close"></mat-icon>
        </button>
    </span>

</mat-toolbar>
<mat-dialog-content>
    <!-- graph preview -->
    <div style="height: 350px;" class="graph-preview-pane">
        <div class="graph-preview" fxLayout="row">
            <div class="graph-output" fxFlex="1 1 100%">
                <div id="dygraph_div" dygraphsChart [chartType]="chartType" [data]="data" [size]="size" [options]="options">
                </div>
            </div>
            <div class="graph-metrics" fxFlex="1 1 100%" fxLayout="column">
                <!-- list of metrics in graph goes here -->
                <div class="graph-metric-list-title" fxFlex="1 1 30px">
                    <strong>Selected Queries ({{selectedMetrics.length}})</strong>
                </div>
                <div class="graph-metric-list has-scroller" fxFlex="1 1 100%">
                    <div class="is-scroller">
                        <mat-list>
                            <mat-list-item class="graph-metric-list-item" *ngFor="let metric of selectedMetrics">
                                <button mat-icon-button color="primary" (click)="removeSelectedMetric(metric)">
                                    <mat-icon fontSet="denali" fontIcon="d-close"></mat-icon>
                                </button>
                                <div class="metric-details">
                                    <div class="metric-name">
                                        {{metric.metric}}
                                    </div>
                                    <div class="metric-tags">
                                        <mat-chip *ngFor="let tag of extractMetricTagKeys(metric,true)">
                                            {{tag}}: <strong>{{metric[tag]}}</strong>
                                        </mat-chip>
                                    </div>
                                </div>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- search controls and output-->
    <div class="content-container">
        <div class="metric-search-input-controls" fxLayout="column">
            <div class="mat-toolbar-row">
                <div class="navbar-item namespace-search-control" fxFlex="1 1 288px" fxLayout="column">
                    <mat-form-field appearance="fill" [color]="'primary'">
                        <mat-label>Namespace</mat-label>
                        <input type="text" matInput [formControl]="namespaceControl" [matAutocomplete]="namespaceAuto" (keydown.enter)="namespaceKeydown($event)"
                        />
                    </mat-form-field>
                    <mat-autocomplete #namespaceAuto="matAutocomplete" (optionSelected)="namespaceOptionSelected($event)">
                        <mat-option *ngFor="let option of filteredNamespaceOptions | async" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <div class="navbar-item metric-search-control" fxFlex="1 1 100%" *ngIf="selectedNamespace">
                    <mat-form-field appearance="fill" [color]="'primary'">
                        <mat-label>Metric Search</mat-label>
                        <input matInput [formControl]="searchQueryControl" (keydown.enter)="submitSearch($event)">
                        <mat-icon matSuffix>search</mat-icon>
                        <!--<mat-hint>Displaying 2,000,000,000 results that include "blah blah" in tag keys and values. Grouping results
                            by tags and other amazing stuffz</mat-hint>-->
                    </mat-form-field>
                </div>
            </div> 
            <!--<mat-hint class="mat-caption">Displaying [result count] results in the [namespace] that include "[search terms]" in tag keys and values. Grouping results by tags.</mat-hint> -->  
        </div>

        <!--<mat-toolbar class="metric-search-input-controls">
            <mat-toolbar-row>
                <div class="navbar-item namespace-search-control" fxFlex="1 1 288px" fxLayout="column">
                    <mat-form-field appearance="fill" [color]="'primary'">
                        <mat-label>Namespace</mat-label>
                        <input type="text" matInput [formControl]="namespaceControl" [matAutocomplete]="namespaceAuto" (keydown.enter)="namespaceKeydown($event)"
                        />
                    </mat-form-field>
                    <mat-autocomplete #namespaceAuto="matAutocomplete" (optionSelected)="namespaceOptionSelected($event)">
                        <mat-option *ngFor="let option of filteredNamespaceOptions | async" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <div class="navbar-item metric-search-control" fxFlex="1 1 100%" *ngIf="selectedNamespace">
                    <mat-form-field appearance="fill" [color]="'primary'">
                        <mat-label>Metric Search</mat-label>
                        <input matInput [formControl]="searchQueryControl" (keydown.enter)="submitSearch($event)">
                        <mat-icon matSuffix>search</mat-icon>
                        <mat-hint>Displaying 2,000,000,000 results that include "blah blah" in tag keys and values. Grouping results
                            by tags and other amazing stuffz</mat-hint>
                    </mat-form-field>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>-->
        <!-- DUMP RESULTS STUFF HERE -->
        <div fxLayout="row" fxFlex="1 1 100%" style="height: 100%;">
            <div fxFlex="1 1 300px" class="available-tags" fxLayout="column" >
                <!-- left-->
                <div class="column-title" fxFlex="1 1 30px" *ngIf="results && results.length > 0">
                    <strong>Matching tag keys</strong>
                </div>
                <div class="column-content has-scroller" fxFlex="1 1 100%">
                    <div class="is-scroller">
                        <mat-accordion multi="false">
                            <mat-expansion-panel *ngFor="let k of results;">
                                <mat-expansion-panel-header [expandedHeight]="'48px'" [collapsedHeight]="'48px'">
                                    {{ k.key }} ({{k.values.length}})
                                </mat-expansion-panel-header>
                                <!-- for lazy rendering (see: https://material.angular.io/components/expansion/overview#lazy-rendering) -->
                                <ng-template matExpansionPanelContent>
                                    <div class="has-scroller" style="height: 250px;">
                                        <div class="is-scroller">
                                            <mat-nav-list>
                                                <mat-list-item *ngFor="let tv of k.values" (click)="listSelectedTag(tv)">
                                                    {{ tv.key}} ({{tv.values.length}})
                                                </mat-list-item>
                                            </mat-nav-list>
                                        </div>
                                    </div>
                                </ng-template>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
            <div fxFlex="1 1 100%" fxLayout="column" class="search-results">
                <mat-hint class="mat-caption">Displaying [result count] results in the [namespace] that include "[search terms]" in tag keys and values. Grouping results by tags.</mat-hint>
                <div fxFlex="1 1 100%" class="result-content" *ngIf="selectedResultSet && selectedResultSet.values">
                    <!-- content -->
                    <table mat-table [dataSource]="selectedResultSet.values" class="mat-elevation-z0" style="width: 100%;">

                            <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->
                          
                            <!-- Position Column -->
                            <ng-container matColumnDef="selectMetric">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button (click)="selectMetric(element)">
                                        <mat-icon>add_circle_outline</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <!-- Position Column -->
                            <ng-container matColumnDef="metric">
                              <th mat-header-cell *matHeaderCellDef> Metric </th>
                              <td mat-cell *matCellDef="let element"> {{element.metric}} </td>
                            </ng-container>
                          
                            <!-- Name Column -->
                            <ng-container matColumnDef="host">
                              <th mat-header-cell *matHeaderCellDef> Host </th>
                              <td mat-cell *matCellDef="let element"> {{element.host}} </td>
                            </ng-container>
                          
                            <!-- Weight Column -->
                            <ng-container matColumnDef="hostgroup">
                              <th mat-header-cell *matHeaderCellDef> Hostgroup </th>
                              <td mat-cell *matCellDef="let element"> {{element.hostgroup}} </td>
                            </ng-container>
                          
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="colo">
                              <th mat-header-cell *matHeaderCellDef> Colo </th>
                              <td mat-cell *matCellDef="let element"> {{element.colo}} </td>
                            </ng-container>

                            <!-- Symbol Column 
                            <ng-container matColumnDef="AppID">
                                <th mat-header-cell *matHeaderCellDef> App Id </th>
                                <td mat-cell *matCellDef="let element"> {{element.AppID}} </td>
                            </ng-container>-->

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="other">
                                <th mat-header-cell *matHeaderCellDef> Other</th>
                                <td mat-cell *matCellDef="let element">
                                    <ng-container *ngFor="let tag of selectedResultSetTagKeys.uncommon">
                                        <mat-chip *ngIf="element[tag]">
                                            {{tag}}: <strong>{{element[tag]}}</strong>
                                        </mat-chip>
                                    </ng-container>
                                </td>
                            </ng-container>
                          
                            <tr mat-header-row *matHeaderRowDef="resultTableColumns; sticky: true;"></tr>
                            <tr mat-row *matRowDef="let row; columns: resultTableColumns;"></tr>
                          </table>
                    <!--<table class="mat-table">
                        <thead>
                            <tr class="mat-header-row">
                                <th class="mat-header-cell" *ngFor="let col of selectedResultSetTagKeys?.common">{{col}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="mat-row" *ngFor="let item of selectedResultSet?.values">
                                <td class="mat-cell" *ngFor="let col of selectedResultSetTagKeys?.common">
                                    {{item[col]}}
                                </td>
                            </tr>
                        </tbody>
                    </table>-->
                    <!--<mat-list>
                        <mat-list-item *ngFor="let item of selectedResultSet?.values">
                            <button mat-icon-button (click)="selectMetric(item)">
                                <mat-icon>add_circle_outline</mat-icon>
                            </button>
                            {{ item | json }}
                        </mat-list-item>
                    </mat-list>-->
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="primary" class="mat-elevation-z0" (click)="onClick_Apply()">APPLY</button>
    <button mat-stroked-button color="primary" class="mat-elevation-z0" (click)="onClick_Cancel()">CANCEL</button>
</mat-dialog-actions>
