/* SEARCH METRICS DIALOG COMPONENT */
// TODO: Describe how this is setup & why there are two mixins (at a minimum)

@mixin search-metrics-dialog-component-base() {
    .search-metrics-dialog {
        @include mat-typography-level-to-styles(map-get($app-fontface-config, sans), body-1);
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;

        .mat-dialog-title {
            @include mat-typography-level-to-styles(map-get($app-fontface-config, sans), subheading-2);
            flex: 1 1 48px;
            margin: 0;

            &.mat-toolbar {
                display: flex;
                padding: 0 20px;
            }

            .close-dialog-btn {
                min-width: auto;
                padding: 4px;
                line-height: 12px;
                font-size: 12px;
            }
        }


        .mat-dialog-content {
            max-height: initial;
            flex: 1 1 100%;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .graph-preview-pane {
            height: 350px;
            //padding: 0 20px 20px;

            .graph-preview {
                width: 100%;
                height: 100%;
                //border-radius: 4px;
            }

            // the actual graph
            .graph-output {
                width: 100%;
                height: 100%;
            } 

            // metrics list in graph
            .graph-metrics {
                //border-left: 1px solid  
                //padding: 4px; 
            }

            .graph-output,
            .graph-metrics {
                padding: 10px;
            }

            .graph-metric-list-item {
                font-size: mat-font-size(map-get($app-fontface-config, sans), caption);
                margin-bottom: 5px; 
                height: auto;

                .mat-list-item-content {
                    align-items: flex-start;
                    justify-content: flex-start;
                }

                .mat-icon-button {
                    /*width: 16px;
                    height: 16px;
                    line-height: 1;
                    border: 1px solid currentColor;
                    margin-top: 4px;*/
                    transform: rotate(45deg);

                    .mat-icon {
                        font-size: 18px;
                    }
                }

                /*.mat-icon.denali {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: -1px;
                    font-size: 12px;
                    width: 16px;
                    height: 16px;
                }*/

                .metric-details {
                    margin-left: 12px;
                }
                .metric-name {
                    font-size: 14px;
                }

                .metric-tags {

                    .metric-tag {
                        margin-bottom: 5px;

                        &:not(:last-child) {
                            margin-right: 5px;
                        }

                        strong {
                            margin-left: 4px;
                        }
                    }

                    /*.mat-chip {
                        padding: 3px 6px;
                        font-size: 10px;
                        margin: 2px 4px;
                        
                        strong {
                            margin-left: 4px;
                        }
                    }*/
                }
            }
        }

        .metric-search-input-controls {
            font-size: 14px;
            min-height: 64px;

            .mat-toolbar-row {
                padding: 0;
            }

            .navbar-item {
                margin: 0 6px;
            }

            .mat-form-field {
                width: 100%;
            }

            .mat-form-field-wrapper {
                padding-bottom: 0;
            }

            .mat-form-field-underline {
                bottom: 0;
            }

            .namespace-search-control {
                width: 288px;
            }

            .metric-pivot-control {
                .mat-tab-links {
                    align-items: stretch;
                    justify-content: stretch;
                }

                .mat-tab-link {
                    flex: 1;
                    
                }
            }
        }

        .metric-result-count {
            padding: 2px 6px;
            
            .mat-hint {
                font-size: mat-font-size(map-get($app-fontface-config, sans), caption);
            }
        }

        .mat-dialog-actions {
            flex: 1 1 65px;
            padding: 12px 24px;
            margin-bottom: initial;

            // apply/cancel buttons
            .mat-raised-button:not(:last-child) {
                margin-right: 6px;
            }
            
        }

        .content-container {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: stretch;
            justify-content: stretch;
        }

        .available-tags {
            position: relative;
            display: flex;
            flex-direction: column;

            .column-title {
                @include mat-elevation(1);
                padding: 0 16px;
                display: flex;
                align-items: center;
                z-index: 1;
            }

            .column-content {
                position: relative;
                direction: rtl; // move scrollbar to left

                .mat-accordion {
                    direction: ltr; // reverse all the children back to normal
                }
            }

            .key {
                margin-right: 5px;
                word-break: break-all;
            }

            .mat-expansion-panel {
                margin: 0 5px;
            }

            .mat-expansion-panel-header {
                padding: 0 12px;
            }

            .mat-expansion-panel-body {
                padding: 0;
            }

            .mat-nav-list {
                padding-top: 0;

                .mat-list-item {
                    font-size: mat-font-size(map-get($app-fontface-config, sans), caption);

                    &.is-selected {
                        font-weight: 500;
                    }
                }

                .mat-list-item-content {
                    padding-left: 20px;
                }
            }

            
        }

        .search-results {

            .mat-list-item {
                font-size: mat-font-size(map-get($app-fontface-config, sans), caption);
            }

            .result-content {
                overflow-x: hidden;
                overflow-y: auto;
            }

            .mat-table {
                td.mat-cell,
                th.mat-header-cell {
                    padding: 0 8px;
                }

                td.mat-cell:first-child,
                td.mat-footer-cell:first-child,
                th.mat-header-cell:first-child {
                    padding-left: 16px;
                }

                td.mat-cell:last-child,
                td.mat-footer-cell:last-child,
                th.mat-header-cell:last-child {
                    padding-right: 16px;
                }

                td.mat-column-selectMetric,
                th.mat-column-selectMetric {
                    width: 60px;
                }

                td.mat-column-other,
                th.mat-column-other {
                    width: 100%;
                }

                td.mat-cell:not(.mat-column-selectMetric):not(.mat-column-other) {
                    word-break: unset;
                    hyphens: unset;
                    white-space: nowrap;
                }

                tr.mat-header-row {
                    height: 30px;
                }

                th.mat-header-cell {
                    text-transform: uppercase;
                }

                .select-metric-btn {
                    .mat-icon {
                        font-size: 18px;
                    }
                }

                .metric-tags {
                    .mat-chip {
                        padding: 3px 6px;
                        font-size: 10px;
                        margin: 2px 4px;
                        
                        strong {
                            margin-left: 4px;
                        }
                    }
                }


            }
        }



        /*.mat-expansion-panel {
            .mat-expansion-panel-header {
                padding: 0 12px;
            }

            .mat-expansion-panel-body {
                padding: 0;
            }

            .mat-nav-list {
                padding-top: 0;

                .mat-list-item {
                    font-size: mat-font-size(map-get($app-fontface-config, sans), caption);
                }

                .mat-list-item-content {
                    padding-left: 20px;
                }
            }

        }*/

        .input-form-field {
            width: 100%;
        }
    }

    // CDK ITEMS
    .search-metrics-dialog-panel {
        .mat-dialog-container {
            transform: none;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: stretch;
            padding: 0;
        }
    }

    /*.search-metrics-dialog-backdrop {} */
}

@mixin search-metrics-dialog-component-theme($theme-config) {

    /* Theme config parts */
    $primary: map-get($theme-config, primary);
    $accent: map-get($theme-config, accent);
    $warn: map-get($theme-config, warn);
    $foreground: map-get($theme-config, foreground);
    $background: map-get($theme-config, background);
    $success: map-get($theme-config, success);
    $is-dark: map-get($theme-config, is-dark);

    $divider: map-get($background, background);
    $card-background: map-get($background, card);

    $light-gray-background: map-get($background, menu);

    $expanded-header-bg: map-get($primary, default);
    $expanded-header-text: map-get($primary, default-contrast);

    $expanded-body-bg: rgba(map-get($primary, default), 0.05);

    $input-bg: if($is-dark, rgba(map-get($foreground, base), .1), lighten(map-get($primary, 50), 2%));
    $input-bg-focus: if($is-dark, rgba(map-get($foreground, base), .12), map-get($primary, 50));


    .search-metrics-dialog {
        //background-color: map-get($background, background);
        background-color: $card-background;

        .mat-toolbar {
            background: transparent;
            border-bottom: 2px solid $divider;
        }

        .metric-search-input-controls {
            // border-bottom: 1px solid $divider;

            .mat-form-field-type-mat-input {
                .mat-form-field-flex {
                    background-color: $input-bg;
                }

                &.mat-focused {
                    .mat-form-field-flex {
                        background-color: $input-bg-focus;
                    }
                }
            }
        }

        .metric-results-output {
            border-top: 2px solid $light-gray-background;
        }

        .mat-dialog-actions { 
            border-top: 2px solid $divider;
        }

        .graph-preview-pane {
            border-bottom: 2px solid $divider;

            .graph-preview {
                background: $card-background;
            }

            // metrics list in graph
            .graph-metrics {
                //background-color: $expanded-body-bg;
                border-left: 2px solid $divider; 
            }

            .graph-metric-list-item {
                .mat-icon-button {
                    color: map-get($foreground, link);
                }
            }

            .metric-tags {
                .metric-tag {
                    color: map-get($foreground, hint-text);
                }
            }
        }

        .content-container {
            background: $card-background;
        }

        .available-tags {
            //border-right: 1px solid $divider;
            background-color: $light-gray-background;

            .mat-expansion-panel {
                background: transparent;
                
                &:not(:last-child) {
                    border-bottom: 1px solid $divider;
                }

                .key {
                    color: map-get($foreground, link);
                }

                .count {
                    color: map-get($foreground, secondary-text);
                }


                &.mat-expanded {
                    position: relative;
                    border-bottom: 1px solid $divider;

                    // bottom shadow so it gives some indication that there might be more items
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 12px;
                        width: 100%;
                        display: block;
                        background: linear-gradient(0deg, if($is-dark, rgba(map-get($background, background), .2), rgba(map-get($foreground, base), 0.05)), transparent);
                    }

                    .mat-expansion-panel-header {
                        // background-color: $expanded-header-bg;
                        // color: $expanded-header-text;

                        .key {
                            color: map-get($foreground, text);
                        }
                    }
    
                    .mat-expansion-indicator {
                        // color: $expanded-header-text;
                    }
    
                    .mat-expansion-panel-body {
                        // background-color: rgba($expanded-header-bg, 0.05);

                        .available-tag-values-container.has-scroller {
                            height: 250px;
                        }
                    }

                    .mat-nav-list {
   
                        .mat-list-item.is-selected {
                            .key {
                                color: map-get($foreground, text);
                            }
                        }
                    }
                }
            }
        }

        .search-results {
            .select-metric-btn {
                color: map-get($foreground, link);
            }

            .selected-metric-bg {
                background: map-get($success, 100);
            }
        }
        

    }

    // CDK items
    .cdk-overlay-pane.search-metrics-dialog-panel {
        .mat-dialog-container {
            background: map-get($background, background);
        }
    }

}
