<mat-toolbar mat-dialog-title>
    <span>Add Time Series</span>
    <span class="flex-spacer"></span>
    <button mat-icon-button [mat-dialog-close]="true">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<mat-dialog-content>
    <div class="content-container">
        <mat-toolbar class="">
            <mat-toolbar-row>
                <div class="navbar-item" fxLayout="column">
                    <mat-form-field>
                        <input type="text" matInput [formControl]="namespaceControl" [matAutocomplete]="namespaceAuto" (keydown.enter)="namespaceKeydown($event)"
                            placeholder="Namespace" />
                    </mat-form-field>
                    <mat-autocomplete #namespaceAuto="matAutocomplete" (optionSelected)="namespaceOptionSelected($event)">
                        <mat-option *ngFor="let option of filteredNamespaceOptions | async" [value]="option">
                            {{ option }}
                        </mat-option>
                    </mat-autocomplete>
                </div>
                <div class="navbar-item" fxFlex="1 1 100%" *ngIf="selectedNamespace">
                    <mat-form-field appearance="fill" class="input-form-field">
                        <input matInput [formControl]="searchQueryControl" (keydown.enter)="submitSearch($event)" placeholder="enter your term to search">
                        <mat-icon matSuffix>search</mat-icon>
                        <!--<mat-hint>Displaying 2,000,000,000 results that include "blah blah" in tag keys and values. Grouping results
                            by tags and other amazing stuffz</mat-hint>-->
                    </mat-form-field>
                </div>
              </mat-toolbar-row>            
        </mat-toolbar>
        <!-- DUMP RESULTS STUFF HERE -->
        <div fxLayout="row" fxFlex="1 1 100%" style="height: 100%;">
          <div fxFlex="1 1 300px" style="border-right: 1px solid #ccc; overflow-y: auto;">
              <!-- left-->
              <mat-accordion multi="false">
                  <mat-expansion-panel *ngFor="let k of results;">
                  <mat-expansion-panel-header>
                    {{ k.key }} ({{k.values.length}})
                  </mat-expansion-panel-header>
                  <div class="has-scroller" style="height: 250px;">
                      <div class="is-scroller">
                    <ul>
                        <li *ngFor="let tv of k.values" (click)="listSelectedTag(tv)">
                            {{ tv.key}} ({{tv.values.length}})
                        </li>
                    </ul>
                    </div>
                  </div>
                  </mat-expansion-panel>
              </mat-accordion>
          </div>
          <div fxFlex="1 1 100%">
              <!-- content -->
              <mat-list>
                  <mat-list-item *ngFor="let item of selectedResultSet?.values">
                      <button mat-icon-button (click)="selectMetric(item)"><mat-icon>add_circle_outline</mat-icon></button>
                      {{ item | json }}
                    </mat-list-item>
              </mat-list>
          </div>
        </div>
        <div style="height: 350px;">
          <!-- graphs review-->
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <a mat-button color="primary" (click)="onClick_Apply()">APPLY</a>
    <a mat-button color="accent" (click)="onClick_Cancel()">CANCEL</a>
</mat-dialog-actions>
