<mat-form-field [formGroup]="registerForm" appearance="fill" style="min-width: 296px;">
        <mat-label>{{inputBoxName}}</mat-label>
        <input matInput 
            #dateInput 
            [ngModel]="date" 
            (ngModelChange)="onDateChange($event, false)"
            (focus)="inputFocused()" 
            type="text" 
            formControlName="dateInput" 
            class="form-control"/>
    <button matSuffix mat-icon-button (click)="toggleCalendar()">
        <mat-icon fontSet="denali" fontIcon="d-calendar" color="primary"></mat-icon>
    </button>
</mat-form-field>

<div *ngIf="formFields.dateInput.errors" class="invalid-feedback">
    <mat-error id="formatValidation"  *ngIf="formFields.dateInput.errors.format && date"><div [innerHTML]="formatError"> </div></mat-error>
    <mat-error id="formatValidation"  *ngIf="formFields.dateInput.errors.maxDate"><div> {{maxDateError}} </div></mat-error>
    <mat-error id="formatValidation"  *ngIf="formFields.dateInput.errors.minDate"><div> {{minDateError}} </div></mat-error>
</div>

<div class="angular-utc-datepicker_datepicker">
    <div class="angular-utc-datepicker_calendar-popup" ngClass="calendarPosition" [hidden]="!showCalendar"
        (keydown)="keydown($event)" tabindex="0">
        <div class="angular-utc-datepicker_calendar-controls">

            <button class="angular-utc-datepicker_title" (click)="toggleDisplay()" *ngIf="displayDayCalendar">
                {{calendarTitle}} 
            </button>

            <button class="angular-utc-datepicker_title" (click)="toggleDisplay()" *ngIf="!displayDayCalendar">
                {{monthCalendarTitle}} 
            </button>

            <button class="angular-utc-datepicker_prev" (click)="prev()"><--</button>

            <button class="angular-utc-datepicker_next" (click)="next()">--></button>

        </div>

        <div *ngIf="displayDayCalendar">
            <div class="angular-utc-datepicker_day-names">
                <div class="angular-utc-datepicker_name" *ngFor="let name of dayNames">{{name}}</div>
            </div>
            <div class="angular-utc-datepicker_calendar">
                <div class="angular-utc-datepicker_day {{day.selected}} {{day.enabled}}" 
                    *ngFor="let day of days"
                    (click)="day.enabled === 'angular-utc-datepicker_enabled' ? selectDate(day) : null">
                    {{day.day}}
                </div>
                <div class="angular-utc-datepicker_clear"></div>
            </div>
        </div>

        <div *ngIf="!displayDayCalendar">
            <button class="angular-utc-datepicker_name" *ngFor="let month of monthNames; let i = index" (click)="monthSelected(i)">{{month}}</button>
        </div>

    </div>
</div>
