<!-- <mat-form-field appearance="fill" style="min-width: 296px;">
        <mat-label>{{inputLabel}}</mat-label>
        <input matInput 
            id="input-box"
            [placeholder]="placeholder"
            [(ngModel)]="inputElementValue"
            (ngModelChange)="onViewDateChange($event)"
            (focus)="inputFocused()"
            [readonly]="componentConfig.disableKeypress"
            [disabled]="disabled"
            (keyup.enter)="enterKeyed()">
        <button matSuffix mat-icon-button (click)="toggleCalendars()">
            <mat-icon fontSet="denali" fontIcon="d-calendar" color="primary"></mat-icon>
        </button>
        
        <mat-error id="minDateValidation" *ngIf="errors?.minDate"><div>{{minDateError}} </div></mat-error>  
        <mat-error id="maxDateValidation" *ngIf="errors?.maxDate"><div>{{maxDateError}}</div></mat-error> 
    </mat-form-field> -->

<!-- class="angular-utc-datepicker_input" -->
<mat-form-field appearance="fill" style="min-width: 296px;">
     <!-- (keydown)="keydown($event)"> -->
    <form [formGroup]="registerForm">
        <div class="form-group">
            <input matInput 
                #dateInput 
                [ngModel]="date" 
                (ngModelChange)="onDateChange($event, false)"
                (focus)="inputFocused()" 
                type="text" 
                formControlName="dateInput" 
                class="form-control"/>
        </div>

    </form>

    <div *ngIf="formFields.dateInput.errors" class="invalid-feedback">
        <mat-error id="formatValidation"  *ngIf="formFields.dateInput.errors.format"><div [innerHTML]="formatError"> </div></mat-error>
        <mat-error id="formatValidation"  *ngIf="formFields.dateInput.errors.maxDate"><div> {{maxDateError}} </div></mat-error>
        <mat-error id="formatValidation"  *ngIf="formFields.dateInput.errors.minDate"><div> {{minDateError}} </div></mat-error>
    </div>
</mat-form-field>

<button matSuffix mat-icon-button (click)="toggleCalendar()">
        <mat-icon fontSet="denali" fontIcon="d-calendar" color="primary"></mat-icon>
</button>

<div class="angular-utc-datepicker_datepicker">
    <div class="angular-utc-datepicker_calendar-popup" ngClass="calendarPosition" [hidden]="!showCalendar"
        (keydown)="keydown($event)" tabindex="0">
        <div class="angular-utc-datepicker_calendar-controls">
            <div class="angular-utc-datepicker_prev" (click)="prevMonth()" (keydown)="keydown($event)">
                <i class="fa fa-arrow-left"></i>
            </div>
            <div class="angular-utc-datepicker_title">
                {{calendarTitle}} 
                <span class="angular-utc-datepicker_today" title="Today" (click)="selectToday()"
                      (keydown)="keydown($event)"><i class="fa fa-calendar-o"></i>
                </span>
            </div>
            <div class="angular-utc-datepicker_next" (click)="nextMonth()" (keydown)="keydown($event)">
                <i class="fa fa-arrow-right"></i>
            </div>
        </div>
        <div class="angular-utc-datepicker_day-names">
            <div class="angular-utc-datepicker_name" *ngFor="let name of dayNames">{{name}}</div>
        </div>
        <div class="angular-utc-datepicker_calendar">
            <div class="angular-utc-datepicker_day {{day.selected}} {{day.enabled}}" *ngFor="let day of days"
                (click)="day.enabled === 'angular-utc-datepicker_enabled' ? selectDate(day) : null">
                {{day.day}}
                </div>
            <div class="angular-utc-datepicker_clear"></div>
        </div>
    </div>
</div>
